[2016-01-28 02:33] AllenFang commented on #239
Thanks, I'll find a best solution for you or add a feature in these day

[2016-01-28 02:53] eric379990 opened #240 "After insert row, the screen is still dimmed."
Hello, I am using "react-bootstrap-table": "1.4.1", I have enabled the insertRow, but I found when I finish the new row input and click the save button of the pop up modal, the row has been added, but the screen is still in dimmed state. I need to click the screen again to exit the dim state. I am using Chrome 47.0.2526.106 (64-bit).

I found it is OK in your Demo web page, I don't know what shoul

[2016-01-28 05:40] lebeier commented on #50
This feature is definitely welcomed. the fact that it does not support nested objects make it feel rather rigid in design. I hope to see this implemented soon =)

[2016-01-28 05:48] informa opened #241 "Search Bootstrap classes"
If you add search <BootstrapTable search> how do you change the markup or bootstrap column classes around the search input ie col-sm-6.

Is this possible?

[2016-01-28 06:22] MalumRuby commented on #238
Uh.. I just put the empty function, the data still shift in Chrome.
[code]

[2016-01-28 06:31] AllenFang commented on #238
which version of ```react-bootstrap-table``` and chrome you used

[2016-01-28 06:32] AllenFang commented on #240
@eric379990, thanks issues report, I'll check this out

[2016-01-28 06:36] AllenFang commented on #241
could you explain this more detail? if user enable search, I just render a div on toolbar, and all the styles is fixed, I dont do any changing on markup, you can see the ```src/TableBody.js```.

Anyway, do you have any customization issues?

[2016-01-28 06:37] AllenFang commented on #238
Anyway, I'll test the case of empty function.

[2016-01-28 06:43] MalumRuby commented on #238
version 1.4.5

[2016-01-28 07:45] MalumRuby commented on #238
BTW I'm using redux.

[2016-01-28 08:31] flipjs commented on #239
Cool! Probably an option like searchClear={true} on the BootstrapTable, which will add a bootstrap button group on the search input.

Looking forward to this. Many thanks!

[2016-01-28 08:31] informa commented on #241
Just a styling query really.
Yeah I just wanted to know if it is possible to change the markup on the toobar. Specifically the bootstrap grid classes around the search input. No big deal -- I can just override styles.  Thanks for replying.

[code]

[2016-01-28 08:34] AllenFang commented on #239
it's idea for this case, but just another question, if I add this clear button with search input field, which means your user need click that button by themself, am I right?

[2016-01-28 08:36] AllenFang commented on #241
ok, if you think there are some bad css class on markdown or anything you think it can be tuned, feel free to open PR :)

[2016-01-28 08:36] #241 closed

[2016-01-28 09:34] Dhaval8087 opened #244 "Checkbox checked property still remainig even if I reassgined data"
I have two tab and in both tab I have used the react-bootstrap-table so on very first tab I have selected 2 record usig check box and going to second tab and select one record and came back to first tab it will show 2 record selected even if I have reassigned data when tab is clicked how can I set all deselect when change tab and coming back

[2016-01-28 10:22] AllenFang commented on #244
@Dhaval8087, do you want the table clean all selection states when switching tab?

[2016-01-28 11:39] flipjs commented on #239
Hi Allen. That's correct. User has to click on the clear button. When the clear button was click, it will empty/clear the search input, and shows all data again on the table.

[2016-01-28 12:20] AllenFang commented on #239
Great, I'll support this feature. Thanks

[2016-01-28 12:37] AllenFang commented on #238
@MalumRuby, this component have no any relation with redux, however, I tried a empty sort function in chrome, but it's fine. so could you please give me a example code which can reproduce this issue. And what's the version of your chrome?

[2016-01-28 12:42] Dhaval8087 commented on #244
Yes it should not maintain the state when I switch to other tab currently it maintain the state

[2016-01-28 12:55] AllenFang commented on #244
The selection state should be maintain inside even if you reload the data. Because I never know the state outside of this component. So, there are some solution for you:
1. when you change tab, you can set the default selected as empty for cleaning table selection.
2. I can provide a expose API function for user to clean the selection state as their desired

I thinks the second one is a better sol

[2016-01-28 13:09] Dhaval8087 commented on #244
Yes, Please it would be really great help if you can update in react-bootstrap-table API so user can clean the select state wherever he wants :) its really appreciate your quick response I am waiting for next version
Thanks

[2016-01-28 14:08] kopax commented on #50
@AllenFang sorry for not replying. I really liked your table unfortunately I wasn't able to implement anything in your code.
I would also love to reuse react-bootstrap-table in the futur so +1 for adding the feature

[2016-01-28 14:09] anthonypaparella commented on #227
@AllenFang +1 was able to reproduce

on Chrome Version 47.0.2526.106 (64-bit)
using react-bootstrap-table.css

<BootstrapTable data={this.props.list} pagination={true} search={true}>
        <TableHeaderColumn isKey={true} dataSort={true} dataFormat={buildLink} dataField="po_id">PO ID</TableHeaderColumn>
        <TableHeaderColumn dataSort={true} dataField="po_number" hidden={true}>PO Number</Tabl

[2016-01-28 15:07] AllenFang commented on #50
that's ok, I know this feature is very important, but I'm busy and there are lot of things to do, so I prefer to fix bug first. If I've free time, I'll come back and support this features. Anyway, PR is welcome :)
Thanks

[2016-01-28 16:00] AllenFang commented on #227
I've planed to design a new bootstrap table to solve the width and align problem. need some time.

[2016-01-28 16:05] AllenFang commented on #237
if problem still remain, please follow #227.  I'll redesign bootstrap table for fixing column width and some issue for styling. But need some time. so close this issue and follow up #227

[2016-01-28 16:05] #237 closed

[2016-01-28 22:02] flipjs commented on #239
Great! Thank you Allen!

[2016-01-29 14:59] juancarlosfarah commented on #50
+1
Will try and have a look at this too!

[2016-01-29 18:44] jmc420 opened #245 "Compatible with react bootstrap?"
Hi

is this component compatible with React bootstrap (https://github.com/react-bootstrap/react-bootstrap)?

[2016-01-30 03:03] AllenFang commented on #245
@jmc420, I think the answer is yes.

[2016-01-30 06:19] #239 closed

[2016-01-30 06:19] #244 closed

[2016-01-30 06:21] AllenFang commented on #244
[code]
Supported on v1.4.6

[2016-01-30 06:22] AllenFang commented on #239
check example [6eb548e](https://github.com/AllenFang/react-bootstrap-table/commit/6eb548e59d8b791dcbdd23e431f764b74d9f815b)
Supported on v1.4.6

[2016-01-30 08:15] flipjs commented on #239
Excellent! Thank you @AllenFang !

[2016-01-30 10:49] KamilT opened #246 "Ability to set search function to "match beginning of string" mode"
Basically I'm asking if there is an option to set search to behave like filter with the same value on all visible columns.

Right now in search table example (the one with products listing) if you type for example "odu" nothing is filtered out because it matches prODUcts... There should be a search mode in which row is filtered from the view if at least one of **visible** row values  does not star

[2016-01-31 00:41] alisan617 opened #247 "Row click callback to change component class's state"
What is the easiest way to pass "row" to a React component's state via onRowClick?

var options = {
  onRowClick: function(row) {

<BootstrapTable options={options}....>

Thanks.

[2016-01-31 05:21] AllenFang commented on #247
[code]

[2016-01-31 05:21] #247 closed

[2016-02-01 08:34] dana2208 opened #249 "Improved filtering"
Hi,

Would you be interested in a pull request where filters are part of the table header and could be either:

- text input

- select input

- number input together with a select input containing comparators (>, =, >=, <, <=)

- date input

- any other customizable filter written in react

I am actually developing that by hooking the react-bootstrap-table, but I think it would be great if it woul

[2016-02-01 12:12] AllenFang commented on #249
@dana2208, it's good features, feel free to contribute and discuss with me :)

[2016-02-01 18:32] bbodi opened #250 "Doubleclick event handler support"
First, thanks for your work and for this library!

The default "insert new row" feature is nice, but in many situations, it is better to allow the programmer to handle this in a specific way. For this, it would be useful if the programmer could provide an event handler for double clicking on a row.

[2016-02-01 18:55] matthewpolkiewiczsc commented on #240
I'm also seeing this problem when using bootstrap 3.3.6 Javascript + CSS. I don't see it when I used version 3.3.2 (like your examples).

[2016-02-02 04:08] MalumRuby commented on #238
Well, I fixed the problem.

I rewrote the handleSort function.
[code.txt](https://github.com/AllenFang/react-bootstrap-table/files/113392/code.txt)

My Chrome version: 48.0

[2016-02-02 10:13] magj2006 opened #251 "can not support customize button"
I want to add a customize button ,but it can not support now. and I can't modify the props of button, eg: display name.

[2016-02-02 11:15] ronsc commented on #50
+1

[2016-02-02 12:32] magj2006 opened #252 "rowSelect error"
I set rowSelect to Table, eg:

const onRowSelect = (row, isSelected) => {
      console.log(row);
      console.log('selected: ' + isSelected);
}

const selectRowProp = {
      mode: 'checkbox',
      clickToSelect: true,
      bgColor: 'rgb(238, 193, 213)',
      onSelect: onRowSelect,
      selected:  this.props.selected
    };

<BootstrapTable data={fileList} selectRow={selectRowProp} search de

[2016-02-02 12:32] AllenFang commented on #250
@bbodi, I thinks there are two issues,

there are some way to insert new row data, first is just add new row into your state of table data, second is you can call the ```handleAddRow``` which exposed by ```BootstrapTable```, you can check the [docs](http://allenfang.github.io/react-bootstrap-table/docs.html#the-attributes-in-tableheadercolumn)

there's no way to handle double click on row, maybe I

[2016-02-02 12:33] AllenFang commented on #240
ok, @eric379990, what's version of bootstrap you used?

[2016-02-02 12:35] AllenFang commented on #251
@magj2006, did you want to add a button in column?

[2016-02-02 12:38] AllenFang commented on #252
@magj2006, what's version of ```react-bootstrap-table``` did you used?

[2016-02-02 16:35] jmc420 opened #254 "scroll bars"
Hi

I noticed an issue with the scroll bars.

The markup generated by react-bootstrap-table looks like this:

<div class="react-bs-container">
 <div class="react-bs-table-container" style="height:100%">
  <div class="table-header-wrapper">
 <div class="table-container" style="height:100%">

the css rule table-container has overflow:auto which should switch on the scroll bars when the table overflo

[2016-02-03 04:41] magj2006 commented on #251
No, I want to add a button in toolbar.
Thanks your answer.

[2016-02-03 04:52] magj2006 commented on #252
Okay, I upload simple code file named FILEVIEW.txt.
[FILEVIEW.txt](https://github.com/AllenFang/react-bootstrap-table/files/115126/FILEVIEW.txt)
and the version is latest:
# more package.json | grep table
 "react-bootstrap-table": "^1.4.6",

[2016-02-03 05:48] magj2006 commented on #252
This error resulted in the selection operation works only on the first line, the other line does not work.

[2016-02-03 08:54] kolyabokov opened #255 "Pagination doesn't work in IE9"
In IE9 (emulated via Dev tollbar of IE11) if you click any pagination link - all available page numbers will disapear and the table will show "There is no data to display" message.
This can be reproduced at example page http://allenfang.github.io/react-bootstrap-table/

[2016-02-03 12:15] #245 closed

[2016-02-03 14:52] AllenFang commented on #254
@jmc420, thanks this issue report, it's a enhancement got height of table, however, I've planed to design the new DOM structure of ```react-bootstrap-table```, so I think this issue will be solved in that patch :+1:

[2016-02-03 14:52] AllenFang commented on #252
ok, I'll check this out

[2016-02-03 14:54] AllenFang commented on #251
Sorry, there are no way to do this. the workaround is add some button on the top of table or try to find the class name of toolbar div and append button to it

[2016-02-04 06:38] AllenFang commented on #255
@kolyabokov, I'll check this out. And what's version did you used?

[2016-02-04 08:40] kolyabokov commented on #255
@AllenFang, the latest version, 1.4.6

[2016-02-04 09:03] AllenFang commented on #255
ok, thanks :)

[2016-02-04 13:44] AllenFang commented on #246
@KamilT, sorry for a later reply, the search is just fully text matching, I think I've ability to do this for your requirement, but this is not a major feature, so I'll implement this in near future

[2016-02-04 16:02] dana2208 commented on #249
Hello @AllenFang,
 I have just commited the beginning of my implementation for improved filtering.
This is WIP, but I'll be glad you'll have a look and tell me if this is a good direction to go to.
This is there:
[https://github.com/dana2208/react-bootstrap-table/tree/filtering]
And here are the changes:
[https://github.com/dana2208/react-bootstrap-table/commit/f5097f88b81ee8b85c26004763b4f40a3571

[2016-02-04 17:10] AllenFang commented on #249
@dana2208, thanks this improvement, because chinese new year was coming, I'm going to take vacation in these day. Anyway, if this patch is all work fine, just make a PR, I'll review it.

btw, I've ran up your examples, It's look like perfect :), but some questions as following:
1. the filter field can't be put on the left side ?(I know the column width is a big problem, so dont care about) ;(
2. I

[2016-02-05 15:18] AllenFang commented on #252
@magj2006, can you give me your repo all fully example, because I cant reproduce this issues :)

Thanks

[2016-02-05 20:20] vgoklani opened #257 "How to style the delete button?"
I need to change both the location and the color of the delete button, is there a simple way of doing that?

Thanks!

[2016-02-07 18:53] opensourcegeek opened #258 "Any ideas on performance optimization please?"
I'm testing with 5000 items in the table, I can show it fine when I enable pagination however searching makes the browser hang. Do you have any ideas on how to optimize please? I'm already using redux for maintaining state by the way and I'm not sure if I can use immutable js with react-bootstrap-table.

[2016-02-07 19:55] vgoklani commented on #258
same issue here :)

[2016-02-08 08:13] opensourcegeek commented on #258
I'm wondering if I could just use keys in search(possibly making it quicker?). In my implementation my keys are already unique referring to an object passed into table. All my fields are combined with a separator to create this key. If I can just search the keys field, it will be enough I think(?).

So for example if my key is ABC$DEF$GHI$1.2.3.4$00:01:02:03, and if the user is searching for "GHI

[2016-02-09 05:34] AllenFang commented on #258
For a quick response,
there are some absolutely performance issue on there, I'll spend some time to solve it after my vacation, but need some time, there are a lot of things to do..  sorry

and ```react-bootstrap-table``` can't just search key only, it's a fully text searching.
if you encounter a performance issues of search, I suggest you don't use embedded search.
because search will be trigger

[2016-02-09 05:38] AllenFang commented on #257
@vgoklani, if I give some class or id on delete button is helpful to you? if ok, I can add it after my vacation :)

[2016-02-09 12:44] Dodeo commented on #240
Same for me with 3.3.6 bootstrap version.

[2016-02-09 13:41] psibi opened #259 "Global Table Search doesn't work properly in presence of null"
Throws the following error in console:

[code]

[2016-02-09 14:08] VenkataKotra commented on #50
+1

[2016-02-09 15:00] magj2006 commented on #252
Happy New Year! I created a new project , and import 'react-bootstrap-table', and result it worked good ago some days, so I guess it is caused by my project's some code. I am looking for it.
Thanks so much.

[2016-02-09 16:24] AllenFang commented on #252
@magj2006, thanks, if this problem is still remained, feel free to discuss at here :)

[2016-02-09 16:24] #252 closed

[2016-02-09 16:29] AllenFang commented on #259
could you please give me a correct example, thanks. I'll check it out after my vacation

[2016-02-09 19:37] pirate opened #260 "On state change: Uncaught TypeError: Cannot read property 'props' of null"
Whenever I search my table (or update its state in any way), I get this error, and the table breaks.

`Uncaught TypeError: Cannot read property 'props' of null` on line `48` on on `TableColumn`'s `children`.

<img width="655" alt="screen shot 2016-02-09 at 2 29 15 pm" src="https://cloud.githubusercontent.com/assets/511499/12928100/a50bbac2-cf39-11e5-9512-08b6ef70d9f6.PNG">
Chrome dev console break

[2016-02-10 05:23] AllenFang commented on #260
Thanks for bug report, I'll check this out after my vacation, need some time :)

[2016-02-10 05:30] pirate commented on #260
新年快乐！Enjoy your vacation  :), no rush.

[2016-02-10 05:47] pirate commented on #258
You might already have tried this, but one trick to prevent lag when typing in the search field is to add a 500ms delay from last `keyUp` before actually executing the search.

<img width="331" alt="screen shot 2016-02-10 at 12 45 58 am" src="https://cloud.githubusercontent.com/assets/511499/12939640/ace01ca6-cf8f-11e5-888e-76f47053ad27.PNG">
[code]
(please excuse me using jQuery, I copied this fr

[2016-02-10 06:29] AllenFang commented on #260
happy new year :)

[2016-02-10 14:37] AllenFang commented on #260
@pirate, which version of ```react-bootstrap-table``` did you used? and are you sure the code will produce the error? because I can't reproduce this followed by your example code

[2016-02-10 21:29] dukedougal opened #261 "How do I get the selected keys?"
I can't find any example of how to get the selected keys  would you mind giving a small example please?

I can see mention of selectedRowKeys in the issues but I cannot see how to use it.

Also if you are willing it would be great to show how to get selected keys from a parent/container component.

thanks

[2016-02-11 19:05] pirate commented on #260
react-bootstrap-table `1.5.0`, react `0.14.6`.  I'll try a few things, and if they don't work I'll see if I can write some more reproducible code than this snippet.

[2016-02-12 14:23] jochenberger commented on #227
I've created a Fiddle to demonstrate the issue:https://jsfiddle.net/8huu795c/

[2016-02-12 15:03] jochenberger opened #266 "Custom header cells"
I'd like to be able to customize the `th` elements, for example, I'd like to render custom data attributes depending on the column and the sorting state, e.g.
[code]

[2016-02-12 16:38] Dhaval8087 opened #267 "How to set width of Checkbox coloum"
Hello,

I have implemented a checkbox column in table like

selectRowProp = {
                    mode: this.props.recordSelectionType,
                    clickToSelect: true,
                    bgColor: "rgb(206, 239, 254)",
                    onSelect: onRowSelect,
                    onSelectAll: onSelectAll,
                    selected: selectedValues

                };
now in UI checkbox

[2016-02-12 21:20] dukedougal opened #268 "Column widths don't match headers, and change when selection checkbox is clicked"
I've seen a few other issues here saying that column widths do not match header widths but I'm not sure if this issue is fixed.

Also each time I click on the select checkbox, the column contained the select checkboxes gets a little bit wider.

[2016-02-12 23:37] staminaloops commented on #261
Hello,

This is something that is not documented (I don't know if @AllenFang wants to keep this api undocumented, lets wait for him to return from vacations).

If you want to know the current selected row keys, you can do as follows:

[code]

You can see all the examples on the example folder, and more examples regarding row selection here:
https://github.com/AllenFang/react-bootstrap-table/tree/m

[2016-02-13 00:01] staminaloops commented on #258
Yes @pirate something like debounce https://github.com/lodash/lodash/blob/4.3.0/lodash.js#L8577 will improv performance I think.

[2016-02-13 00:30] staminaloops commented on #266
Hello,

This works for me, although I dont know if its meant to be used like this (never have thought about until now):

[code]

[2016-02-13 00:38] staminaloops commented on #267
Hello,
I cant reproduce it:
![image](https://cloud.githubusercontent.com/assets/11683210/13024237/eb46d97e-d1e9-11e5-9ebc-0ab1484be7c8.png)

Anyway, @AllenFang is on vacations (well deserved!), maybe he can help out when he comes back.
Meanwhile, can you give us a full example?

[2016-02-13 00:54] staminaloops commented on #268
Hello,

@AllenFang is on vacations (well deserved!), but please follow this https://github.com/AllenFang/react-bootstrap-table/issues/227

AllenFang commented 15 days ago
I've planed to design a new bootstrap table to solve the width and align problem. need some time.

[2016-02-13 07:37] bhavikmshah opened #269 "Add a delete button on each row"
Hi,

For deletion ,nn the current implementation i can see a radio button or checkbox for multiple select.
One need to select radio button / checkbox and then click the delete button in the toolbar to delete the row from the table.
Is there a way where in we can have a delete button for each row and on click on that we can delete the row ??

Thanks,
Bhavik

[2016-02-15 02:54] eric379990 commented on #240
Hi Allen, I am using Bootstrap v3.3.5, sorry for late reply due to in Spring festival holiday. @AllenFang

[2016-02-15 08:08] jochenberger commented on #266
Thanks, that will help me customize the content of the `th` element, but not its attributes. And I don't know the column's sorting state - I'd like to render `data-column-sort="sortable|ascending|descending"`.

[2016-02-15 12:22] jochenberger opened #273 "Provide unminified production distribution"
I'd like to propose adding an unminified aggregated build (e.g. `dist/react-bootstrap-table.js`). This will make debugging much easier for users.

[2016-02-15 12:37] jochenberger opened #274 "Customization of the "no data to display" cell"
I'd like to be able to customize what is displayed if there is no data available. Currently, my use case is that I'd like to remove the `text-align: center` style.

[2016-02-15 12:42] AllenFang commented on #269
there are two solution which you can choose, I put both all in the following example
Feel free to discuss with me or join [gitter](https://gitter.im/AllenFang/react-bootstrap-table) to discuss
[code]

[2016-02-15 12:42] #269 closed

[2016-02-15 12:45] AllenFang commented on #274
@jochenberger, how about I add a class name on the ```tr``` so that you can override it by css on your site?

[2016-02-15 12:53] AllenFang commented on #273
HI @jochenberger, As I know, only one main entry point I can assign on npm package. Any idea?

[2016-02-15 12:59] AllenFang commented on #268
thanks @staminaloops, I thinks these all width issues will be fixed in near future, if problem still remain, feel free to open another issue

[2016-02-15 12:59] #268 closed

[2016-02-15 13:10] AllenFang commented on #267
@Dhaval8087, there's no way to set the width on selection column currently, but the problem of selection column it's taking so much width, I'll reduce its column size and make the checkbox align on center. But this improvement will be included in my new plan for fixing table column width problem so need some time:)

Thanks

[2016-02-15 13:14] jochenberger commented on #274
Yes, that would help me for my current project. I wonder if I might need more flexibility someday, but I can always open another issue then. Thanks!

[2016-02-15 13:17] jochenberger commented on #273
Sorry, I don't have much experience with node and npm. But, if I understand the question correctly, the minified version could still be the default and the unminified one could be an additional option. Or can you set it up so that the file is chosen depending on the `NODE_ENV` of the application?

[2016-02-15 13:23] AllenFang commented on #266
@jochenberger, the solution as following, use ```react-dom``` to find the ```ref``` which you defined
[code]

[2016-02-15 13:26] AllenFang commented on #266
another things is about how to get the sort state, you can set ```onSortChange``` hook at ```options``` prop. check this [example](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/sort/sort-hook-table.js)

[2016-02-15 13:26] #266 closed

[2016-02-15 13:28] jochenberger opened #275 "Option to move pagination to the top"
I'd like to be able to render the pagination above the table instead of below.

[2016-02-15 13:30] jochenberger commented on #266
Yes, that'll do it, thanks!

[2016-02-15 13:33] AllenFang commented on #261
@staminaloops answer is right, anyway, I'll add it on document in near future, sorry about that.

[2016-02-15 13:33] #261 closed

[2016-02-15 13:36] AllenFang commented on #274
ok, I'll add it on next version, thanks

[2016-02-15 13:42] AllenFang commented on #273
me too, i'm not sure about this issues,

I think it's impossible, i'll spend some time to find the solution, but the priority is lower, sorry

[2016-02-15 13:42] AllenFang commented on #273
if you find any case like you said, please let me know or PR is welcome :)

[2016-02-15 13:45] AllenFang commented on #259
this condition is seems like #260. will be solved in these day

[2016-02-15 14:37] jochenberger commented on #266
Unfortunately I also have to remove the `span.order` element that is created since https://github.com/AllenFang/react-bootstrap-table/commit/55ac719981bfd30708059f218b33431e4650bc2a. Maybe that could be made optional.

[2016-02-15 15:06] AllenFang commented on #266
your goal is add some custom attribute on ```th```, why to remove the ```span.order``` elm  in the content of ```th```?

[2016-02-15 15:13] staminaloops commented on #266
I surely cant understand what you are trying to do, or why do you want to use data-attributes or messing directly with the DOM with React. Maybe you should consider changing your approach :)

[2016-02-15 15:17] jochenberger commented on #266
I want to render custom sort icons. The CSS that I use does that by setting different background images on the `th` elements depending on the `data-column-sort` attribute. Now, if I set those attributes, I get the sort icons from the CSS as well as the default sorting icons from the `span.order`.
That's why I wrote that I wanted to customize the whole `th` in the first place. ;-)

[2016-02-15 15:28] AllenFang commented on #266
@jochenberger, if I make the [55ac719](https://github.com/AllenFang/react-bootstrap-table/commit/55ac719981bfd30708059f218b33431e4650bc2a) as an optional, can this help you solve all issues?

btw, if I don't want to make the [55ac719](https://github.com/AllenFang/react-bootstrap-table/commit/55ac719981bfd30708059f218b33431e4650bc2a) as an optional, instead, I provide a props to let you to set the

[2016-02-15 15:30] AllenFang commented on #275
@jochenberger, I dont want to make this as an optional, sorry. But you can customize one based on ```react-bootstrap-table```

[2016-02-15 15:37] AllenFang commented on #240
@eric379990 ok

[2016-02-15 15:55] jochenberger commented on #266
I can hide the span by setting display:none in my CSS. That seems imperfect to me but I can live with it. ;-) Option 2 would not help me though.

[2016-02-15 16:07] AllenFang commented on #266
@jochenberger, great!

[2016-02-15 16:22] psibi commented on #259
Sorry, been quite busy. I will give you an example tomorrow. But I think issue 260 is different. In my example, some of the data in the table had `null` in it and that caused the problem. Replacing `null` value with an empty string solved the issue temporarily for me.

And yes, enjoy the vacation!

[2016-02-16 08:47] liqili commented on #214
I have found some issues about Table Search functionality.
1.The search key will match the hidden column.
2.I meet problems following the below steps.
a.SelectAll records
b.Search by some condition.Some records are filtered.
c.I still get all records including filtered records when submitting to backend .

[2016-02-16 09:40] jochenberger commented on #275
It's alright if you don't want to support it. If you just don't want to spend any time on it, I can as well create a PR.

[2016-02-16 09:54] jochenberger commented on #227
I updated the fiddle so it works with Chrome. https://jsfiddle.net/8huu795c/1/
Btw, the column widths are fine in Chromium, but they are off in Firefox.

[2016-02-16 09:56] psibi commented on #259
CC: @AllenFang

This slightly modified demo code reproduces the problem:

[code]

Note that one of the `price` value is `null` and I have enabled searching using `search={true}`.

[2016-02-16 10:25] jochenberger commented on #227
If I set `min-width` on the `th`s as well as `width` and `max-width`, the rows are aligned properly in Firefox.

[2016-02-16 12:26] AllenFang commented on #214
@liqili, thanks issues report, could you please open another issues so that I can solved issues by each issues number

[2016-02-16 12:28] AllenFang commented on #275
sure, there are some important issues need to fix, sorry

[2016-02-16 12:28] #275 closed

[2016-02-16 12:29] AllenFang commented on #259
@psibi, great!!!

[2016-02-16 12:30] jochenberger commented on #275
Okay, would you like a PR or don't you want that feature anyway?

[2016-02-16 12:32] AllenFang commented on #227
@jochenberger, thanks your exmaple, I'll take care about this on my new plan :+1:

[2016-02-16 12:47] AllenFang commented on #275
@jochenberger, I have no idea, you can open a PR for this feature. Before opening PR, I think you need to tell me where the pagination be moved(on top of toolbar or below?) and make sure this feature more configurable. btw, because there are a lots of changing in my new plan for fixing table structure and column width problem, so I think wait me to release this change is better for you. :)

[2016-02-16 12:58] AllenFang commented on #259
btw, what version of ```react-bootstrap-table``` did you used?

[2016-02-16 13:19] psibi commented on #259
Version: 1.5.0
By the way, I'm able to repeat this even without search={true} parameter. Just having `null` value triggers this for me.

[2016-02-16 13:45] AllenFang commented on #259
```react``` version is ? because I cant reproduce this issues by your case on ```1.5.0``` and ```react@0.14.6```

[2016-02-16 14:16] psibi commented on #259
I have the same react version `0.14.6`. Not sure why then it is happening to me. Probably, will update it to `0.14.7` and see.

[2016-02-16 14:19] jochenberger commented on #217
If I understand https://webpack.github.io/docs/configuration.html#devtool correctly, the `*eval*` devtools should not be used for production. In any case, they cause issues if the resulting files are passed through a minifier. For example, I get: "RequireJS error: define: exports is not defined, modules react-bootstrap-table"

[2016-02-16 14:30] AllenFang commented on #259
so the ```TypeError: children is null``` is the error message ?

[2016-02-16 14:41] dana2208 opened #276 "Combination of Edit cell and Select row"
Hello,

I found 2 implementations that feel not right when combining the edit cell and the select row feature.
Here is the way I combine them:
`const selectRowProps = {clickToSelect: true, clickToSelectAndEditCell: true, mode: "radio", className: "row-selected", hideSelectColumn: true};`
`const cellEditProps = {mode: "dbclick"};`
`<BootstrapTable ref="table" data={this.dataSet} cellEdit={cellEditP

[2016-02-16 14:54] jochenberger commented on #273
Closed in favor or #277

[2016-02-16 14:54] #273 closed

[2016-02-16 15:14] dana2208 opened #278 "selectRow property improvement suggestions"
Hi!

I have 2 improvement suggestions concerning the selectRow property:

1. From a semantic point of view, I think it would be more appropriate for `selectRow.mode` to receive `"single"` and `"multiple"` rather than `"radio"` and `"checkbox"`.
Indeed, it has a UI connotation (the way you want it to render) rather than a behavior connotation (the way you want it to behave). When specifying the mod

[2016-02-16 15:52] dana2208 commented on #273
Hi,

While running the project (either with gulp prod or gulp example-server) in chrome you can see in the developer tool in the source tab the folders "webpack://" > "." > "src". In the "src" you can see all the sources and debug there.
Isn't it what you wanted?
![image](https://cloud.githubusercontent.com/assets/10193337/13081556/ed2382b2-d4d5-11e5-994d-44783821b449.png)

[2016-02-16 15:57] jochenberger commented on #273
@dana2208 no, I want to be able to use my Java web framework's minification/aggregation capabilities.

[2016-02-17 01:32] AllenFang commented on #273
@jochenberger, you used Java web framework to minify javascript code? what tool you used?

[2016-02-17 07:51] jochenberger commented on #273
I'm using [Apache Tapestry](http://tapestry.apache.org/) together with https://github.com/eddyson-de/tapestry-react. The minification is done via [Google Closure Compiler](https://developers.google.com/closure/compiler/).

[2016-02-17 09:12] dana2208 opened #279 "Combination of Edit cell and Filter"
Hello,

When table is filtered on a specific value, let's say names that contain "A" and I edit a row and change the name to "BBB" then I expect the row not to be displayed after the row is saved since it does not fit the result set.
I guess we can achieve that behavior using the prop `afterSaveCell` but I think it should be built in and now it looks like a bug.

What do you think?

[2016-02-17 12:45] #274 closed

[2016-02-17 12:47] AllenFang commented on #260
@pirate, I've published ```v1.5.1``` and you can try it again :)

[2016-02-17 12:49] AllenFang commented on #259
@psibi, could you try again with ```v1.5.1```?

[2016-02-17 12:52] AllenFang commented on #257
@vgoklani, I've add a classname on delete button, so I think you can customize it. but change location is hard to do, so if you want to another style delete button, I suggest you dont enable ```deleteRow``` and customize one by yourself and call exposed function: ```handleDropRow``` to delete row

[2016-02-17 12:52] #257 closed

[2016-02-17 12:55] AllenFang commented on #274
@jochenberger, I've added a classname on "no data to display" ```td``` on newest version.

[2016-02-17 13:32] AllenFang commented on #276
@dana, thanks this problem report, I need some time to check this out. btw, I follow your example, but I found when I click row, the row selection can't be triggered, seems like a bug

[2016-02-17 13:36] dana2208 commented on #276
Hi,

This is point 2 of my issue

If you follow my explanation you'll understand why this happens.

Let me know about point 1 if you want this tiny PR.

Thanks

BTW I am @dana2208 not dana :)

[2016-02-17 13:40] AllenFang commented on #276
@dana2208, sorry, I found your explanation, so tired, a busy year. Anyway, I'll check this problem at first and discuss with you, thanks :)

[2016-02-17 17:36] AllenFang commented on #279
You are right, I thinks this is easy to fix.

[2016-02-17 23:49] annelorraineuy opened #280 "Selecting all (row selection) + Pagination does not return all data"
Hi there. Great module!! Props to you for creating this, I love it! :+1:

However, I think it's quite inconsistent that selecting all rows _(when pagination = true)_ only returns the rows on 1 page when all other rows on the rest of pages are actually selected! Is there a way to make the behaviour consistent?

Either `currentSelectedAndDisplayData` returns all the selected rows, or only the rows o

[2016-02-18 05:38] AllenFang commented on #280
@annelorraineuy, did you want to get the all selected rows?

[2016-02-18 06:15] annelorraineuy commented on #280
Yes. Either behaviour is fine as long as it is consistent. Get all selected rows or have only the rows on 1 page be selected.

[2016-02-18 07:18] AllenFang commented on #280
[code]
reference from #261
Thanks!

[2016-02-18 07:18] #280 closed

[2016-02-18 15:44] Dhaval8087 opened #281 "Sorting not behave properly"
Hello Allen,

I have implemented one column in table in that column my data like

Col A           Col B
 1                 abc
 2                 ABC
 3                 bcd

so when I sort  col B data should like

abc
ABC
bcd

but in my component it's look like
abc
bcd
ABC

basically in sorting it will count upper case and lowercase can you please let me know how we can avoid upper and lower case

[2016-02-19 01:28] pirate commented on #260
Appears to be fixed, thanks!

[2016-02-19 01:28] #260 closed

[2016-02-19 01:42] AllenFang commented on #260
@pirate, Thank you. I am very grateful. I've no idea about accepting any donations:) Actually, I need more contributor to help this project become better :)
Thanks :+1:

[2016-02-19 01:47] AllenFang commented on #281
@Dhaval8087, It seems like a bug for now, so I need to trace to know why I use upper case or lower case when sorting, if I found the reason, I will tell you and implement a mechanism to avoid case,
Thanks :)

[2016-02-19 05:36] liqili opened #282 "Issues of table search"
I have found some issues about Table Search functionality.
1.The search key matched the hidden column.
2.I met problems following the below steps.
a.SelectAll records
b.Search by some condition.Some records are filtered.
c.I still get all records including filtered records when submitting to backend .

[2016-02-19 05:37] #214 closed

[2016-02-19 05:42] liqili opened #283 "Problems of the column filter functionality in v1.5.1"
Followed by example,I set the TableHeaderColumn  parameters like below.
`<TableHeaderColumn dataField="templateName" dataSort={true} filter={{type: "TextFilter", placeholder: "Please enter a value"}}>Report Name</TableHeaderColumn>`
But,I got errors when entering some text in the filter component.Errors illustrated as below.
"Uncaught TypeError: Cannot read property 'handleFilter' of undefined"
ca

[2016-02-19 05:44] priyanka1-webonise opened #284 "change the column filter position"
Is there any option to change the position of column filter position?
currently it is at bottom of the table I want to it at after the table header

[2016-02-19 05:47] liqili commented on #284
In v1.5.1,you can set the TableHeaderColumn parameters like below.
` <TableHeaderColumn dataField="name" filter={{type: "TextFilter", placeholder: "Please enter a value"}}>Product Name</TableHeaderColumn>`

[2016-02-19 05:47] AllenFang commented on #282
@liqili, I'll check this out. Thanks :)

[2016-02-19 05:48] AllenFang commented on #284
@priyanka1-webonise, check [examples](https://github.com/AllenFang/react-bootstrap-table/tree/master/examples/js/column-filter), this feature release on v1.5.1, it will apply filter on header

[2016-02-19 05:51] liqili commented on #282
@AllenFang Thanks very much.Regarding issue 2,I think it's not a problem if I can get the record sets displayed in the screen.

[2016-02-19 05:51] AllenFang commented on #283
@liqili. could you try to remove the ```dataSort```? and post result  here. Thanks

[2016-02-19 05:55] liqili commented on #283
@AllenFang I still got errors although removing the `dataSort`.Just like this.
`<BootstrapTable
	      		id = "selectTable"
	      		data={this.dataSet}
	      		keyField="id"
				exportCSV={true}
				csvFileName = "template_sheet.csv"
	      		striped={true}
				hover={true}
				// condensed={true}
				pagination={true}
				search={true}
				selectRow={this.state.selectRowProp}>
			  <TableHeader

[2016-02-19 05:57] AllenFang commented on #283
ok, I'll check it out, thanks your feedback!

[2016-02-19 06:00] AllenFang commented on #282
@liqili, for issue 2, you can try this:
[code]

[2016-02-19 06:07] liqili commented on #282
@AllenFang Fine.Thank you!

[2016-02-19 06:08] AllenFang commented on #282
@liqili, if work, please let me know :)

[2016-02-19 06:33] liqili commented on #282
@AllenFang Thanks,It's satisfied my requirements.

[2016-02-19 06:35] AllenFang commented on #282
Great, I will fix issues 1

[2016-02-19 06:44] priyanka1-webonise commented on #284
Thanks for quick reply.
Can I replace this text filter with another custom react component.
I want to replace it with slider.

[2016-02-19 06:54] AllenFang commented on #284
check [this](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/column-filter/custom-filter.js)

[2016-02-19 06:57] priyanka1-webonise commented on #284
Hey thank you so much.
awesome product as lot of customization possible.

[2016-02-19 07:02] AllenFang commented on #284
Thanks, I am very grateful. btw, this feature implemented by another contributor @dana2208, he give this awesome feature :+1:

[2016-02-19 07:02] #284 closed

[2016-02-19 11:22] dana2208 commented on #283
@liqili, can you try not to hide the first column and see if it works?

[2016-02-19 15:42] L5eoneill opened #285 "Column header widths change after render"
Table rows render first, with column headers in the wrong widths. Then, they jump to the correct widths to go with the rows. This is especially visible when switching between tabs that each contain their own tables. It takes something like a whole second to settle down the table layouts, which isn't good for the user experience.

When I set all columns but one to fixed width:
`<TableHeaderColumn d

[2016-02-19 16:29] AllenFang commented on #278
@dana2208,
I agree this both suggestion, but I'll improve second suggestion first, because first suggestion will cause user to change their client code, so I prefer not to fix first suggestion currently, how do you think

btw, this component have a lot of improvement need to do, its all keep in my mind, like make es6 more compatible, testing, refactoring ```src/TableBody.js```, performance tuning

[2016-02-19 16:39] Dhaval8087 opened #286 "How set filter column at above"
Hello Guys,

I want to set filter row column at above currently it's available at bottom. can you please let me know how we can set at above I mean below the column header

[2016-02-19 19:22] L5eoneill opened #287 "selectRow needs a class property"
Since you can't set a width with a table header, selectRow should have a property to assign a class to the column.

[2016-02-19 22:05] pgiani commented on #285
Im having the same issue

[2016-02-20 01:37] AllenFang commented on #286
is [column-filter](https://github.com/AllenFang/react-bootstrap-table/tree/master/examples/js/column-filter) ?

[2016-02-20 01:46] AllenFang commented on #285
There seems like two issues in here, for first, your tab is means browser tab?

Two, the width issues exist actually, I've started a new plan for fixing this problem currently, but need some time, [here](https://github.com/AllenFang/react-bootstrap-table/issues/227) is reference.

which that means?

[2016-02-20 01:49] AllenFang commented on #287
You can assign ```columnClassName``` on ```TableHeaderColumn```, check [these](https://github.com/AllenFang/react-bootstrap-table/tree/master/examples/js/style) all example

[2016-02-20 01:49] #287 closed

[2016-02-20 02:01] L5eoneill commented on #285
By Tabs I mean react-bootstrap tabbed interface, not browser tabs.

And by breaking the rules that a table header goes in the same table with the table body, you're setting up a structurally meaningless table (terrible for ARIA), and giving yourself huge problems in setting column widths. With the table header as part of the same table, then the columns can't -- just can't -- be different widths f

[2016-02-20 02:02] L5eoneill commented on #287
selectRow isn't entered into the table as a separate TableHeaderColumn, though, so you can't set a classname on it.

[2016-02-20 02:08] AllenFang commented on #287
why need ```selectRow```?

[2016-02-20 02:32] AllenFang commented on #276
@dana2208, I thinks I've solve this issues, but if you give ```selectRow``` and enable ```clickToSelectAndEditCell```, there will be a tiny delay to prevent a selection changed when user dblick to edit cell on same row but different cell. it will be released on new version in recent

[2016-02-20 02:47] AllenFang commented on #278
@dana2208, btw for the second issue, I can't modify ```_isSelectRowDefined``` in ```src/TableBody.js``` for changing to ```return (this.props.selectRow != undefined); ``` Because ```selectRow``` is always defined on ```BootstrapTable``` defaultProps.

[2016-02-20 03:32] AllenFang commented on #285
@L5eoneill, could you please give some example code(repo or gist) for me to reproduce this issues?
Thanks

[2016-02-20 03:48] Dreculah opened #288 "Hierarchical/tree data?"
Hi,

This has the best documentation of any react data table component!

Is there an ability to display hierarchical data (e.g. treegrid) as 'sub rows'?

Thanks!

[2016-02-20 03:49] L5eoneill commented on #287
To have checkboxes for selecting a row for an action. That's what it's for, right?

[2016-02-20 03:53] AllenFang commented on #287
yes, but if you want to set column class on table, just assign ```columnClassName``` on ```TableHeaderColumn```, check [these](https://github.com/AllenFang/react-bootstrap-table/tree/master/examples/js/style) all example. It's not a matter with ```selectRow```.

Your goal is give your custom class on column, am I right?

[2016-02-20 04:10] L5eoneill commented on #285
Here's a gist: https://gist.github.com/L5eoneill/74c96b78a12c3deed464

Don't know though... so much going on in React components, it could be a problem with something elsewhere in the app.

Notice: when I look at the output, that name column... in the gist you see it has width="360"? In the DOM it has this, showing width set at 518px:

`<th class=" sort-column" style="text-align: left; width: 518p

[2016-02-20 04:23] L5eoneill commented on #287
Someone here is very confused. selectRow creates a column of checkboxes which are not created using TableHeaderColumn. I'd like that column to have a class as one of its properties.

`    const selectRowProp = {
      mode: 'checkbox',
      onSelect: this.onRowSelect.bind(this),
      onSelectAll: this.onSelectAll.bind(this)
    };`

Oh blah... that's from an example in your docs, but I just look

[2016-02-20 04:27] AllenFang commented on #287
Thaht's ok, dont mind :)

[2016-02-20 07:05] AllenFang commented on #288
@Dreculah, ```react-bootstrap-table``` does not support this feature, and I've no this plan currently, because there're a lot of things to do, so PR is welcome
Thanks :)

[2016-02-20 07:26] AllenFang commented on #283
I know the problem, is a bug you assign key column by ```keyField```, it's a bug currently, I will fix in next version. The workaround is add ```isKey={true}``` on ```<TableHeaderColumn>``` instead of ```keyField``` on ```<BootstrapTable>```. Like following:
[code]

[2016-02-20 07:49] AllenFang commented on #285
@L5eoneill, I understand, like I said, I've a new plan for fixing these all problem about resizing and column width. if I completed, I'll post here and just try again on new version, but need more time.
btw, the column width + horizontal scrollbar + vertical scrollbar all together is hard to design, so if any suggestion or PR is welcome :)
Thanks your feedback !

[2016-02-21 05:34] #276 closed

[2016-02-21 05:34] #278 closed

[2016-02-21 05:34] #279 closed

[2016-02-21 05:34] #282 closed

[2016-02-21 05:34] #283 closed

[2016-02-21 05:36] AllenFang commented on #276
Released on v1.5.2 :)

[2016-02-21 05:38] AllenFang commented on #279
Released on v1.5.2

[2016-02-21 05:38] AllenFang commented on #282
For issues 1, I've fixed it and released on v1.5.2

[2016-02-21 05:45] AllenFang commented on #283
Fixed on v1.5.2

[2016-02-21 12:56] dana2208 opened #289 "Edit of type "select""
From the new version (1.5.2) there is a new issue.
When double-clicking on a cell of type "select" for editing it, then the cell displays a dropdown as it should.
Then when clicking the dropdown for selecting an option, the cell is not in edit mode anymore and the row is not selected anymore.
This makes it impossible to edit a cell of type select.

here is my code:
`'use strict';`
`import React fr

[2016-02-21 14:57] AllenFang commented on #288
@Dreculah, I thinks it should take a little long time to do, but this based on your ability. If you are not sure  , I suggest you custom one by yourself, don't use this component.

[2016-02-22 11:09] eric379990 opened #290 "Possible to change the no data text?"
Hi Allen,

Since there are lots of data in my table, when the remote data has not been sent back, the table is showing "There is no data to display", sometimes it is confusing the user. Is it possible to dynamic change it to "Loading" when the data has not been sent back?

Thanks.
BR/Eric

[2016-02-22 12:38] AllenFang commented on #290
check following example
[code]

[2016-02-22 12:38] #290 closed

[2016-02-22 13:03] AllenFang opened #291 "Column-filter failed when using default value and pagination"
Following is error message:
[code]
[There](https://github.com/AllenFang/react-bootstrap-table/pull/270#issuecomment-187059679) is the discussion

[2016-02-22 13:32] AllenFang commented on #289
It will be fixed in next version

[2016-02-22 13:53] jochenberger commented on #274
Could you add the `text-align: center` to the CSS class instead of to the element itself? That would make it easier to override.

[2016-02-22 17:37] AllenFang opened #293 "origin column filter broken after v1.5.1"
self-explanatory

[2016-02-22 22:18] ahmedprohic opened #294 "Custom class or id for table tag"
Is there a way to set custom class name or id for table tag?

[2016-02-23 02:46] eric379990 commented on #290
Thanks Allen！

[2016-02-23 03:17] pgiani opened #295 "Question about dataFormat"
Can I pass the props to dataFormat, I need to run some actions , does any one knows if is possible

Thanks

[2016-02-23 03:37] #295 closed

[2016-02-23 06:43] dana2208 commented on #293
Hello @AllenFang ,

I did a quick fix before you merged my pull request in v.1.5.1 so that it supports the old filtering.
But it seems I was not quick enough since I saw now it is not part of v.1.5.1.

You can see in [here] (https://github.com/dana2208/react-bootstrap-table/commit/3cb6f7002c73ddf7c1a82c0313371110751fb29f#diff-29) that TableDataStore.js contain the following code that is not in you

[2016-02-23 06:46] AllenFang commented on #293
if your solution is work for both origin and new column filter, just open a PR :0
Thanks !

[2016-02-23 07:16] psibi commented on #259
Thanks this is fixed in `v1.5.2`. Was there anything specific you did ?

[2016-02-23 07:18] dana2208 commented on #293
My PR: support old filter #296

Thanks!

[2016-02-23 12:21] AllenFang commented on #294
@ahmedprohic, you can assign dom elm by ```ref```

[2016-02-23 12:21] #294 closed

[2016-02-23 12:35] AllenFang commented on #281
@Dhaval8087, I've tested but I could not reproduce this issues, could you please give me your example code?
that's my scenario

abc
ABC
bcd

order by desc
bcd
abc
ABC

order by asc
ABC
abc
bcd

Thanks

[2016-02-23 12:36] AllenFang commented on #286
I will open if you have any feedback or response

[2016-02-23 13:34] #240 closed

[2016-02-23 13:34] #289 closed

[2016-02-23 13:34] #291 closed

[2016-02-23 13:35] AllenFang commented on #293
Thanks your contribution, I've merge and released on v1.5.3

[2016-02-23 13:35] #293 closed

[2016-02-23 13:36] AllenFang commented on #289
Released on v1.5.3

[2016-02-23 13:36] AllenFang commented on #274
@jochenberger, I've did this improvement on v1.5.3

[2016-02-23 13:37] AllenFang commented on #291
Fixed on v1.5.3

[2016-02-23 13:39] AllenFang commented on #240
@eric379990, sorry for a long time to fix it, I've fixed and released on v1.5.3

[2016-02-23 13:41] opensourcegeek commented on #258
@pirate @staminaloops I don't think the search worked any better after debouncing too. It still hangs after few the debounce timeout. I think 5000 items is too much for the table to handle. But I think I could probably customize search for my use case and see if that works any better.

[2016-02-23 13:43] AllenFang commented on #259
@psibi, the reason of problem is same as #260, so just follow up the fixing of #260

[2016-02-23 13:43] #259 closed

[2016-02-23 14:44] psibi commented on #259
Thanks!

[2016-02-23 14:53] jochenberger commented on #274
Great, thanks!

[2016-02-23 17:47] opensourcegeek commented on #258
Wow - just changing the inner loop in search function from using `for (var key in row)` to using `Object.keys()` has significantly improved performance. I'll do some more tests tomorrow. If it works fine I can send a PR?

[2016-02-23 20:04] L5eoneill commented on #285
Don't know if it will help you any, but any interaction that re-renders the table fixes the thead alignment problem: switch to another page, select a selectRow check (or radio).

[2016-02-24 01:43] AllenFang commented on #258
Feel free to open it. btw, the most important tuning point is on ```shouldComponentUpdate```. hope your solution can improve some performance

[2016-02-24 08:14] dana2208 opened #297 "License"
Hi,

Do you work with a license?
If no, could you put a MIT or Apache license to your project?

Thanks!

[2016-02-24 08:20] AllenFang commented on #297
ah, I almost forgot to put the license in repo. Thanks for your reminder ：)
btw, check your gitter, there's something I want to discuss with you

[2016-02-24 10:22] opensourcegeek commented on #258
I really haven't looked into shouldComponentUpdate, it seems like even having 5000 items in a paginated table loads fine even on mobile. That's probably because not all 5000 items are not added to DOM in a paginated table at the same time. The only issue I had was with search function which is essential for me, and that seems to spend a lot of time just in that inner loop I was referring to. I'm o

[2016-02-24 10:42] AllenFang commented on #258
Actually, there're some performance issue like row selection, cell editing, filtering in big table. I think the root cause is on the ```shouldComponentUpdate``` of ```src/TableRow.js``` and ```src/TableColumn.js```. After I finished my new plan for tuning table structure, I'll start to tackle this issue:)
Thanks

[2016-02-24 11:39] eric379990 commented on #240
@AllenFang Thanks a lot Allen!

[2016-02-24 13:19] lu44anno opened #299 "Column toggle"
Could you implement column toggle please ?

Just something similar to the column toggle demo from the link below

http://filamentgroup.github.io/tablesaw/demo/toggle.html

[2016-02-24 15:41] opensourcegeek commented on #258
I don't do editing at the minute so I don't have any issues. I would like to do similar thing with lists/table using material-ui components if I get some time...!

[2016-02-25 11:59] daiwhea opened #300 "Need min-width to work with safari for wide table"
Hi.

I have a large table with many columns. react-bootstrap-table works well in chrome. But in safari, table header doesn't align to tbody.

![table](https://cloud.githubusercontent.com/assets/163152/13319078/0fb9c0cc-dbfa-11e5-8deb-fd67d26406b8.png)

I modified your react-bootstrap-table.min.js to add minWidth:width, Then it works for safari now.

Thanks!

[2016-02-26 02:32] AllenFang commented on #299
@lu44anno, need some time, i'm busy. but this workaround is you can use ```hidden``` and custom a toggle

[2016-02-26 10:28] Meera613 opened #302 "Misaligned header when using React Boostrap Tabs"
The table header gets misaligned with the column data when switching tabs (React Boostrap Tabs) similar to the one given in the below link.
[http://stackoverflow.com/questions/34054567/react-bootstrap-table-misaligned-header-columns](url)

[2016-02-26 14:51] AllenFang commented on #300
@daiwhea, sorry for lately reply. I've started to re-design the dom of ```react-bootstrap-table``` for fixing width and unalign problem. It will coming soon.

[2016-02-26 14:52] AllenFang commented on #302
@Meera613, I've started to re-design the dom of react-bootstrap-table for fixing width and unalign problem. It will coming soon.

btw, could you please give me a available example for me to test on my new design? Thanks

[2016-02-26 14:53] AllenFang commented on #302
duplicate with #285

[2016-02-26 14:54] #302 closed

[2016-02-26 16:20] chriscostello9 commented on #282
Maybe list a good example for those using ES6 linting, in your docs:

[code]

Then, the afterSearch function to do whatever it is you want:

[code]

[2016-02-27 02:31] MatthewHerbst commented on #302
@AllenFang

Hey, I'm OP on that SO post. I've actually spent all day today working on it.

Some things to know:
My data load is async.
`react v0.14.2`
`react-bootstrap v0.28.1`
`react-bootstrap-table v1.5.3`

My current diagnoses:

When I open the tab containing the table before the data has loaded, then when the data loads the table looks correct. If I am in a different tab when the data loads an

[2016-02-27 05:28] AllenFang commented on #282
@chriscostello9, thanks your feedback. I'll improve my document in near future :)

[2016-02-27 05:39] AllenFang commented on #302
@MatthewHerbst, I thinks your guess is right. But I've not started to solve this issues yet. Like I said, I am design a new structure currently, if any example can reproduce this issues, I think I can solve it on new design.  :)

Thanks your feedback!

[2016-02-27 12:42] AllenFang commented on #299
@lu44anno, there are some technical problem when implement this feature, the problem is the column width can't be restored when toggle to show. The column width and align problem is a critical issue currently so that I've planed a new dom structure for ```react-bootstrap-table```. In addition, I think I will try to implement this feature after my new plan completely. So I suggest you to handle ```

[2016-02-27 12:49] #258 closed

[2016-02-27 12:49] #297 closed

[2016-02-29 00:34] daiwhea commented on #300
Thanks.

[2016-02-29 13:49] xabikos opened #304 "Options value for current page and size per page are not respected"
We are using the component with server side pagination. This means that we only retrieve the data for the current page from the page and in every page change or when the size of the page changes a new request is happening. This requires to maintain the current page and the current size per page internally and pass it to react-bootstrap-table through the options object. This worked quite good but c

[2016-02-29 16:05] opensourcegeek opened #305 "Separate search panel to exclude items"
I was wondering if anyone tried to do an exclusion search with this component. I'd like to add an inclusion search and an exclusion search, so that if any row contains this exclusion text it will be removed in the result. So for eg.

if following are the rows in my data
 A B C D E
 B C D E F

columns are separated by space, then an inclusion search (this functionality is already there) for A will

[2016-03-01 03:58] waiter commented on #282
@AllenFang
Since the search can't search text in object, so can't you add a switch to enable the search key matched the hidden column? Or other better ways??

I've read the source code, the `targetVal.toString()` makes the object to `[Object object]` ...

[2016-03-01 13:19] AllenFang commented on #305
@opensourcegeek, I think this feature is ok, but I wont fix this issues actively. Because there are some issues need to doIn addition. In addition,  I think this feature can be done on your component, I mean you can control this exclude search and manage state on your component., so PR welcome but please don't make old search functionality broken.

[2016-03-01 13:19] #305 closed

[2016-03-01 13:31] AllenFang commented on #304
@xabikos, I thinks a example is good. btw,

[2016-03-01 13:34] AllenFang commented on #282
@waiter, I think it's hard to search on an object. But if I make the searching on hidden column configurable, is that helpful for you?

[2016-03-01 13:37] AllenFang commented on #282
@waiter, btw, your case is common, if you really need a object can be searched, A customization search can achieve your requirement. I mean just handle search and state outside the ```react-bootstrap-table```.

[2016-03-01 20:11] annelorraineuy opened #307 "Prepend New Row to Table Manually"
Hi there! Thanks again for the awesome work :) This is more of a question than anything. Is there a way for me to define a custom method that would prepend (new data as first row) manually? I have an external way of adding data to the table (it's more complex than what the built-in Add row can do) so instead of calling the server to reload the data, I want to just show the user that the data was a

[2016-03-02 01:13] waiter commented on #282
@AllenFang
Make the searching on hidden column configurable is what I want. So could you add this feature.
Handle search and state outside the `react-bootstrap-table` means I should reset the `BootstrapTable `'s prop `data` every time?

[2016-03-02 01:43] AllenFang commented on #282
@waiter, I think I can add this feature in near future.

yes, after searching, just render new props data on table

[2016-03-02 01:46] waiter commented on #282
@AllenFang
OK, thank you~

[2016-03-02 01:53] AllenFang commented on #307
Thanks. I've some idea for this and I can test it after going off work. If my idea is not work, maybe i will give a expose function on ```BootstrapTable``` for this issue. btw, how did you add a new row to table currently? by state?

[2016-03-02 03:13] annelorraineuy commented on #307
I wasnt able to add a new row! Was just asking if its possible and if so, how? Hehehe

Anne Lorraine Uy
www.anneuy.com

Sent from my iPhone

[2016-03-02 03:24] AllenFang commented on #307
Following is able to add new row externally, but the new row will be appended at last
[code]
for your requirement(the new row at first), there's no way to do this, but I think it's easy to do in next version.

[2016-03-02 11:36] smondal opened #308 "Server side pagination"
How server side pagination will work with react-bootstrap-table? As I see **bootstrap table** supports server side pagination using sidePagination but **react-bootstrap-table** is not supporting this.

Below are the link for supporting server side pagination on **bootstrap table**
http://bootstrap-table.wenzhixin.net.cn/documentation/
https://github.com/wenzhixin/bootstrap-table-examples/blob/mast

[2016-03-02 18:14] annelorraineuy commented on #307
Okay, thank you so much Allen! Looking forward to the next version. :)

[2016-03-03 10:58] gideonairex opened #309 "checkbox sharing the same name"
[254]( https://github.com/AllenFang/react-bootstrap-table/blob/6126ac690dfe153890e2d6cea0a4b6682f4c4fbf/src/TableBody.js#L254) Is there way to have different names? My problem right now is that I have two tables with radion buttons and when I clicked the radio on the other table it removes the check on the other table.

[2016-03-03 15:23] staminaloops opened #310 "Hidden columns and table search - breaking change"
Hello @AllenFang
Regarding this commit https://github.com/AllenFang/react-bootstrap-table/commit/1f3798bc105f9dfa40e84ccb8568cfc18307b307

This implemented a breaking change.

Let's say we have an array of objects with

[code]
I would do something like:

[code]

The hidden prop just made sense if you where using it to search that hidden column, since if you didnt include it, it wouldnt show anyway

[2016-03-03 15:56] AllenFang commented on #308
@smondal, this component does not support server side pagination and remote data fetching. I think this feature will not be implemented in near future. But PR is welcome

[2016-03-03 15:56] #308 closed

[2016-03-03 15:58] AllenFang commented on #309
it's a bug, will be fixed on next version. Thanks your report :+1:

[2016-03-03 16:21] AllenFang commented on #310
I prefer to take second solution, it's more better and I have planned to make search on hidden column configurable by this [discussion](https://github.com/AllenFang/react-bootstrap-table/issues/282#issuecomment-190726141)

 And version issue is a little bit tricky, because I have planned to bump a major version after new table structure(coming soon). if fixing this issue will bump major again. no

[2016-03-03 17:16] staminaloops commented on #310
Yes, the second solution its better. I was saying that commit https://github.com/AllenFang/react-bootstrap-table/commit/1f3798bc105f9dfa40e84ccb8568cfc18307b307 was in fact a breaking change - my code stop working as it used to, and we should be careful when we do this kind of changes on minor versions :)

MAJOR version when you make incompatible API changes,
MINOR version when you add functionali

[2016-03-03 17:27] staminaloops commented on #310
I'll do a PR

[2016-03-03 21:42] gideonairex commented on #309
Okay thanks! :+1:

[2016-03-03 21:55] #310 closed

[2016-03-04 11:26] opensourcegeek opened #313 "Is it possible to create a column on the fly and also make it part of CSV export?"
I have some columns and I need to derive a new column from existing columns. I cannot at the moment create new column if it's not already in the array of objects. I also need that column in CSV export - is this possible?

[2016-03-04 12:11] shyblower opened #314 ""selectRow" checkbox of first selected row doesn't get checked on Firefox (44.0.2) ..."
... when clickToSelect is true and you don't click directly on the checkbox.
The backgroundcolor correctly changes, though.

[2016-03-04 12:35] AllenFang commented on #314
@shyblower, what version did you used? and could you please give me an example? btw, only happened on firefox? Thanks :)

[2016-03-04 12:45] AllenFang commented on #313
@opensourcegeek, i think it is possible and this issue seems like "add new column dynamically". I've tried it at a long time ago, but there are some issues like width cant be adjusted properly .etc. I thinks it can be done but the priority is very lower and the workaround is manage the columns state on your component, I means control "add new column dynamically" on you component, just tell ```reac

[2016-03-04 12:45] #313 closed

[2016-03-04 13:02] shyblower commented on #314
I used react-bootstrap-table1.5.4 on Firefox-44.0.2. To see if it was only a Firefox problem I tried again on the latest Chromium browser where it worked flawlessly :)

Steps to reproduce:
1. Create a 2 row table with selectRow in "checkbox" mode and clickToSelect set to true in the selectRow properties.
2. Click on one of the rows (not directly on the checkbox).
3. The row becomes correctly colou

[2016-03-06 14:12] #307 closed

[2016-03-06 14:12] #309 closed

[2016-03-06 14:16] AllenFang commented on #282
@waiter, @liqili  I've released the newest version v1.6.0
**Currently, hidden column can be searched by default, if you want some hidden cant be searched, add ```searchable={false}``` on ```<TableHeaderColumn>```**

Sorry for this functionality changed, feel free to discuss with me

[2016-03-06 14:19] AllenFang commented on #314
@shyblower, could you try ```v1.6.0``` again for this issues?

[2016-03-06 14:20] AllenFang commented on #309
@gideonairex, fixed and released on v1.6.0. Thanks :)

[2016-03-06 14:23] AllenFang commented on #307
@annelorraineuy , fixed and released on v1.6.0. Thanks :)

[code]

[2016-03-06 20:51] shyblower commented on #314
Could you please set a v1.6.0 tag as you did with the previous releases, because I my build system downloads a zip file based on the version tag automatically. It would be much easier for me to test it that way.

[2016-03-06 23:04] istanishev opened #315 "Uncaught TypeError: Cannot read property 'type' of null"
The error seems to come from here (props == null):
https://github.com/AllenFang/react-bootstrap-table/blob/master/src/TableColumn.js#L24

[2016-03-07 01:33] gideonairex commented on #309
@AllenFang Thank you! :)

[2016-03-07 04:43] casertap opened #317 "Remove/Hide the radio buttons added automatically"
Great library,
thank you for your work.
Is there a way to hide the radio button on the left of the table.

[code]
This is adding a column of radio button on the left but I do not want to see this column but I still want to have the table with a radio type.

[2016-03-07 05:18] AllenFang commented on #317
[code]

btw, you can check the [examples folder](https://github.com/AllenFang/react-bootstrap-table/tree/master/examples/js) to see more examples for ```react-bootstrap-table```

Thanks :+1:

[2016-03-07 05:18] #317 closed

[2016-03-07 05:19] AllenFang commented on #315
LGTM, thanks your contributions :)

[2016-03-07 05:19] casertap commented on #317
Thanks Allen

[2016-03-07 05:21] AllenFang commented on #314
sorry, I've pushed v1.6.0 as a tag, check it out!

[2016-03-07 07:50] shyblower commented on #314
It still does not work. Maybe a thing to mention is that when I click directly on the checkbox (where it kind of works), the check mark appears only after I have moved the cursor outside the checkbox rectangle. But this happens also only with the first row that I select. The second selection shows the check mark immediately.

[2016-03-07 08:27] AllenFang commented on #314
ok, it's strange, could you please give me your example code? or could your reproduce this issue on http://allenfang.github.io/react-bootstrap-table/example.html#select-checkbox?

[2016-03-07 09:49] waiter commented on #282
@AllenFang
Great to hear that! Thank you~
But, it doesn't work. Did you write the wrong logical operator??
**you write  `!hidden && searchable` to check wheather it can be searched,
but I think it should be `!hidden || searchable` since when column is hidden, then `hidden={true}`.**
Pleace check it ...

[2016-03-07 13:11] AllenFang commented on #282
I made a big mistake, I will solve this issue quickly. Thanks

[2016-03-07 17:26] Dhaval8087 commented on #286
Please check the URL
[https://www.dropbox.com/s/pcvp1nrreqxkw40/Reactdatagrid.PNG?dl=0](url)

I want to add the filter col in at above means below the headers

[2016-03-07 18:45] staminaloops commented on #189
Hello, this question is old, but yes, I've been doing like that and works great.

Just use the column with the key and another column with

[code]
To customize the column. This callback function should return a String or a React Component.
In addition, this function taking two argument: cell and row.

If you need to search the formated unique column, use `filterFormatted` prop set to true **or** i

[2016-03-07 20:01] bbesase opened #318 "Feature for single cell click?"
I may be missing something, but is there a feature that handles single cell clicking rather than just whole row clicking?

[2016-03-08 00:15] dannysindra commented on #214
I also would like the 'import from csv' feature to be added, please

[2016-03-08 00:18] dannysindra commented on #162
+1 for the datepicker in editing + inserting new data.

[2016-03-08 01:40] AllenFang commented on #286
Hi @Dhaval8087, your link is broken. btw, I think your hope is make the filter still in the header but    above the column text, right? if yes, I'll make this feature configurable.

[2016-03-08 01:41] AllenFang commented on #189
thanks @staminaloops

[2016-03-08 01:41] #189 closed

[2016-03-08 01:47] AllenFang commented on #318
@bbesase, sorry for we dont support this feature, btw, let me know what's your consideration or requirement, maybe I can help you :)

[2016-03-08 01:51] bbesase commented on #318
I figured it out! I used the data format to return a React Component with
the HTML string and from there I was able to register onClick to it and
pass cell and row as props 😀
On Mar 7, 2016 8:47 PM, "Allen" <notifications@github.com> wrote:

[2016-03-08 01:58] waiter commented on #282
@AllenFang
Great~

[2016-03-08 02:01] AllenFang commented on #318
@bbesase, cool solution! I will close this issue. Feel free to discuss with me. Thanks :+1:

[2016-03-08 02:01] #318 closed

[2016-03-08 05:51] Dhaval8087 commented on #286
Hello Allen,

Can you please check this link
https://www.dropbox.com/s/pcvp1nrreqxkw40/Reactdatagrid.PNG?dl=0
yes I want to set the filter col just below the header.

[2016-03-08 10:37] lu44anno commented on #299
How things are going with column toggle feature ?

Allen, I cannot run react-boostrap-table using react server side rendering
+ client side rendering.

I got error during the server side compilation time. As you can see during
server side compilation 'doc' (or window.document) is undefined:

undefined:29
  save_link= doc.createElementNS("http://www.w3.org/1999/xhtml", "a"),

[2016-03-08 11:54] bbodi opened #319 "Use React.Children to iterate/mutate children"
[According to](https://facebook.github.io/react/tips/children-props-type.html) React,

In my application, an error occurred [at this line](https://github.com/AllenFang/react-bootstrap-table/blob/43cebf33faf22aa16efb75ecd67280da81b1aef6/src/BootstrapTable.js#L119
), because of one of my **one-column table**.
[code]

My suggestion is to use [React.Children.map](https://facebook.github.io/react/docs/

[2016-03-08 11:58] dana2208 commented on #286
Hello @Dhaval8087 ,

Do you mean like that?
http://allenfang.github.io/react-bootstrap-table/example.html#header-filter

[2016-03-08 12:43] Dhaval8087 commented on #286
@dana2208 Yes exactly Thanks I will use filter on each TableHeaderColumn that I think it resolve my prob.

[2016-03-08 15:09] AllenFang commented on #286
Thanks @dana2208

[2016-03-08 15:09] #286 closed

[2016-03-08 15:14] AllenFang commented on #299
@lu44anno, like I said, there is a problem : the column width can't be restored when toggle to show. The column width and align problem is a critical issue currently.  And maybe I can't support this feature in near future. But the workaround for you is handle hidden props on your state and custom toggle on your component.

btw, according to your error message, did you enable ```exportCSV```?

[2016-03-08 15:21] AllenFang commented on #319
@bbodi, I'll check this out!

[2016-03-08 15:38] garciasa opened #320 "Sort feature doesn't work in Chrome last version"
Hi guys,
I'm using Chrome (last version) and IE11, to render some data with this component, but when i include sort feature in one of the columns, in chrome, when i click in that column to sort data, i lose all the columns, except the first one. In IE11 is working properly.

`        <Grid>
            <Row>
                <Col xs={10} sm={10} md={10} >
                    <span>Inputting Surface

[2016-03-08 15:48] AllenFang commented on #320
I've no idea, could you try [this](http://allenfang.github.io/react-bootstrap-table/example.html#column-sort) on your chrome first?

[2016-03-08 15:52] #319 closed

[2016-03-08 15:53] AllenFang commented on #315
Released on newest version :+1:

[2016-03-08 15:53] #315 closed

[2016-03-08 15:53] AllenFang commented on #319
@bbodi, I've fixed it and release on v1.6.1

[2016-03-08 15:56] AllenFang commented on #282
@liqili @waiter, sorry for my mistake, ```v1.6.1``` is the newest version, hidden column can be searched by default. you can set ```searchable={false}``` to disable. Feel free to ask anything

[2016-03-08 15:57] xabikos commented on #304
@AllenFang Here you can find an example gist I created which demonstrates the problem
https://gist.github.com/xabikos/fcd6e709f8ae0c11e33b
This works perfectly in version 1.5.2 but not in later versions. Paging and size per page are not changed in a correct way. Please let me know if I need to provide some more info.

[2016-03-08 16:02] AllenFang commented on #304
Thank your! I'll check this out

[2016-03-08 16:03] garciasa commented on #320
Yes, that is working, is something incompatible between react-bootstraps and react-bootstrap-table, I'm gonna try to figure it out...

Thanks anyway

[2016-03-08 16:07] xabikos commented on #304
Please keep in mind my first comment and which changes are probably related to the problem. Thanks in advance for the help. I will also try to explore the code.

[2016-03-08 16:15] #320 closed

[2016-03-08 16:37] AllenFang commented on #304
@xabikos, a question, the problem which you encounter is that the page button and sizePerPage dropdown is not changed correctly, ex: click page 2, but I see page one still clicked but data has changed correctly

[2016-03-08 16:40] xabikos commented on #304
Exactly this one. And if you try to change the size per page e.g. to 25 then you will see 25 rows but the corresponding dropdown still shows 10

[2016-03-08 16:41] AllenFang commented on #304
ok, Thanks your example!

[2016-03-08 16:52] garciasa opened #321 "Sort and width column feature doesn't work when it's in a hidden div in Chrome (49)"
Hi,
now i now what it's wrong, if you put a table, as part of bootstrap Tab, and that Tab it's not a default Tab (it's hidden at the beginning), when you click on that tab, and try to order one of the column, all of them disappears, except the first one...

It's working properly when the table is in the default tab and it's the first you see when you load the component.

This behavior is in Chrome

[2016-03-08 17:07] AllenFang commented on #321
@garciasa, ok I understand, could you please me a example code and tell me the react-bootstrap version. It's helpful for me to debug, because I'm not familiar with ```react-bootstrap```, so a repo is better :)

[2016-03-08 17:15] garciasa commented on #321
Sure, this is my test component, by default the tab is the second one defaultActiveKey={2}, in that way is not working, if you change to {1}, in which the table is then works.

`
import React from 'react';
import {Tabs, Tab} from 'react-bootstrap';

const products = [
    {
        id: '1',
        name: 'asdfasf',
        price: '123'
    },
    {
        id: '2',
        name: 'ddddd',
        p

[2016-03-08 17:20] AllenFang commented on #321
great :+1:  I'll check this out

[2016-03-08 17:33] garciasa commented on #321
Perfect! Thank you.....

[2016-03-08 22:29] Antonhansel opened #322 "Table header displayed twice"
<img width="1190" alt="screen shot 2016-03-08 at 14 26 11" src="https://cloud.githubusercontent.com/assets/4123811/13618582/c98bdfba-e539-11e5-9bd4-fac54daaa34a.png">

The table column names are displayed twice, yet I don't think I'm doing anything weird in my code:
I have a container component with the following render function

[code]

And here is my render function of the PlaceTable element:

[

[2016-03-09 01:25] waiter commented on #282
@AllenFang
Thank you, it works now~~

[2016-03-09 01:44] AllenFang commented on #322
Include ```css/react-bootstrap-table-all.min.css``` will solve this issue :)

[2016-03-09 01:51] Antonhansel commented on #322
Thank you for helping out, indeed my CSS inclusion wasn't working, see this issue explaining why and how to make it work.
https://github.com/erikras/react-redux-universal-hot-example/issues/750

[2016-03-09 01:58] AllenFang commented on #322
I'll check this out. Thanks

[2016-03-09 01:59] Antonhansel commented on #322
I'm pretty sure react-bootstrap-table had nothing to do with the issue, just the way css are included in this boilerplate can be a bit confusing ;)

[2016-03-09 02:03] AllenFang commented on #322
ok, I'm not familiar with that repo, but this is a issue first time that I see, so how did you solve it? follow this [thread](https://github.com/erikras/react-redux-universal-hot-example/issues/750#issuecomment-169936916)?

[2016-03-09 02:06] Antonhansel commented on #322
Yeah, I tried [this solution](https://github.com/erikras/react-redux-universal-hot-example/issues/750#issuecomment-168012321) and it works too.

Thank you for your time :)

[2016-03-09 02:08] AllenFang commented on #322
Great :)  Thanks for these feedback :+1:

[2016-03-09 02:08] #322 closed

[2016-03-09 09:28] flipjs opened #323 ""There is no data to display" is not centered anymore"
I was using 1.4.6 for a while, and the text "There is no data to display" was centered on the table. I upgraded to the latest version now which is 1.6.0 I believe. The text is now displaying on the leftmost of the screen. Its not centered anymore.

I went back to 1.4.6, and its displaying on the center correctly.

[2016-03-09 09:36] flipjs opened #324 "Sorting caret on header indicator"
In 1.5.0, you added an enhancement that shows the up/down caret on header if column is sortable.

Is it possible to turn this off? I prefer the older behaviour where it shows nothing on header, but when clicked, it will show the up or down caret when sorting. For me, it looks cleaner without the caret by default. But when clicked, it will show the caret on the column clicked, just like the previou

[2016-03-09 09:38] geekbosszhang commented on #285
I have the same issue. Is there any solution to solve this problem?@AllenFang
My react-bootstrap-table version is 1.5.4.
![image](https://cloud.githubusercontent.com/assets/7484001/13631020/61d1623e-e61d-11e5-9db8-36bfd1e49151.png)

[2016-03-09 11:22] garciasa commented on #321
Hi,
i updated it, because I've the same issue with the width property... when you render a component, if it is in a hidden div, it doesn't works properly...

Cheers.

[2016-03-09 12:25] AllenFang commented on #323
@flipjs, update you upgrade to higher version, did you import new css file(```css/react-bootstrap-table-all.min.css```)?

Because I remove the inline style for center text to css file, so I guess your env does not catch the correct css file

[2016-03-09 12:25] #323 closed

[2016-03-09 12:26] AllenFang commented on #324
ok, I'll spend some time to make this configurable. Thanks your feedback!

[2016-03-09 12:27] AllenFang commented on #285
I'm solving this issue, I think this patch is coming soon.

[2016-03-09 17:23] TonyVeigel opened #325 "Question about devtool: '#eval-source-map'"
Why is this in production?

[2016-03-09 17:30] lu44anno commented on #299
I bought template with webpack settings and gulp tasks. They have
development and production modes. If I run "gulp" (which is --dev by
default) then this error occurs:

save_link = doc.createElementNS("http://www.w3.org/1999/xhtml", "a"),
                           ^
TypeError: Cannot read property 'createElementNS' of undefined

Can this error occur due to React Server Side Rendering ?

Or is it

[2016-03-09 21:06] flipjs commented on #323
Thanks for clearing that up.

[2016-03-09 23:26] mikedevita opened #326 "how to access this.state from within onSelect"
what is the *proper* way to handle a scenario like this?

I have a table of data, and i need to be able to select one or more and all and then click a button.

That button needs to then be able to get a list of all those selected items and do other actions using those selected items data.

I have a state like so
[code]
I was trying to access `this.state` from within the `onSelect: ()` but it doesn

[2016-03-10 01:45] AllenFang commented on #326
yes, your solution is ok, and the other is like this [tutorial](http://allenfang.github.io/react-bootstrap-table/advance.html#how-to-get-select).

Feel free to discuss with me.
Thanks !

[2016-03-10 01:45] #326 closed

[2016-03-10 01:56] geekbosszhang commented on #285
@AllenFang Ok.That's awesome.Thanks.

[2016-03-10 02:14] AllenFang commented on #299
what's means?

I think this is the real problem

I'll check this out, btw, could you give me a repo or example to reproduce this issue?

[2016-03-10 07:52] markortiz commented on #285
I have the same issue and same scenario with @L5eoneill

on the first render table alignment is very clean and perfect. but every time I re-render table or switch between the tabs (`react-tabs`) it got dis-align and worst is the table is getting wider and wider.

Currently I'm trying to create my own table width and column width computation and I can say it is quite difficult. I wish I could call

[2016-03-10 09:17] lu44anno commented on #299
I fixed it in 1 line of csv_export_util.js file.

I modified that line to: if(typeof window !== 'undefined' && typeof
window.document
!== 'undefined')

Basically I added check if window.document is not undefined as well

On 10 March 2016 at 02:14, Allen <notifications@github.com> wrote:

[2016-03-10 09:46] kolyabokov commented on #255
@AllenFang, hi. Any chance that it would be fixed soon?

[2016-03-10 14:48] AllenFang commented on #255
@kolyabokov, wow, sorry, I almost forgot this issue and I will solve it in these day. SORRY again!

[2016-03-10 14:49] AllenFang commented on #299
cool, did you want to open a PR for fixing this issue that you encounter?

[2016-03-10 15:13] AllenFang commented on #325
@TonyVeigel, follow #217. btw, any consideration for ```eval-source-map```?

[2016-03-10 15:37] AllenFang commented on #255
@kolyabokov, I found the problem and fixed it,  will release in this week. sorry

[2016-03-10 16:17] TonyVeigel commented on #325
Thanks. I just know like #217  that the *eval* devtools should not be used for production only for development. I see now even on the newest build it is production.

[2016-03-10 16:20] kolyabokov commented on #255
@AllenFang, great, thanks!

[2016-03-10 16:22] AllenFang commented on #325
Just a discussion, like the problem of #217, how to solve it in your opinion

[2016-03-10 16:24] mikedevita commented on #326
@AllenFang my solution doesn't fully work as I can't access this.state from within `onSelect()`. Would you be able to provide a working example of this?

[2016-03-10 16:40] AllenFang commented on #326
@mikedevita, the following is my example
[code]

[2016-03-10 16:42] AllenFang commented on #326
@mikedevita, btw, I know your problem, if you want to change ```state``` in ```react.js```, dont reference origin state and change value and set, it's a invalid way

[2016-03-10 17:03] mikedevita commented on #326
@AllenFang how are you `bind(this)` to `this.onRowSelect`.. when I use your example, `this.state` is undefined as onRowSelect hasn't been bound to the component's `this`

adding a `console.log(this)` inside of `onRowSelect` you'll see that `this` is a reference to the row object, and not the component `this`.

![image](https://cloud.githubusercontent.com/assets/2991640/13677458/50c804ea-e6a7-11e5-

[2016-03-10 17:06] AllenFang commented on #326
it's strange, because ```onRowSelect``` is a arrow function, ```this``` should be the instance of ExternallyManagedSelection,
you can try
[code]

[2016-03-10 17:07] mikedevita commented on #326
@AllenFang i've tried both :(

[2016-03-10 17:09] AllenFang commented on #326
ok, just dont use arrow function,
[code]

[2016-03-10 17:14] AllenFang commented on #326
@mikedevita, I'm going to sleep, I think it's not a big problem, maybe something stuck, just leave message to tell me the result

Thanks you :)

[2016-03-10 17:15] mikedevita commented on #326
ill continue this on gitter, i sent a message on there and mentioned you.

[2016-03-10 17:28] AllenFang commented on #326
check gitter, if does not worked, give your full example and let me debug it.

[2016-03-10 22:27] TonyVeigel commented on #325
I will think of a solution, in the meantime though, I would say it should be pulled out of production because it causes issues with minifying, performance, etc..

[2016-03-11 05:57] markortiz commented on #285
@AllenFang  i think adding `this._adjustHeaderWidth();` on `componentWillReceiveProps` will solve the problem.

[2016-03-11 08:58] liqili opened #327 "How to make table wrap text automatically"
Hi,
How to make table wrap text automatically?

[2016-03-11 09:05] markortiz commented on #327
maybe you can try to add css.

[2016-03-11 09:17] liqili commented on #327
@markortiz due to the css below,add css to td didn't work.
`.react-bs-container .table-header > table > thead > tr > th .table-header-column{
  line-height: 25px;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
`

[2016-03-11 09:28] markortiz commented on #327
you can overwrite / change it to your `react-bootstrap-table-all.css`
i think you can find it on `line:30`

[2016-03-11 15:11] AllenFang commented on #327
@liqili, is it work by @markortiz 's solution?

[2016-03-11 15:12] AllenFang commented on #285
hi all, about the ```react-bootstrap-table``` in tab will cause a unalign problem, I've solved it in my new table structure plan and I'll release it in near future. Sorry for a long time to wait ;(

[2016-03-11 16:03] #255 closed

[2016-03-11 16:03] #304 closed

[2016-03-11 16:03] #324 closed

[2016-03-11 16:04] AllenFang commented on #304
@xabikos, fixed on v1.6.2. You can check it out :)

[2016-03-11 16:05] AllenFang commented on #255
@kolyabokov, I've fixed it and released on v1.6.2. You can try it :)

[2016-03-11 16:06] AllenFang commented on #324
@flipjs, released on v1.6.2, you can check the [example](https://github.com/AllenFang/react-bootstrap-table/commit/a58493e11647f61776def1413301c2f4c4f0a68f).
Thanks

[2016-03-11 17:05] yenhsiac commented on #327
@AllenFang It works. But I saw some other issues. In my case, I have many columns.
When I add more columns, some column header texts are gone.

<img width="1003" alt="screen shot 2016-03-11 at 9 04 04 am" src="https://cloud.githubusercontent.com/assets/679023/13709347/47fb0274-e768-11e5-8b86-1741ca72a277.png">

When I add more columns and the horizontal scrollbar appears, the columns headers are m

[2016-03-11 17:12] yenhsiac commented on #327
If I keep write-space:nowrap as it is, I encounter another mis-alignment issue:

<img width="1227" alt="screen shot 2016-03-11 at 9 10 52 am" src="https://cloud.githubusercontent.com/assets/679023/13709532/585f2900-e769-11e5-8fc6-b650c2593f0d.png">

[2016-03-11 22:49] juan0087 commented on #285
Awesome Allen! I having the same issue here as well. Hope to see the patch soon!

Thanks in advance! =)

[2016-03-11 23:27] flipjs commented on #324
Cool! Will try it out now. Thanks @AllenFang You are a :star: !

[2016-03-12 00:33] flipjs commented on #324
:tada: It works! Thank you so much @AllenFang ! :smiley_cat:

[2016-03-13 05:32] #249 closed

[2016-03-13 07:40] AllenFang commented on #254
@DexterHaslem, sorry for a long time to wait, I've solve all the issues about unalign and table in tabs problem. Currently, I'm test the capability on different browser currently, I am sure it will be released in these day.  sorry

[2016-03-13 12:30] dana2208 opened #329 "Search and filter features combination does not work"
Hi,

I think the search feature should search on already filtered records and filter feature should work on the results of the search result.
Today it does not work this way. The last one that is updated (either the search textbox or a filter on a column) is the one taking effect on the results displayed,

Here is a code where you can test both search and filter features on the same table:
[code]

[2016-03-13 12:31] dana2208 opened #330 "delay for the search feature"
Hi,

I think there should be a "searchDelay" property (500ms for default) for the search feature so that not each new "key down" triggers a search.
This will improve the search feature performance.
Of course this delay could be overwritten.

What do you think?

[2016-03-13 12:41] AllenFang commented on #329
This seems like a bug. I'll fix it after **```v2.0.0```**

[2016-03-13 13:18] AllenFang opened #331 "issues collected on v2.0.0 release"
#321 #300 #285 #267 #254 #227

I thinks these issues will be solved in ```v2.0.0```. The released day will in the 2016/03/13 or 03/14.

The main patch is
1. fixing the column unalign problem in different browser or in tabs(```react-bootstrap```)
2. fixing a rendering wrong width on column in some case
3. fixing the wrong height on table

btw, for the unalign column in tabs, please check this [exam

[2016-03-13 15:41] AllenFang commented on #331
btw, in ```v2.0.0```, for a large column table, the horizontal scrollbar will not display automatically. The solution is set width on some columns to make the total width of table exceed the outer then the scrollbar will display.

[2016-03-13 16:06] AllenFang commented on #268
@dukedougal, ```v2.0.0``` has been released, you can check #331 for more detail explanation, if problem still remain, please tell me on #331 or open an issue

[2016-03-13 16:07] AllenFang commented on #237
HI @ssjogus, ```v2.0.0``` has been released, you can check #331 for more detail explanation, if problem still remain, please tell me on #331 or open an issue

[2016-03-13 16:08] AllenFang commented on #227
Dear all, ```v2.0.0``` has been released, you can check #331 for more detail explanation and I'll close this issues, if problem still remain, please tell me on #331 or open an issue

[2016-03-13 16:08] #227 closed

[2016-03-13 16:08] AllenFang commented on #254
Dear all, ```v2.0.0``` has been released, you can check #331 for more detail explanation and I'll close this issues, if problem still remain, please tell me on #331 or open an issue

[2016-03-13 16:08] #254 closed

[2016-03-13 16:09] AllenFang commented on #267
```v2.0.0``` has been released, you can check #331 for more detail explanation and I'll close this issues, if problem still remain, please tell me on #331 or open an issue.

[2016-03-13 16:09] #267 closed

[2016-03-13 16:09] AllenFang commented on #285
Dear all, ```v2.0.0``` has been released, you can check #331 for more detail explanation and I'll close this issues, if problem still remain, please tell me on #331 or open an issue

[2016-03-13 16:09] #285 closed

[2016-03-13 16:09] AllenFang commented on #300
HI @daiwhea, ```v2.0.0``` has been released, you can check #331 for more detail explanation and I'll close this issues, if problem still remain, please tell me on #331 or open an issue.

[2016-03-13 16:09] #300 closed

[2016-03-13 16:10] AllenFang commented on #321
HI @garciasa, ```v2.0.0``` has been released, you can check #331 for more detail explanation and I'll close this issues, if problem still remain, please tell me on #331 or open an issue

[2016-03-13 16:10] #321 closed

[2016-03-13 23:46] r1g0 commented on #331
Thanks, this has solved some issues, but I am using react-bootstrap Tabs and the first time it renders the columns have the wrong width.  On the second render (that means, I change tab and then change to the Tab with the table again) then the width is correct.

It is only the first time that it's a problem.  It also only happens when the width exceeds that of the view (when the scroll bar appears)

[2016-03-14 00:51] pgiani commented on #285
I did not see any improment on Ver 2.0.0 regarding the  headers in the wrong widths [http://take.ms/IWgoB](url)

[2016-03-14 00:56] pgiani commented on #331
I did not see any improvement on Ver 2.0.0 regarding the headers in the wrong widths
![image](https://cloud.githubusercontent.com/assets/5713173/13732658/a6d7b014-e955-11e5-8c66-8cc011638675.png)

[2016-03-14 01:35] AllenFang commented on #331
HI @pgiani, you catch the legacy css file, please make you use the newest css file(```react-bootstrap-table.min.css``` or ```react-bootstrap-table-all.min.css```)

[2016-03-14 01:54] pgiani commented on #331
Sorry my bad, work great with the new CSS

[2016-03-14 03:21] Robinnnnn opened #334 "Screen remains dark after inserting row"
First off let me begin by saying how awesome this library is!

For some reason when I insert a new row, **the screen remains dark after the modal closes**. A similar issue looks to be outlined here: #240.

Here are a couple before-and-after [screenshots](http://imgur.com/a/ZF2oM). In order to make the screen normal I must click one more time.

Versions:
* react-bootstrap-table v2.0.0
* bootstrap C

[2016-03-14 03:32] AllenFang commented on #334
Thanks, I'll check this out, btw, what's the browser did you used? and the table is in the modal? or just in a panel or div?

[2016-03-14 03:35] AllenFang commented on #330
@dana2208, agree, it's a good suggestion, but I think the default is zero is better for the user who has been use search functionality.

[2016-03-14 03:50] Robinnnnn commented on #334
Browser is Google Chrome.

I'm not sure what you mean by table being in the modal -- do you mind clarifying your last question?

[2016-03-14 05:40] AllenFang commented on #334
sorry for a unclear description, I means the table is in a dialog([bootstrap modal](http://www.w3schools.com/bootstrap/bootstrap_modal.asp))?. Basically, I want to know your dom structure, because I think there's somthing wrong with dom but I can't figure out currently :)

[2016-03-14 12:10] AllenFang commented on #327
@yenhsiac , try v2.0.0, and check #331

[2016-03-14 14:36] garciasa commented on #331
Hi guys,
thanks for that @AllenFang , now it works on a plain tables, but I've another issue when your table has selected rows property enable. First time i render the table (comes from a hidden DIV) the header is not display correctly, once you click in one of the radio button, the header gets the correct width.. any idea?

![capture](https://cloud.githubusercontent.com/assets/1852069/13747778/d3

[2016-03-14 14:44] ahmedprohic commented on #334
I had this issue and that was because I had more than one table (in tabs) and they were using insert modal. Solution was to loop over modals using document.querySelectorAll("." + "moda-backdrop") and .click() on each of them in ToolBar.js -  handleSaveBtnClick function. Hope this helps.

[2016-03-14 15:06] AllenFang commented on #331
HI @garciasa, The problem is like you said, and the solution is you need to do a ```enforeceUpdate``` when after tab loaded. Like I said in first thread, check this [example](https://github.com/AllenFang/react-bootstrap-table/tree/master/examples/js/others/table-in-tabs.js).

after tab mounted, please call
[code]

[2016-03-14 15:10] garciasa commented on #331
Sorry man!!! i didn't read your workaround here https://github.com/AllenFang/react-bootstrap-table/tree/master/examples/js/others/table-in-tabs.js

[2016-03-14 15:10] AllenFang commented on #334
hi all, I've solve this issue and will release in these day, btw, @ahmedprohic, what's the version of bootstrap did you used?

[2016-03-14 15:11] ahmedprohic commented on #334
Bootstrap v3.3.6. Great, thank you very much @AllenFang for this awesome work.

[2016-03-14 15:11] AllenFang commented on #331
@garciasa, that's ok :)  feel free to give any feedback after you upgrade to the ```v2.0.0```

[2016-03-14 15:23] garciasa commented on #331
My problem is that my bootstraptable is in a child component, refs, is not directly accesible!!!! I need to find the way to access to the bootstraptable child...

[2016-03-14 15:33] AllenFang commented on #331
could you please show your example codes ? I think it should be work, how about ```this.refs.your_child_component.refs.table```?

[2016-03-14 16:22] lu44anno commented on #299
Hi Allen

To customize row style I use trClassNameFormat function.

But I want to style it with user defined colors(color picked by user with
help of third party "color picker"), something like
style={backgroundColor:"#userDefinedColor"}

Is it hard to implement for you ? Can I add this feature to issues one on
github ?

On 10 March 2016 at 14:49, Allen <notifications@github.com> wrote:

[2016-03-14 17:30] garciasa commented on #331
Yes, that is, i was doing my references wrong!!! Thanks again..

[2016-03-14 17:59] AllenFang commented on #299
I thinks a given style apply into the ```tr``` seems like a good improvement, for your case, maybe you can give a classname by ```trClassName``` and after use pickup a color, use ```document.querySelector``` to get the class and assign the bgcolor:
```document.querySelector('your_tr_classname').style.backgroundColor = XXX```

[2016-03-14 18:54] DexterHaslem opened #336 "interacting with filters toggles column sort"
If you have a column header setup with dataSort and a filter, messing with the filter continually toggles sort. for example:

    <TableHeaderColumn dataField="num" dataSort={true} filter={{ type: 'NumberFilter'}}>

I tried to fix by putting a check [here](https://github.com/AllenFang/react-bootstrap-table/blob/master/src/TableHeaderColumn.js#L19)

I tried checking if the target was this.refs["hea

[2016-03-14 20:20] bindiababy commented on #331
Hi, I have updated to use v2.0.0 and included the css
@import (inline) '../../node_modules/react-bootstrap-table/css/react-bootstrap-table-all.min.css';
but still get the same issue of header alignment error

![headers](https://cloud.githubusercontent.com/assets/16764023/13758621/526a081c-e9f8-11e5-9805-be1e1dfc244a.png)

[2016-03-14 20:38] dana2208 commented on #336
Maybe make sure that `event.target` (or a parent of `event.target`) has no class `filter`.

[2016-03-14 20:45] DexterHaslem commented on #336
that is a good idea. do you know off top of your head if custom filter will have all children classed correctly?

[2016-03-15 01:40] AllenFang commented on #331
@bindiababy, is the table in the tabs? or could you please give your example ?

[2016-03-15 01:56] bindiababy commented on #331
@AllenFang the table is not in tabs , but added into an Accordion , so I would still need a force update?  I was not sure where to do that though, since I am not handling the onSelect.
<Accordion>
     <Panel header="Criteria 1" eventKey="1">
           <BootstrapTable data={products} selectRow={selectRowProp}>
                       {getTableHeaders()}
            </BootstrapTable>
       </Panel

[2016-03-15 01:59] AllenFang commented on #331
@bindiababy, yes, you need to do a fore update when tab load at first time. Because Accordion is same as tab, there're some div is hidden

[2016-03-15 09:01] dana2208 commented on #336
Hi @DexterHaslem ,
I didn't understand your question...
A custom filter is by definition a any react class that any programmer can add and that will render in the header. So the programmer is the one responsible for setting the appropriate classes in the render method.
I hope this answer your question, if no let me know.

[2016-03-15 09:02] anilapu opened #337 "Radio selection still remains"
Hi,

I am using RowSelection(single). I selected a row from search result then I cleared my search data again I did search, now I can able to see previously selected row.
How can I unselect the selected row on clear?

[2016-03-15 09:03] nirhadassi opened #338 "Pagination dropdown (results per page) won't work"
Hi,
Set `pagination={true}`.
The dropdown shows 10 and appears clickable but when clicked nothing happens.

Any solution?

[2016-03-15 09:18] AllenFang commented on #338
@nirhadassi, any error on browser console? and what's version did you used and which browser?
btw, I think the problem is you forget to import bootstrap js in your application

[2016-03-15 09:29] AllenFang commented on #337
@anilapu, I think this is not a issue, because selection is one of states in ```react-bootstrap-table```, no matter what's you did(search, page changed, filtering or sorting), the selection state is still remain.
so for your question, how to unselect after cleaning search, you can try following examples:

[code]

[2016-03-15 09:44] nirhadassi commented on #338
Hey @AllenFang, thanks for your quick replay.

That's what I'm using:
react-bootstrap-table 2.0.0
Google Chrome Version 49.0.2623.87

On my component page I imported:
`import { BootstrapTable, TableHeaderColumn } from 'react-bootstrap-table';`

On my html page I have:
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="..." crossorigin="an

[2016-03-15 09:48] anilapu commented on #337
Thanks for response. Still same even though I followed your reference. **handleAfterSearch** is not firing.

`
constructor(props) {
    super(props);
    const { sectionsearch, dispatch } = this.props;
    this.state = sectionsearch;
    this.actions = bindActionCreators(SectionSearchActions, dispatch);
    this.onRowSelect = this.onRowSelect.bind(this);
    this.handleAfterSearch = this.handleAft

[2016-03-15 10:20] AllenFang commented on #338
I think you really missing the bootstrap js file

[2016-03-15 10:23] AllenFang commented on #337
@anilapu, 1.0.0 is too old,  you can use 2.0.0. btw, in you code, you forgot add ```search={true}``` on ```<BootstrapTable>```

[2016-03-15 10:24] AllenFang commented on #337
@anilapu, a question, did you handle search functionality by yourself? or you use internal search(provided by ```react-bootstrap-table```)?

[2016-03-15 11:23] nirhadassi commented on #338
Thanks,
Had to add  `<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>` to my index.html.
Hoped I wouldn't have to include jQuery but I guess there's no escape! :)

[2016-03-15 11:23] #338 closed

[2016-03-15 11:24] anilapu commented on #337
sure @AllenFang I will use updated one. I am handling search functionality.

[2016-03-15 12:13] AllenFang commented on #337
@anilapu, ok, I understand, if you hand search by yourself, just use ```this.refs.table.cleanSelected();``` to clean selection states on table.

[2016-03-15 12:22] sureshvarman commented on #337
@anilapu
 this.refs.table.setState({selectedRowKeys: []});

[2016-03-15 12:57] bindiababy commented on #331
@AllenFang Thanks that works now

[2016-03-15 13:00] lu44anno commented on #299
thank you very much Allen

On 14 March 2016 at 17:59, Allen <notifications@github.com> wrote:

[2016-03-15 13:18] AllenFang commented on #336
@dana2208, I thinks just check the ```e.target.tagName```. only TD or SPAN will trigger sorting

[2016-03-15 13:19] anilapu commented on #337
Thanks @AllenFang @sureshvarman for your suggestions. Now I can able to clear. I am using old version(1.0.0) so I have used `this.refs.table.setState({selectedRowKeys: []});`.

[2016-03-15 13:20] #337 closed

[2016-03-15 13:20] AllenFang commented on #337
Good job and thanks @sureshvarman

[2016-03-15 13:36] DexterHaslem commented on #336
I ended up using e.target.tagName and it works OK for now. I will submit pull request

[2016-03-15 13:54] dana2208 commented on #336
what if someone uses these tags in the custom filter?? I think this solution is not good enough...

[2016-03-15 14:01] DexterHaslem commented on #336
yea of course, I agree it will especially come up with clicking on spans that im sure people will use in custom filters. maybe TH and SPAN with class name of filter too would make it tolerable?

[2016-03-15 14:10] dana2208 commented on #336
the solution that will always work is to check that no parent of the event target has a class "filter". Because all the filters have this class. For custom filters, programmers will have to know that they have to put a class filter on the most external div of their filter.
But it is weird because on my grid clicking on filter does not fire the sort event... Maybe this happens now with the bootstra

[2016-03-15 14:58] DexterHaslem commented on #336
is that on custom filter? I still have it on built in filters on 2.0

[2016-03-15 15:11] arrb opened #340 "Pagination"
Hello,

Seems like the CSS doesn't work for pagination. I have imported <link rel="stylesheet" href="./css/react-bootstrap-table-all.min.css"> but I don't get the default buttons for pagination.

[2016-03-15 15:11] AllenFang commented on #336
@dana2208, yes right, but for the parent, I'm scare that user use more than one div or something like that to wrap the input field or selection etc this will make problem need to find parent to make sure "filter" class exist in parent. so how to make this solution more intuitive to solve?

btw, how about ```event.stopPropagation()```?
maybe I can use a div to wrap all filter and bind a click event

[2016-03-15 15:15] AllenFang commented on #336
In addition, this issue only happened on v2.0.0, because [this](https://github.com/AllenFang/react-bootstrap-table/blob/v1.6.2/src/TableHeaderColumn.js#L77)
Filter is outside the div which only wrap header text and sort caret

[2016-03-15 15:17] AllenFang commented on #340
what's thing did you import, could you please give more detail information :)

[2016-03-15 15:25] arrb commented on #340
yes sorry, I imported the CSS (react-bootstrap-table-all.min.css) the scroll bar works and it only shows me the 10 first values; however, the buttons that I am supposed to get at the bottom are missing, I don't get buttons I only get a list.

[2016-03-15 15:26] AllenFang commented on #340
did you enable ```search={true}```? and any error on browser console?

[2016-03-15 15:29] arrb commented on #340
no errors on console.
`<BootstrapTable data={this.state.data} pagination={true} search={true}>
      <TableHeaderColumn dataField="name" isKey={true}>Name</TableHeaderColumn>
      <TableHeaderColumn dataField="name">Name</TableHeaderColumn>
      </BootstrapTable>
`

Everything works fine, the only thing is the CSS for the pagination buttons. Do you know what am I missing? Do I have to import som

[2016-03-15 15:31] arrb commented on #340
I do not want to search it's just the default pagination sample. Sorry for any misunderstandings

[2016-03-15 15:42] AllenFang commented on #340
@arrb, so you means you did not see any the pagination list or page button? it's wired, what's bootstrap version and ```react-bootstrap-table``` did you used?

[2016-03-15 15:45] arrb commented on #340
https://cloud.githubusercontent.com/assets/9982963/10610837/e00a8c68-7749-11e5-92da-0bd443989903.png
I can't see that (click on click above) I downloaded react-bootstrap-table today. I have these versions:

    "react-bootstrap": "^0.28.3",
    "react-bootstrap-table": "^2.0.0",

I know it seems odd to me too, I really can't see where my error is.

[2016-03-15 15:51] AllenFang commented on #340
@arrb, did you have any repo or fully example which can reproduce this issue? btw, ```react-bootstrap-table``` have no any dependency on ```react-bootstrap``` :)

[2016-03-15 15:55] arrb commented on #340
Okay I am just trying to think of every single possibility.
I don't have the repo right now, but everything works perfectly. I get all the data from a server, even sort works it's just the styling for pagination... Well it's okay thanks for helping anyways

[2016-03-15 16:00] AllenFang commented on #340
@arrb, really? I think there must some thing stuck and maybe is a bug. however please tell me how did you solve. If you can't solve it, feel free to give your repo or examples. so I will close this issues until this issue could be confirm.

Thanks, feel free to ask anything :+1:

[2016-03-15 16:00] #340 closed

[2016-03-15 16:14] #329 closed

[2016-03-15 16:14] #334 closed

[2016-03-15 16:16] AllenFang commented on #334
Fixed on ```v2.0.1```, check it out :)

[2016-03-15 16:17] AllenFang commented on #329
Fixed on ```v2.0.1```, check it out :)

[2016-03-16 08:13] liqili commented on #327
It's working fine at v2.0.0,thank you!

[2016-03-16 08:14] #327 closed

[2016-03-16 14:05] kolyabokov commented on #255
@AllenFang it works now, thanks!)

[2016-03-16 14:08] arrb commented on #340
Hi,

I "fixed it" just by adding my own css, but I still would like to know what's wrong. Here is a link to my repo: https://github.com/arrb/reduxSample

[2016-03-17 03:45] eric379990 opened #342 "Is that possible to restrict the user input when edit the cell?"
Hi Allen,

Is that possible to restrict the user input when edit the cell? for example, restrict the user only can input numbers when edit the Age column.

thanks a lot.
BR/Eric

[2016-03-17 05:00] geekbosszhang commented on #331
Hi,@AllienFang I have updated to v2.0.0 and add  the new react-bootstrap-table-all.min.css  and forceUpdate, but my table header still have the alignment error, after some seconds, it will align correct.
![image](https://cloud.githubusercontent.com/assets/7484001/13836789/ddc9db64-ec3f-11e5-8b48-cd4168982b13.png)
Here are my codes.
![image](https://cloud.githubusercontent.com/assets/7484001/138368

[2016-03-17 05:25] juan0087 commented on #331
Hello there Allen,

I'm having a hard time displaying the table and content properly on version 2.0.0. The issue is in line 7 of react-bootstrap-table-all.min.css (Rule: table-layout:fixed). If I remove "fixed" or simply change it for "auto" the table displays perfectly as it should, even on mobile devices, but the header breaks and gets misaligned just like before on the previous version.

Here a

[2016-03-17 05:46] AllenFang commented on #331
@geekbosszhang, if your upgrade from older version, make sure your application use the newest ```react-bootstrap-table-all.min.css``` and what's browser did your used? btw, any animation on changing between tab?

[2016-03-17 05:52] geekbosszhang commented on #331
@AllenFang yes, we are using the newest react-bootstrap-table-all.min.css. The browser is Chrome, and  there is no animation between tab.

[2016-03-17 05:53] AllenFang commented on #331
@juan0087, maybe be a horizontal scroll is your solution,  try to set width on your columns. The reason I explain at [before](https://github.com/AllenFang/react-bootstrap-table/issues/331#issuecomment-195980719).

BTW, I thinks there are a lot of unalign issues when you set ```auto``` on ```table-layout```. that's why I spend a lots of time to upgrade to ```v2.0.0``` and change to a new table stru

[2016-03-17 05:53] AllenFang commented on #331
@geekbosszhang, ok. Could you please give me a examples or a repo is better :)

[2016-03-17 05:59] AllenFang commented on #342
@eric379990, sorry, there are only ```select```, ```checkbox``` and ```textarea``` on cell edit. Maybe provide a beforeSaveCell function for you to valid?  is that helpful to you? or any ideas? :)

[2016-03-17 06:12] geekbosszhang commented on #331
@AllenFang I'm sorry our repo is private, but I can show you some pics and code, if that can help, Thanks a lot.
![image](https://cloud.githubusercontent.com/assets/7484001/13837753/42974dfc-ec49-11e5-8532-ff9ccc91f5c4.png)
This is the queryDataGrid.js
![image](https://cloud.githubusercontent.com/assets/7484001/13837784/938575a4-ec49-11e5-997b-bfc3947babf8.png)
This is the query/index.js
![image](

[2016-03-17 06:22] AllenFang commented on #331
I've no idea about that. I think the problem "maybe" is about the async call when you change to tab 2. Matbe you can try to move this async call ```this.props.actions.fetchQueryDetails()``` to the initialization on ```Main``` Component

[2016-03-17 06:30] AllenFang commented on #331
@geekbosszhang, btw, there's must have some delay on change to tab which contain ```react-bootstrap-table``` at first time, so how many seconds did you observer?

[2016-03-17 06:39] juan0087 commented on #331
@AllenFang , how about setting a min-width:800px for example. It would work kinda like the bootstrap table-responsive class and this adds the scroll bar automatically and it's fully responsive.

.react-bs-table table {
    margin-bottom: 0;
    table-layout: fixed;
   ** min-width:800px;**
}

http://take.ms/xYRo2

I've tried what you said about but it didn't turn out well.

What do you think about

[2016-03-17 06:41] AllenFang commented on #331
@juan0087, sounds like good, maybe I can add this as a new feature after some testing!

[2016-03-17 07:17] juan0087 commented on #331
To remove the default bootstrap scroll bar, what I did was I wrapped the table-resposive class inside another class and that left me only with one scroll bar.

CSS
.hidden-scrollbar .table-responsive {
	overflow:hidden!important;
}

Not the best way, but it's a quick fix for the mean time.

[2016-03-17 07:20] eric379990 commented on #342
@AllenFang beforeSaveCell helps, I can check the value by myself, wish you can add that if you have time:)

thanks!

[2016-03-17 07:23] AllenFang commented on #331
@juan0087, just a question, so you use a ```div.table-responsive``` to wrap a ```react-bootstrap-table```?

[2016-03-17 07:27] juan0087 commented on #331
Correct Allen, here is a screenshot: http://take.ms/MPAmx

I didn't want to remove the bootstrap table-responsive class since it shirks and expands the column.

What I'm trying to figure out now is if I should leave the white-space:wrap or normal on .react-bs-table table td, .react-bs-table table th

[2016-03-17 07:31] AllenFang commented on #342
@eric379990, sure, I'll support it in near future :)

[2016-03-17 07:44] AllenFang commented on #331
ok, I understand, I thinks you can just overwrite the ```white-space```. BTW, go back to my first answer for your, this is an [example](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/basic/large-column-table.js). What I mean is, horizontal scroll can't display auto, so the solution is you need to set widths on some column to make the total widths of table exceed the out

[2016-03-17 07:49] juan0087 commented on #331
Great! I will try it out in the morning and see how it comes out.

I will keep playing around with it and if I find a better solution I'll post it up.

Thanks a million again for the support Allen!

[2016-03-17 07:52] AllenFang commented on #331
Also thanks your solution, I'll keep to explore it and maybe add it as a ```react-bootstral-table``` examples

[2016-03-17 08:17] geekbosszhang commented on #331
@AllenFang  I have tried your solution, but still have that problem, about 2-3 seconds it will align correctly.Does that make sense? BTW, thanks for your suggestion.

[2016-03-17 08:26] AllenFang commented on #331
@geekbosszhang, I thinks you can record the timestamp on tab changing and the first line on ```render``` method of ```queryDataGrid.js```. i want to see the gap between this two timestamp. btw, the data in the table is very large?

[2016-03-17 08:32] AllenFang commented on #340
is [this](https://github.com/arrb/reduxSample/blob/master/src/components/employeeUI/employeeCSS.css)?

[2016-03-17 09:29] geekbosszhang commented on #331
@AllenFang  I think our data in the table is not very large by now. Is this the timestamp you want to see?
![image](https://cloud.githubusercontent.com/assets/7484001/13841763/b5da9410-ec65-11e5-8916-526c6d626381.png)

[2016-03-17 10:26] AllenFang commented on #331
@geekbosszhang, sorry for my unclear descriptions, you can just use console.log(new Date().getTime()) to get timestamp and diff it.

[2016-03-17 13:49] arrb commented on #340
yes, my question is just if you know why the default css doesn't work for pagination? is there something I did wrong?

[2016-03-17 15:07] AllenFang commented on #340
ok, I will spend some time to figure out :) Thanks your feedbacks

[2016-03-17 22:58] dabates commented on #299
@AllenFang Are you still needing help wiht this?  We love the jQuery plugin.. but can't live without the Column Toggle Feature.. if you still need help, since we are working on this part right now, I'd love to get it working.

[2016-03-18 01:48] AllenFang commented on #299
@dabates, because ```v2.0.0``` has been released, so I'll try to do this support again, hope the column width problem can be tackled

[2016-03-18 01:52] dabates commented on #299
@AllenFang I'd be willing to take a stab at it and if I can get it working submit a PR.. :)

[2016-03-18 01:53] AllenFang commented on #299
@dabates, thanks your helping :+1:

[2016-03-19 18:14] staminaloops commented on #299
Hey there, regarding SSR, I have a PR here - https://github.com/AllenFang/react-bootstrap-table/pull/341

[2016-03-20 12:11] #336 closed

[2016-03-20 12:11] #342 closed

[2016-03-20 12:13] AllenFang commented on #342
@eric379990, Released on ```v2.0.2```. check [example](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/cell-edit/cell-edit-hook-table.js)

[2016-03-20 12:14] AllenFang commented on #336
Fixed on ```v2.0.2```.

[2016-03-21 03:19] ernestocr opened #343 "Language support"
Thanks for the great work, I was wondering if there is a way (or will be) for making the buttons, filter and modal have a different language?

[2016-03-21 03:38] geekbosszhang commented on #331
@AllenFang we added `animation={false}` on our `SimpleTabs` component, and used forceupdate() as you suggested, then it worked now ;)

However, I'm not sure why this can work? Can you throw me a hint ? thanks !!

[2016-03-21 05:51] AllenFang commented on #343
#85 is same as this issue, currently, I've no any plan for support language, because the next step for me is tuning the performance in large table. After it, i will consider hardly for supporting language. Sorry and close this issue due to duplicate. Btw, PR is welcome :+1:

[2016-03-21 05:51] #343 closed

[2016-03-21 05:57] jeffdh5 opened #344 "Determining row from cell context"
I am using react-bootstrap-table and heavily customizing the formatter to support my web app needs. So far, this has been a breeze to get started in!

Below, I have some cells with buttons, and when the user clicks the button, it will open up a modal that allows the user to make edits. Once the user makes those edits, I need to go back into the correct and propogate the update. What's the best way

[2016-03-21 06:03] AllenFang commented on #331
@geekbosszhang, As I guess, because animation is true by default on ```tab``` of ```react-bootstrap```. btw, I'm not sure why, but if you disable animation, there will no any async operation when tab changing, so that no delay and no need to do any ```settimeout```. But as I know, if enable animation, you can call ```forceupdate``` after you fetched your data back to client, it's more better than

[2016-03-21 06:07] AllenFang commented on #344
What's that means? You means what's the best practices for how to update cell data programmatically?

[2016-03-21 06:08] jeffdh5 opened #345 "How to implement clear table, without getting rid of headers?"
In my current approach, I have a reference to my table from a parent React class, via the "refs" tag. When I need to clear my list, I am calling this:

this.refs.table.setState({data: []}).

This seems to also end up deleting the headers. Am I doing something wrong? Is there built in method that allows me to do this clearing?

Not sure if related, but I find that after using this hack to clear my

[2016-03-21 06:20] AllenFang commented on #345
The best way is use ```data={this.props.data}``` in ```<BootstrapTable>```, ```this.refs.table.setState({data: []})``` is good also.
btw, you should hold your table data in parent component, and pass as a ```prop``` to table, I think it's more better.

Maybe it's a bug, I can try it out. however, It maybe caused by a wrong states control or something like that. Could you please give a simple examp

[2016-03-21 06:35] jeffdh5 commented on #345
Here's an example: http://pastebin.com/WtrfF7aR

Note that I'm calling your method, handleAddRowAtBegin, rather than modifying the parent state directly. Is this possibly what's causing the problem?

[2016-03-21 06:36] jeffdh5 commented on #344
Sorry unclear wording! I am indeed asking for best practices behind updating cell data programmatically.

Let's say a user clicked "Edit Product Settings", and changed "Note Setting" to "Edited Note Setting." I need to find the correct row/cell associated with those edits.

[2016-03-21 06:44] AllenFang commented on #344
@jeffdh5, if you used column format, ```react-bootstrap-table``` will pass the ```cell``` and ```row``` for you to customize. I think you can use row id to find the row which user edited.

[2016-03-21 06:49] AllenFang commented on #345
@jeffdh5, I'll try it out after I get off work. Thanks !!

[2016-03-21 06:52] jeffdh5 commented on #344
Got it, that helps.

I also was wondering - are key's modifiable? If I change the keys on the parent state what will happen to the table?

[2016-03-21 06:52] #344 closed

[2016-03-21 06:58] AllenFang commented on #344
in client side(inside your compoent), I think you can do anything on your data(include key filed), if you change key, just means an change on id, there's no another new row show on the table.

[2016-03-21 07:23] jeffdh5 commented on #345
Hey Allen, I have figured it out. Thanks for the advice!

I stopped using your method, handleAddRowAtBegin, which operates on the table's state which was copied from the original parent state. Instead, I just managed the data myself which worked out much better (and is also more intuitive).

[2016-03-21 15:36] AllenFang commented on #345
@jeffdh5, good job. BTW, i don't suggest to set state of table directly, but the header disappear when give empty data is a bug, I'll fix it. Thanks :)

[2016-03-21 15:36] #345 closed

[2016-03-21 20:27] TonyVeigel commented on #325
Is this going to be pulled out of production? Before : 95.9 KB, after: 521 KB now: 611 KB For a table.

[2016-03-21 21:36] staminaloops commented on #325
So for production, we can use cheap-source-map or cheap-module-source-map. all we have to do is change the Webpack production configuration of the repo.

[2016-03-21 22:40] TonyVeigel commented on #325
There doesn't need to be a solution right now.  eval-source-map is not supposed to be in production for various reason but yet it is and people continue to download this library. I can do a PR with it removed but @AllenFang  seems like he needs a solution first.

[2016-03-21 22:48] staminaloops commented on #325
@TonyVeigel as I said, cheap-module-source-map can be used in production. I'm doing a PR and try to improve other things on the build system.

[2016-03-22 04:14] redjab opened #348 "Server-side rendering and Insert Row"
Hi, I'm using react-bootstrap-table and running into this issue when set insertRow={true}

[code]

I think it has something to do with the pop up modal on inserting new row.

Using:
react-bootstrap-table: 2.0.2
react: 0.14.2
jquery: 2.1.4
bootstrap: 3.3.5

Would appreciate any help on the issue!

[2016-03-22 04:45] JeremyFossTemple opened #349 "Unresponsive page when searching large tables"
If the table is large then the page becomes unresponsive during search.  Maybe consider offloading search to a webworker, or searching for a set amount of time, then window.setTimeout(continueSearch)

[2016-03-22 05:55] AllenFang commented on #349
@JeremyFossTemple, yes, its a performance issue on table search, #330 have asked a delay when user  want to search, I'll done this tuning in next version. About the performance issues, I'll try to solve in near future. Thanks :)

[2016-03-22 06:00] AllenFang commented on #348
Hi @redjab, could you please confirm there's no error if you only disable ```insertRow```?  Thanks!

[2016-03-22 06:06] redjab commented on #348
Hi @AllenFang, yes I can confirm that there's no error if I only disable `insertRow`
Here is the BootstrapTable code:
[code]

[2016-03-22 06:40] AllenFang commented on #348
@redjab, I know the problem, ```le-modal-sm1458619137421``` is a classname, but ```1458619137421``` is a timestamp which will be generate when render insert modal. But actually classname should be ```bs-table-modal-sm1458619137421```. However, I need to find another solution to avoid use a timestamp to avoid a unique classname.

[2016-03-22 12:27] seoyoochan opened #350 "[enhancement] use react-s-alert instead of toastr to alarm some message to user"
[enhancement] use react-s-alert instead of toastr to alarm some message to user

Not only the features of `toastr` are almost exactly provided by `react-s-alert` but also it doesn't depend on `jQuery`.

Demo: http://react-s-alert.jsdemo.be/
Github: https://github.com/juliancwirko/react-s-alert-demo

[2016-03-22 12:44] AllenFang commented on #325
I'll merge #347(Provided by @staminaloops ) and release quickly.  Sorry for make this issue still remain.

[2016-03-22 13:13] AllenFang commented on #325
Released on v2.0.3, the size reduce to about ~110 KB. @TonyVeigel, sorry for this issues that I dont fixed activity, I thinks there's something wrong actually but thanks @staminaloops fixed.  I'll close this issues, feel free to ask any question :)

[2016-03-22 13:13] #325 closed

[2016-03-22 15:58] redjab commented on #348
Make senses. On top of my head, may be it will be easiest for the user to pass in a prop as the id instead of generating one?
So instead of `insertRow={true}` you can do something like
`insertRow = {
  data-target-id: 1
}`

[2016-03-22 18:00] lebeier opened #351 "column header and body width out of align"
I read that in v2.0.0 this issue should have been fixed.
However, I am still seeing the width of column header is not aligned to the body.

[2016-03-22 19:21] staminaloops commented on #350
Hey there,
Yes, our goal should be reducing the dependencies.

I'm actually investigating our options:

## https://github.com/juliancwirko/react-s-alert

- Dependecies:

  "dependencies": {
    "react": "~0.14.3",
    "react-dom": "~0.14.3",
    "babel-runtime": "6.x.x",
    "react-hot-loader": "~1.3.0",
    "lodash": "4.x.x"
  }

- bundle size: TODO

## Some modified version of https://github.com

[2016-03-22 20:04] seoyoochan commented on #350
@staminaloops Thank you for your quick response!
I looked trough the options, but i still hold the same suggestion, which is using `react-s-alert` because it does not depend on any css framework and focus on providing more rich features than other options.
Although the dependencies seem many, they are widely used in real-world development with `react`.
Due to the above reasons, i used it on my pri

[2016-03-22 20:26] staminaloops commented on #350
Np :smile:
Yes, the only real dependency is lodash": "4.x.x.
I'm actually considering using `react-s-alert` on my teams project ;)
But for `react-boostrap-table` let me do some more tests and I'll get back to you and @AllenFang.

[2016-03-23 01:39] AllenFang commented on #351
@lebeier, could you please give more information? browser? example code? any horizontal bar? did you set column width? Did you replace ```react-bootstrap-table-all.css``` when upgrade?  if you give these information, I think I can help you, maybe it's a bug

Thanks :)

[2016-03-23 01:52] lebeier commented on #351
I have just updated the css according to what you have mentioned. Still the alignment issue exist.
The browser used is chrome/firefox(doesnt work in both)

                 <Tabs defaultActionKey={1} className='mana-tab-container'>
                      <Tab eventKey={1} title='Virtual Devices'>
                          <div id='virtual_devices_dt'>
                              <BootstrapTable d

[2016-03-23 02:02] AllenFang commented on #350
These options is all better than ```react-toastr```, I think we need more test on these options. Thanks!
BTW, I can't figure out why ```react-s-alert``` need ```react-hot-loader``` as dependency(For tweak two different component?)

And ```react-s-alert``` depend on Babel@6, I'm afraid of there're some conflict with Babel@5 on development, because we didn't upgrade to babel@6. However, I think mayb

[2016-03-23 02:06] AllenFang commented on #351
@lebeier, did you read #331 according to the README.md ? your table is in the tab(```react-bootstrap```). So did you call ```forceupdate``` if tab changing at first time? The reason and explanation is all in the #331 :)

[2016-03-23 02:25] lebeier commented on #351
Ok I have just did what is mentioned too. the alignment only corrects after selecting the tab on the 2nd try. The first forceUpdate did not make it align.

[2016-03-23 02:31] AllenFang commented on #351
@lebeier, did you enable ```animation``` on ```tab```, I remember default is true, so if you have animation on tab, remember to call ```forceupdate``` on async way(ex: settimeout). In this [example](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/others/table-in-tabs.js), I've gave some description on it. Try it !  :)

[2016-03-23 02:32] AllenFang commented on #351
Like I said in #331, it's a workaround, because I can't calculate the actual width in hidden tab ;(

[2016-03-23 03:01] lebeier commented on #351
ok now it is working. Thanks for the help. But I think the workaround is really hackish. xD

[2016-03-23 03:01] #351 closed

[2016-03-23 03:12] AllenFang commented on #351
@lebeier, ya~~ but if you disable animation, you can drop the async call, it will be more intuitive :)  btw, welcome any solution on it :+1:

[2016-03-23 05:19] seoyoochan commented on #350
@AllenFang I don't understand why the maintainer put `react-hot-loader` as dep :confused:
`react-bs-notifier` could be an alternative option for `react-s-alert` because this project is dependent on Bootstrap anyway.

[2016-03-23 13:23] dana2208 opened #353 "Selected row page"
Hello @AllenFang ,

I have selected a row from an external action by passing the selected array to the `selectedRow` props of the `BootstrapTable`.
Is there a way I can know in which page is the selected row?
I would like to be able to jump to that page when it is selected, either right after the selection or at the same time as it is selected by passing the `page` in the `options` props of the `B

[2016-03-23 14:01] staskorz opened #354 "Error after upgrading from 2.0.2 to 2.0.3"
The following error is received after upgrading from 2.0.2 to 2.0.3:

`Uncaught Error: Cannot find module 'events'`

Reverting back to 2.0.2 resolves the issue.

[2016-03-23 14:37] invalidred opened #355 "handleConfirmDeleteRow needs rowId param"
Hi Allen,

Thanks for the amazing component.

I am having a small issue when deleting a row. I need to first delete a row by calling the API and if the operation is successful, I then need to delete it in the react-bootstrap-table.

Currently there are 2 callbacks available around deleting a row
1. afterRowDelete: callback after row is deleted in UI
2. handleConfirmDeleteRow: callback before row i

[2016-03-23 15:17] AllenFang commented on #354
HI @staskorz , when the error messages be throw?

[2016-03-23 15:23] AllenFang commented on #353
HI @dana2208, The question is you want to get these pages which contain selected rows, right?
I think there's no way to do it. How about I expose an API on ```BootstrapTable``` which can let you get these selected row pages?

[2016-03-23 15:37] invalidred opened #356 "Expose 'Add' and 'Delete' button through refs."
Hi Allen,

Is it possible to access 'Add' and 'Delete' buttons through refs?

This would be really useful to add custom events and interactions with the button.

[2016-03-23 15:38] AllenFang commented on #355
@invalidred, ok, I can give you the rowKey as param on handleConfirmDeleteRow callback function at next version:)

btw, I can give you another solution on this condition, maybe it's more intuitive. That's said,

1. Dont use embedded deletion(Just disable by```deleteRow={false}```)
2. Add a custom button for row deletion
3. When user click that button, use ```this.refs.table.state.selectedRowKeys``

[2016-03-23 15:42] AllenFang commented on #353
btw, did you need to know the page which every selected row located?

[2016-03-23 15:48] AllenFang commented on #356
@invalidred, I thinks its ok, but the these button is a little deep in component hierarchy. so how about just give you a click callback hook for you?
btw, what's custom events or interaction did you expect on it?

[2016-03-23 16:03] staminaloops commented on #354
OK I spotted the problem. https://github.com/AllenFang/react-bootstrap-table/blob/master/src/store/TableDataStore.js

We are using event emitter but we didn't declare it as a dependency. Do we really need it? We could use other way of handling events without depending on event emitter

[2016-03-23 16:09] AllenFang commented on #354
@staminaloops, I thinks it time to drop ```TableDataSet```, I dont want to keep support this feature anyway. I'll handle this.  Thanks your finding!

[2016-03-23 16:11] AllenFang commented on #350
@seoyoochan, ok, I'll do some survey on it :+1:   And maybe released in near future :)

[2016-03-23 17:26] invalidred commented on #355
Yes that solution works. Thank you very much Allen.

[2016-03-23 17:30] invalidred commented on #356
As for the custom events that I had in mind, Add button click for example, I dont want to use the default Add UI that comes up, rather load some other page when it's clicked.

[2016-03-23 17:57] staskorz commented on #354
Hi @AllenFang , it occurs on component load.

Thanks.

[2016-03-23 20:15] dana2208 commented on #353
Hi,

I would like either to get the page numbers
1. before passing the array of selected row keys,
2. or after passing the array of selected row keys.
First solution would be better because I could update props of the `BootstrapTable` (`selected` and `page`) in the same `setState` call but second solution will be OK too.

Currently I am working in mode "radio" so I need only one page number, but i

[2016-03-23 23:08] dannysindra commented on #331
Hey @AllenFang . Is the table header alignment fixed only for chrome? When I checked on Safari and Firefox, the headers are still unaligned with the data.

I already updated to v2, and including the new css.

[2016-03-24 01:05] madeinfree commented on #353
Hi @dana2208, I guess you want to click the checkbox and get the current page of selected row key immediately ?

[2016-03-24 01:45] AllenFang commented on #355
@invalidred, nice. anyway, I'll pass the rowKey as param in next version :)

[2016-03-24 01:50] AllenFang commented on #331
I'm sure the problem has been fixed on all browser. could you please show your examples? and table in tabs? did you assign column width?

[2016-03-24 01:51] dana2208 commented on #353
Hi,

No, my selection is done externally.
I am clicking an entity on a map and i want it selected in the bootstrap table grid that is displayed below the map.
So when clicking on the map i get the id of the entity which i put in the selected array of the selectRow prop of BootstrapTable. I would like to get the page in which this selected row key is in the grid so that I also can go to this page t

[2016-03-24 01:58] AllenFang commented on #353
@dana2208, I understand, maybe like I said, just give you a exposed API for you to get the page of selected row key, I think it should solve this issues. if ok, I'll done it in these day :)

[2016-03-24 02:14] AllenFang commented on #353
hi @dana2208, @madeinfree is a new contributor who I found for helping me. Because, I'm busy in these day(always busy...lol).  btw, I'll ask him support this feature at next version. Feel free to discuss with him and me :+1:

[2016-03-24 02:40] madeinfree commented on #353
@dana2208 Ok, I understand and I will support that feature.

@AllenFang Thanks, i will try it.

[2016-03-24 04:43] dana2208 commented on #353
Hi @madeinfree,  welcome as a new contributor and good luck! Yes I am very interested in this feature. Pay attention that page number of the selected item depends on the current sorting and  filtering and also the number of rows displayed on each page. Thanks!

[2016-03-24 12:26] AllenFang commented on #356
@invalidred, if you want a customize UI for adding new row. I suggest dont use embedded insertRow, just custom one by yourself, include button and popup modal.

[2016-03-24 15:29] AllenFang commented on #353
@dana2208, #358 could help to support this feature, just call ```getPageByRowKey(your_selected_rowkey)``` function exposed by ```BootstrapTable```. This function will return the page number.

[2016-03-25 03:01] dannysindra commented on #331
The table is not in tabs, I have tried assigning column widths; but did not work.
Safari v9, Firefox v31.

![screen shot 2016-03-24 at 7 31 51 pm](https://cloud.githubusercontent.com/assets/10548708/14036543/041088ce-f1f7-11e5-88c6-70083fdb9886.png)

[2016-03-25 03:17] madeinfree commented on #331
Hi, @dannysindra may I have your detail information like dependencies version or source code for this sample ? this version is work quite well by my safari v9.

[2016-03-25 03:19] AllenFang commented on #331
@dannysindra, did you enable ```selectRow```. And maybe an examples code for me to reproduce it is more better. Thanks :)

[2016-03-25 06:00] geekbosszhang opened #359 "The checkbox next to ID should be empty if there is no data in table."
Hi, @AllenFang the default behavior of checkbox next to the ID is checked when there is no data.
![image](https://cloud.githubusercontent.com/assets/7484001/14038838/d867d02a-f290-11e5-863a-9af6ca6a939b.png)
In the src/BootstrapTable.js file, I saw the code below
![image](https://cloud.githubusercontent.com/assets/7484001/14038885/35e0ba96-f291-11e5-8dfe-efddb25c892b.png)
I think maybe we could mo

[2016-03-25 08:05] madeinfree commented on #359
Hi, @geekbosszhang this is my solution, I think it can improved your problem, but it will waiting for the @AllenFang to review the code.

[2016-03-26 00:27] sugargreenbean opened #362 "Expandable Rows"
Looking for a way to click on a row or an icon within a column and then it expands with more information about that row. Something similar to this: http://daviferreira.github.io/react-sanfona/ or this http://mandarinconlabarba.github.io/react-tree-menu/example/index.html

As the table seems to only expose columns, I have no idea how to customize rows. Thank you for any help!

[2016-03-26 03:08] edwardwang0302 opened #363 "table search doesn't work sometimes"
Hi,allen
For example, I want to search "abc", and I type "abc"  in search input it works. But when I type "abcd" and press backspace it can be matched any more

[2016-03-26 05:20] madeinfree commented on #362
Hi, @sugargreenbean I discussion this feature with @AllenFang recently, it sound a good idea,but we have to observation and plan this feature. maybe we can achieve it.

[2016-03-26 05:33] AllenFang commented on #363
@edwardwang0302, if you type something separated with a space string(ex: abc de), this pattern will trigger a multi search functionality. in your case 'abcd ', the last backspace will be a search pattern for us.

[2016-03-26 05:36] AllenFang commented on #362
@sugargreenbean, I thinks it's a nice feature for ```react-bootstrap-table```, but it actually need some time to do it. Hope we can support this feature in near future

[2016-03-26 06:06] edwardwang0302 commented on #363
@AllenFang Thanks for ur answer, but u may misunderstood. I want to match 'abc' but  type wrong string 'abcd' and then delete the last letter 'd',  then it can't match 'abc' any more.

[2016-03-26 06:11] AllenFang commented on #363
@edwardwang0302, sorry, my fault. I take backspace as whitespace. lol.  I'll check this out again

[2016-03-26 06:13] edwardwang0302 commented on #363
@AllenFang Thanks again, sorry for my poor English by the way.

[2016-03-26 06:18] AllenFang commented on #363
@edwardwang0302, I figure out. because the table search is depend on current data which display on table, but I thinks it's not very intuitive for user. Maybe I'll improve it in near future.

[2016-03-26 06:18] AllenFang commented on #363
BTW, for your case, if you type wrong text for searching, you need to cancel it and type again

[2016-03-26 06:39] #348 closed

[2016-03-26 06:39] #354 closed

[2016-03-26 06:39] #355 closed

[2016-03-26 06:39] #363 closed

[2016-03-26 06:41] AllenFang commented on #363
Released on ```v2.1.0```. Thanks :)

[2016-03-26 06:42] AllenFang commented on #355
Released on ```v2.1.0```. Thanks :)  Check [example](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/manipulation/del-row-custom-confirm.js)

[2016-03-26 06:43] AllenFang commented on #354
Released on ```v2.1.0```. I've removed the ```TableDataSet``` module from our project

[2016-03-26 06:44] AllenFang commented on #348
@redjab, I've fixed this issue on ```v2.1.0```. Check it out

[2016-03-26 06:48] AllenFang commented on #349
@JeremyFossTemple, we've support a delay on search, I thinks it a workaround for this issue. Check [example](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/manipulation/debounce-search-table.js)

[2016-03-26 06:48] #349 closed

[2016-03-26 06:48] AllenFang commented on #330
@dana2208, we've support a delay on search, I thinks it a workaround for this issue. Check [example](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/manipulation/debounce-search-table.js)

[2016-03-26 06:51] AllenFang commented on #353
Fixed on ```v2.1.0```, check [example](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/others/expose-api-table.js) :)   Thanks

[2016-03-26 06:52] #353 closed

[2016-03-26 08:00] edwardwang0302 commented on #363
@AllenFang Thank u

[2016-03-26 12:35] sugargreenbean commented on #362
Ok, good to hear! Meanwhile, I am working on this. I see that the rows are generated as <tr className="foo" data-reactid="..."> Where is this being generated? I thought it was in TableRow.js, but can't seem to change what is in the tr tag, as in I want the tag to say <tr ClassName="foo" data-reactid="..." data-toggle="collapse">

[2016-03-26 13:01] AllenFang commented on #362
@sugargreenbean, yes, it is in ```TableRow.js```, I think it can be changed by some flag, for a roughly example:
[code]
However, I think expand row is a little hard to implement, maybe we can discuss more on it.

[2016-03-26 13:09] sugargreenbean commented on #362
This is what I have currently tried:
Following this: http://www.w3schools.com/bootstrap/bootstrap_ref_js_collapse.asp
I am trying to add to a current selected row tr tag:
`data-toggle="collapse" data-target="#foo"`
And then be able to add a row underneath current selected row with handleAddRow. Then I want to customize this Row to not look like a row and populate with extra info about the row.

[2016-03-26 13:14] sugargreenbean commented on #362
Sorry, I updated my 2nd comment with proper styling so you can see my code examples which were not previously viewable.

[2016-03-26 14:03] AllenFang commented on #362
```data-reactid ``` is generated by React, ```className``` is generated by ```trCss```, you can check [here](https://github.com/AllenFang/react-bootstrap-table/blob/master/src/TableRow.js#L54).

I thinks you can just render ```data-toggle="collapse" data-target="#foo"``` by some flag. Hope I answer your question. BTW, what's means for *And then be able to add a row underneath current selected row

[2016-03-27 11:51] dana2208 opened #365 "Sort and Add issue"
Hello,

If you sort a table, then filter it on the same filtered column, add an item and then remove the filter, then the items in the table are not sorted anymore.
Please try with that:
[code]

Sort the table by clicking on the product price column.
Then filter the product price column (> 800 for example).
Then add an item to the table.
Then remove the filter (by selecting an empty comparator in

[2016-03-28 04:21] markortiz commented on #281
@AllenFang, on my end I do have also problem with sorting.

[code]

It should be
Desc:
[code]

Actual result is:
Desc:

[code]
Asc:
[code]

In my case if the hierarchy of sorting is like
1. 0-9
2. A-Z
3. a-z
4. Chinese Characters

another thing is if there are `null` items in between, for example

[code]
expected result is
Desc:
[code]
Asc:
[code]

Actual result:
Desc:
[code]

my temporary fix for

[2016-03-28 04:45] markortiz commented on #331
Hi,

I experience table header misaligned on IE9.

I call `this.refs.rsTable.forceUpdate()` on `componentDidMount` and it works perfectly fine and all columns are aligned.
![table 2](https://cloud.githubusercontent.com/assets/1829168/14071112/e4266d14-f4e2-11e5-9e20-636636c0f198.png)

But when I `resize` the window or `sort` the table it will misaligned and looks like this:
![ie9 - win7 running -

[2016-03-28 05:32] #365 closed

[2016-03-28 05:41] dana2208 opened #366 "Combination of Add with Sort and Filter"
Hi,

Sort issue with the code provided at the end of the issue:
1. Sort Product Name
2. Add a product whose name should appear in the middle (for example "Item name 01" should appear between "Item name 0" and "Item name 1").
3. New item is added at the bottom.

 Filter issue with the code provided at the end of the issue:
1. Filter Product Name (for example enter 0 in the filter textbox)
2. Add a

[2016-03-28 12:28] AllenFang commented on #331
@markortiz, I'll check this out on IE, Thanks :)

[2016-03-28 12:59] AllenFang commented on #366
@dana2208, Thanks for issues report, I'll check this out :+1:

[2016-03-28 15:26] AllenFang commented on #366
@dana2208, I've fixed it and will released on next version

[2016-03-28 15:45] AllenFang commented on #281
@Dhaval8087, @markortiz, I can reprodce this issue and figured out why this bug happened. I thinks I need to use ```localeCompare``` for a correctly compare on sorting. I'll do more survey and release at next version :)

Sorry for a long time to fix ;(

[2016-03-29 01:20] markortiz commented on #281
Thanks @AllenFang :)

[2016-03-29 03:35] sugargreenbean commented on #362
Currently in TableBody.js, for var tableRows, I return an array instead of just <TableRow>...</TableRow>. So I return [<TableRow>....</TableRow>, <tr id="hiddenRow"><td class="hiddenData">...</td></tr>]. This creates a sibling row with the original row that can be populated with whatever you want to put in it. Then, in TableRow.js, I've added data-toggle="collapse" and data-target="#hiddenRow" cla

[2016-03-29 03:37] sugargreenbean commented on #362
This creates a desired accordion of expandable rows, however I still need to figure out how to give each row a unique identifier so that when they are clicked they only show/close the associated sibling row.

[2016-03-29 03:38] sugargreenbean commented on #362
I'm also not sure how to wire it so that accordion is an option with this table.

[2016-03-29 09:04] simozhan opened #370 "Can not add new record when setting insertRow=true"
Hi, I am running into an issue when using insertRow={true}. when i add this property, i can see the blue "New" button, but after i click the button, there is no pop up to add a new record and it seems no error and warning.

Using:
"jquery": "~2.1.4"
"react": ">=0.13.3"
"react-bootstrap": ">=0.23.5"
"react-bootstrap-table": "^2.1.0"

By the way, the deleteRow is ok for me.

the snippet is:
[code]

[2016-03-29 10:45] madeinfree commented on #370
Hi @simozhan
1. may I have other information ? The pop up work in this simple test repo, you can try it.
https://github.com/madeinfree/bootstrap-table-test-repo,

2. you setting the component `editable={false}` and set `iskey={true}` , I think you would get error by empty value.

[2016-03-29 12:13] AllenFang commented on #370
@simozhan, did you import ```bootstrap.js``` or ```bootstrap.min.js```?

[2016-03-29 12:19] AllenFang commented on #362
@sugargreenbean, maybe be you can give me your repo and point where need to help, I think I can give some suggestion. BTW, we've plan to do this feature in near future. :)

[2016-03-29 12:41] sugargreenbean commented on #362
Thank you for your help. The only thing I want to do is to use react bootstrap table inside my own project with my modifications, how can I do that? My project is pointing to this Github repo.

[2016-03-29 13:04] AllenFang commented on #362
if you fork my repo to yours and modify on it. You can point to your repo by git repo link, likes: github:AllenFang/react-bootstrap-table.  I dont try it on my project but just saw somebody used it

[2016-03-29 16:20] AllenFang commented on #359
@geekbosszhang, this issue has been fixed on ```v2.1.0```.  Check it out

[2016-03-29 16:20] #359 closed

[2016-03-30 01:55] simozhan commented on #370
Thanks @madeinfree and @AllenFang I imported bootstrap.min.css. this is my html file.

`<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact Browser</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/react-bootstrap-table.min.css">
    <link rel="stylesheet" href="css/spinner

[2016-03-30 02:03] AllenFang commented on #370
@simozhan, I think you still forgot ```bootstrap.js``` or ```bootstrap.min.js``` (javascript file) :)

[2016-03-30 02:03] simozhan commented on #370
Ah. yes @AllenFang . i add bootstrap.min.js and it works now. Many many thanks

[2016-03-30 02:10] AllenFang commented on #370
Great!

[2016-03-30 02:10] #370 closed

[2016-03-30 03:35] simozhan opened #371 "Errors when setting insertRow={true}"
Hi, i met two errors when i set insertRow={true}, much appreciation for any help.

the first error is:
[code]
and the second is:
[code]

I am guessing it is because  missing or nesting some tag, i tried but failed, following is my snippet:

[code]

BTW, when i set insertRow={true}, my edit function goes wrong which is ok before, the error is:
TypeError: _this.props.cellEdit.__onCompleteEdit__ is n

[2016-03-30 03:37] AllenFang commented on #371
@simozhan, did you use ```react-bootstrap-table``` as a SSR project?

[2016-03-30 03:40] AllenFang commented on #371
BTW, the root cause maybe is the ```form``` tag, you can remove it and try again

[2016-03-30 03:40] markortiz commented on #331
Hi @AllenFang,

I just saw this now.
![kc0onr8yt2](https://cloud.githubusercontent.com/assets/1829168/14131169/54e87a9a-f66b-11e5-822d-e3232b6993e1.gif)

By default i have an options inside my render:
[code]

[2016-03-30 03:46] AllenFang commented on #331
@markortiz, so there's no any unalign issues? if sure, I think you can open another issue to describe your problems. Because I hope this discussion is all about the issues which solved in ```v2.0.0```.

Thanks :)

BTW, you can tell me what happend when user click the gear icon(Answer it in new issues page)?

[2016-03-30 03:56] markortiz opened #372 "[ Table Sort ] Table is sorted to default options when table is updated"
Hi @AllenFang,

I just saw this now. By default my table was sorted by `name` in `ascending order` and when I sort it by `code` or other columns it will sort properly.

But when the `table` is been `updated` it will sort again by the default column `name`.

![kc0onr8yt2](https://cloud.githubusercontent.com/assets/1829168/14131169/54e87a9a-f66b-11e5-822d-e3232b6993e1.gif)

By default i have an opti

[2016-03-30 03:58] markortiz commented on #331
Alright. I move it to a new ticket #372

Thanks!

[2016-03-30 04:03] AllenFang commented on #372
@markortiz, it's wired, when you sort the ```Code```, the ```Actions``` also been sorted, so could you give your ```<TableHeaderColumn>``` setting?  I guess the ```Code``` and ```Action``` share the same ```dataField```

[2016-03-30 04:52] markortiz commented on #372
@AllenFang yes, the `code` and `actions` columns are sharing the same `dataField` but this issue is also occur when I sort different `columns` that have different `dataField`.

[2016-03-30 05:12] AllenFang commented on #372
ok, could your please give me a simple examples? I want to reprdouce this issue on my site. Thanks :)

[2016-03-30 05:28] simozhan commented on #371
@AllenFang Yes. you are absolutely right. when i removed `form` tag. it works. Thanks.

BTW, what is SSR project? i am a newbie :), do you mean server side rendering?

[2016-03-30 05:31] AllenFang commented on #371
@simozhan, exactly right!

[2016-03-30 05:31] #371 closed

[2016-03-30 05:55] markortiz commented on #372
I think it has something to do with `render()`.
I guest every time there is a `componentDidUpdate()` it will call again the `render()` then display table to it's default sorted column.

[code]

[2016-03-30 06:07] dukedougal opened #374 ""There is no data to display" - can this message be turn off or displayed on a timer?"
The problem is that this message is immediately displayed and of course it takes a second or two for the ajax to complete and the data to display so it is a little jarring to always see that "there is no data to display" when actually it's coming.

What do you think?

thanks!

[2016-03-30 06:18] AllenFang commented on #372
Exactly right

I'll check this out when I get off work, Thanks :)

[2016-03-30 06:21] AllenFang commented on #374
@dukedougal, yes you r right. But how about start to render the table after component receive the data?

[2016-03-30 06:24] dukedougal commented on #374
Yes, rendering the table after I have the data seems like a good idea although I'm happy with the way it works right now.

One thing to note as well is that if I set the options like this:

    var options = {
      noDataText: ''
    };

Then  the default noDataText displays because it must be doing a "null or value" somewhere when it decides what to display.

[2016-03-30 10:27] jeroenbrouwer opened #375 "Deselecting a row on click doesn't work when cellEdit is true"
I am having an issue with rows not deselecting when clicked on (selecting works fine) with cellEdit in place. There are 3 columns of which only the last one is editable, clicking on the row in column 1 or 2 doesn't deselect the row, right now deselecting only works when you click the checkbox. I am using the following settings for selectRow and cellEdit:

[code]

[2016-03-30 10:54] AllenFang commented on #374
@dukedougal, the warning is cause of ```noDataText``` accept string only. Anyway, I thinks ```noDataText``` should be work well. But  because you assign a empty string to it and I valid the display text like following:
```{ this.props.noDataText || Const.NO_DATA_TEXT }```

so maybe you can assign with a string with a space, like ' ', not ''

[2016-03-30 10:54] #374 closed

[2016-03-30 10:59] AllenFang commented on #331
@markortiz, could you confirm there's no error if a table is not in tabs and resizing the window?
Because I try to resize window on IE9, but got nothing

[2016-03-30 11:25] markortiz commented on #331
@AllenFang I have not try it yet if the misaligned header also occurs if it is outside the tabs.
So far I only encounter it inside the tabs.

[2016-03-30 11:36] dukedougal commented on #374
Hi Allen
Would you mind allowing values other than text & clearing the warning please so I can use the spinner code shown above without warnings?

thanks

[2016-03-30 11:41] AllenFang commented on #331
@markortiz, got it, I'll try to find the problem, btw, did you enable ```selectRow``` and there's any vertical or horizontal scrollbar on table?

[2016-03-30 11:43] AllenFang commented on #374
@dukedougal, sure, I can make ```noDataText``` accept a text or a JSX.  I'll support this feature in neat future :)

Thanks

[2016-03-30 11:50] dukedougal commented on #374
Thanks!

[2016-03-30 11:53] AllenFang commented on #372
@markortiz, I've solved the same field name sorting problem(*I'll release on next version*). But you said the problem also occur sort when different columns that have different dataField, I can't reproduce it, so maybe you can provide a actually example for me to debug :)

Second, because you give a default sort information on ```render``` method, so if any state change, will get the default sort

[2016-03-30 13:54] invalidred commented on #356
Hi Allen,

How about a compromise. Just like you have a handleConfirmDeleteRow() that has next parameter passed to it, where if you call next() then the row is deleted. Similarly can we have handleConfirmAddRow() that has next parameter, and if we call next() then it shows the add UI.

This would be a big help.

[2016-03-30 15:16] kolyabokov opened #376 "Column header title shows "[object Object]" instead of header text"
Hi,
After adding title to column header in 2.0.1 (https://github.com/AllenFang/react-bootstrap-table/commit/68efb4334cd6ad601f3de3e4c7bf149fb06f6261),  when I mouse over table header it shows "[object Object]".
It happens when `<TableHeaderColumn>` has nested elements, not plain text, e.g.
`<TableHeaderColumn><FormattedMessage id="my.header.text" /></TableHeaderColumn>` or `<TableHeaderColumn><spa

[2016-03-30 15:28] AllenFang commented on #376
could you please show me an example? Thanks :)

[2016-03-30 15:29] kolyabokov commented on #376
@AllenFang, sorry, it the site ate my code in the comment text, fixed now

[2016-03-30 15:38] AllenFang commented on #376
@kolyabokov, I thinks this issues is hard to fixed, because I never know what's element or text or something inside the ```TableHeaderColumn```. So I dont want to fixed it, but I can support a ```title``` props on ```TableHeaderColumn``` to let you control the title on header column. How about that?

[2016-03-30 15:47] kolyabokov commented on #376
@AllenFang, I don't need title on header column at all :) I just don't want it to show [object Object] on hover. Maybe you can add a simple check of the type of `this.props.children`, and do not show the title if it is not a string?

[2016-03-30 15:57] AllenFang commented on #356
@invalidred, I've already consider this solution at before.
Because you hope click the insert button will popup a *custom modal*, but I can't give you a ```handleConfirmAddRow``` to let you achieve it. Why?

Because the insert modal popup by ```data-toggle``` & ```data-target```, not listen a click event. So I can't control it, it controlled by ```bootstrap```. Even if I provide a ```handleConfirm

[2016-03-30 16:02] AllenFang commented on #376
@kolyabokov, surely, I can add a validation on it at next version :+1:

[2016-03-30 18:27] 0riesok opened #377 "Date filter with comparators"
Is there way to implement date filter using comparators (>, =, >=, <, <=)?

[2016-03-30 22:06] mikeerickson opened #378 "columnFilter at top"
As per documentation:

[code]

Is there an option for placing the filter bar at top of table (say between header and first row of data?

[2016-03-30 22:08] mikeerickson opened #379 "Column Resizing"
Is there a feature for resizing columns?

[2016-03-30 22:11] #378 closed, assigned to nobody

[2016-03-31 01:50] AllenFang commented on #379
@mikeerickson, this issue is duplicated with #187.  And I hope to support this feature in future. But There's no schedule, because I have another bugs or features need to do.

PR is welcome :+1:

Thanks :)

[2016-03-31 01:50] #379 closed

[2016-03-31 01:51] AllenFang commented on #377
@0riesok, I think we can try to support this in near future.

[2016-03-31 01:58] mikeerickson commented on #379
Thanks for quick reply, greatly appreciated.   I have forked repo and will have a look.  I have implemented resizing on default tables.

[2016-03-31 02:02] AllenFang commented on #379
@mikeerickson, that's awesome, it's hard to implement, because the column with on bootstrap table is hard to control(include, resizing and different browser etc.)

Anyway, I'm glad that you can give any contribution :)

[2016-03-31 02:14] mikeerickson commented on #379
No worries!  I have internal vested interest, so the time allotted will be justified.  I will begin on this in the morning.

[2016-03-31 02:24] AllenFang commented on #379
Really Thanks :)

[2016-03-31 03:22] markortiz commented on #372
Cool! Thanks for this @AllenFang  :)

[2016-03-31 05:08] markortiz commented on #331
Hi @AllenFang,

I don't have `selectRow` on my table. And I don't have horizontal scrollbar as well.
As you can see on my screenshot below, my table is inside a `container` and I dynamically compute the height (`onload` and `on window resize`) of that `container` so it will fit on the users screen and when the table is longer than the container `height` it will add scrollbars ( by `css`, `overflow

[2016-03-31 07:25] 0riesok commented on #377
It would be perfect. Thanks

[2016-03-31 08:13] simozhan opened #380 "Can not set item in "+New" when setting the column attribute editable={false}"
Hi,

When i set a TableHeaderColumn's attribute editable={false}, i can not set the value in new item.
My expectation is i can not edit the column in the table, but when i want to add a new record, i can input value for the column.

Much appreciation for any help.

[2016-03-31 08:58] AllenFang commented on #375
@jeroenbrouwer, sorry I forgot to answer your problem, I'll check this out after I get off work :)

[2016-03-31 09:42] simozhan commented on #380
It seems my issue is the same with this one [](https://github.com/AllenFang/react-bootstrap-table/issues/226). So do we have any plan for this feature in near future?

[2016-03-31 11:22] eric379990 opened #381 "The options for the inline select list will be truncated at the bottom of the table."
Hi Allen,

I have embedded some select list in the table cell, but for current css, the option for the last select(at the bottom for the table) will be truncated. The options cannot be seen.   Currently the react-bs-container-header {overflow: auto;}    if I set the overflow to visible, there is no this problem, but it will affect the scroll bar to show, and the table will be overflow.

Do you hav

[2016-03-31 13:16] AllenFang commented on #380
@simozhan, I know this condition, This rule I follow the ```jqgrid``` and ```DataTables``` which are both familiar jQuery table component.  But I think I can do some improvement like setting a ```prop``` to make you to choose the ```editable``` condition when adding row.

[2016-03-31 13:19] AllenFang commented on #381
@eric379990, how about give more height on table?

[2016-03-31 13:20] AllenFang commented on #377
@0riesok, I'll close it after this issues be fixed :) Thanks

[2016-03-31 13:30] simozhan commented on #380
@AllenFang ok. i got the point. Many thanks. Yes, if it can be supported natively, that's really awesome, but no hurry, i am just trying to add a New Modal as you suggested in (https://github.com/AllenFang/react-bootstrap-table/issues/226)

[2016-03-31 13:35] AllenFang commented on #375
@jeroenbrouwer, I thinks there's something wrong on before patchs, I'll fix it. Thanks your feedback

[2016-03-31 13:39] AllenFang commented on #380
@simozhan, actually, most of user of ```react-bootstrap-table``` does not use ```insertRow```, they custom a modal for adding a new rows by themself, so if you can custom it is best condition, because you can control everything.

[2016-03-31 15:56] jeroenbrouwer commented on #375
Sweet! Thanks for the quick replies and the great module :smiley:

[2016-03-31 16:15] AllenFang commented on #331
@markortiz, I'll try to figure out what happen on IE, BTW, did you have a repo can let me reproduce it?

[2016-03-31 17:21] dannysindra commented on #331
@AllenFang  @madeinfree
Hi, sorry for late respond; I was working on different project. So like Allen said, I enabled selectRow property in the table. If I remove it, the table gets aligned - but I want to use that property because my users need it for deletion. Is there any fix for this?

Sorry I cannot share the private repo :(  Here is my project's dependencies:

  "devDependencies": {
    "bab

[2016-03-31 17:26] AllenFang commented on #331
@dannysindra, thanks, I'll try this out. Anyway, if you can give me a repo or a example which can reproduce this issue on safari or firefox, I think I can easy to debug. Because the hardest problem is I can't reproduce it sometime ;(

Anyway, I'll try to figure out :+1:

[2016-04-01 01:47] markortiz commented on #331
@AllenFang is it possible to set a min-width and max-width per column?

[2016-04-01 14:37] #281 closed

[2016-04-01 14:37] #366 closed

[2016-04-01 14:37] #376 closed

[2016-04-01 14:37] #380 closed

[2016-04-01 14:40] AllenFang commented on #366
@dana2208, release on ```v2.1.1```. Check it out :)

[2016-04-01 14:41] AllenFang commented on #372
@markortiz, release on ```v2.1.1```. Check it out :)

If the problems still remain, please tell me, thanks

[2016-04-01 14:41] #372 closed

[2016-04-01 14:43] AllenFang commented on #374
@dukedougal, on newest ```v2.1.1```, you can try following setting without any warning
[code]

[2016-04-01 14:43] AllenFang commented on #376
@kolyabokov, release on ```v2.1.1```. Check it out :+1:

[2016-04-01 14:44] AllenFang commented on #375
@jeroenbrouwer, fixed on ```v2.1.1```. Thanks :)

[2016-04-01 14:47] AllenFang commented on #380
@simozhan, on newest ```v2.1.1```, you can use following config to ignore editable on insert
[code]

[2016-04-01 15:46] jeroenbrouwer commented on #375
Awesome! It works perfectly fine, thanks for the very fast delivery.

[2016-04-01 15:46] kolyabokov commented on #376
@AllenFang, great. Thank you for quick fix!

[2016-04-01 15:49] jeroenbrouwer commented on #375
@AllenFang Wait a second, at my second test run I encountered a new bug haha. If you click to edit the cell it selects the row nicely, but it also deselects the row if you click to edit the cell the 2nd time.

[2016-04-01 17:31] dougdelabrida opened #382 "dataFormat function calling other function"
Hi everybody, first i'd like to thank for this awesome react component which has helped me a lot.
I've been trying to add some actions in my Table

[code]
But i receive the following error: viewClient is not defined.

What could it be? is this the right way to do that?

[2016-04-01 22:02] dukedougal commented on #374
thanks!

[2016-04-02 02:54] AllenFang commented on #382
@dougdelabrida, the dataFormat accept a string or JSX or a React Component, so you can handle this issue like following:
[code]

[2016-04-02 02:54] #382 closed

[2016-04-02 04:01] AllenFang commented on #331
@markortiz, sorry, ```react-bootstrap-table``` does not support min/max width currently. However, we can support in the future :)

@dannysindra, I just write a example and test it on Firefox@31.0, but I cant reproduce your issue, so I really need your examples.

Thanks :)

[2016-04-02 07:49] AllenFang commented on #375
@jeroenbrouwer, I think we can discuss on this issue more detail,
because, when you set ```clickToSelectAndEditCell``` to ```true```, which means you can edit cell by click and also select/deselect row. so if a row has been selected, a you edit a cell or click on any non editable cell will make the row deselect. I thinks it make much sense for```clickToSelectAndEditCell```.

But I absolutely know

[2016-04-02 08:44] madeinfree commented on #375
@AllenFang, could we try to add the nested option for clickToSelectAndEditCell ?
like:
clickToSelectAndEditCell: {
  selectRow: true,
  reverse: false
}

if reverse been false,

const selected =  (this.props.selectedRowKeys.indexOf( this.props.data[rowIndex][this.props.keyField]) !== -1) && this.props.clickToSelectAndEditCell.reverse ?

is that suitable ?

[2016-04-02 20:31] jeroenbrouwer commented on #375
Having an option like that would be good. In my use case (and probably many others) you would only edit fields on rows that are selected so deselecting them every other onEdit doesn't make sense then.

[2016-04-03 16:15] simozhan commented on #380
@AllenFang Many many thanks for quickly fix! Awesome!!!

[2016-04-04 02:07] markortiz commented on #372
@AllenFang how can I set a default sorted column on first load?

[2016-04-04 05:25] markortiz commented on #372
@AllenFang never mind this. It was fix on `v2.1.1`.
Thank you so much! :+1:

[2016-04-04 06:35] markortiz commented on #331
@AllenFang I have a simple fix for the IE browser misaligned by using css.

First, I remove all `inline` `width` on the `TableHeaderColumn`. Then control every column width in css by putting `!important` on every `width` and `min-width` I could also control `min-width` as well but now `max-width`.

Now everything is working perfectly, except if the table have `srollbars`. I was able to solve this

[2016-04-04 07:02] Meera613 opened #383 "Preserving row number while sorting"
Hi,
Is there some way I could preserve the row numbers even after some column is sorted? The row numbers usually get shuffled.
Eg:
If the table contains the following,
<img width="203" alt="screen shot 2016-04-04 at 12 28 22 pm" src="https://cloud.githubusercontent.com/assets/6396294/14240224/c822d25a-fa60-11e5-898f-93b66f291234.png">
And if I sort in on column1 in ascending, it becomes this
<img

[2016-04-04 08:08] xabikos commented on #304
Yes it is fixed. Thanks once again!

[2016-04-04 12:59] pramodrhegde opened #386 "table header columns and body columns aren't aligning properly to each other"
I am facing this weird issue, when I load table data  as mentioned columns are not in line with each other
basically my th style is
 `text-align: left;
    width: 0px;
    max-width: 0px;`
which is not aligning with tr's in tbody
when I resize window it aligns properly! now my th style is like this
`text-align: left;
    width: 212px;
    max-width: 212px;`
I am not giving any overriding css.pleas

[2016-04-04 16:33] AllenFang commented on #383
@Meera613 sorry, there's no way to do it and I didn't see this feature ever. So I should not support this feature, but PR is welcome. Thanks

[2016-04-04 16:44] AllenFang commented on #386
@pramodrhegde, could you please show your code and what's browser did you use?

[2016-04-05 02:11] simozhan opened #387 "Add select list in "New" button"
Hi, I am trying to add inline select list to the table item, i find there is editable attribute which can be used, for example:
        var editable = {
            type: "select",
            options:{
            values: ["choice1", "choice2","choice3"]
            }
        };
it works pretty good in the table, but when i click the New button, the input is still text, not select list.
so i am w

[2016-04-05 05:49] AllenFang commented on #331
@markortiz, great job, for your solution, it only work on IE 9? did you try on different browsers?

BTW, according your said, I actually calculate the scrollbars size and give a padding on header, and I always use ```parseFloat``` to get the each width. But I can't figure out why this bug happened ;(  However, it's better for me to reproduce this issues by a example or maybe you can give our PR to

[2016-04-05 05:54] #383 closed

[2016-04-05 06:06] AllenFang commented on #387
@simozhan, could you please show me a whole example, I think your configuration is well, maybe something wrong

[2016-04-05 06:15] simozhan commented on #387
@AllenFang this is my snippet:
[code]

Thanks

[2016-04-05 06:24] AllenFang commented on #375
@jeroenbrouwer, okay, we will tackle this problem :)

[2016-04-05 07:09] AllenFang commented on #387
@simozhan, it's a bug caused by ```ignoreEditable```, I'll fix it in these day. Thanks your feedback :)

[2016-04-05 08:45] pramodrhegde commented on #386
`<BootstrapTable exportCSV={true} csvFileName={csvName} data={investorsList} striped={true} hover={true} condensed= {true} search={true}>
				      <TableHeaderColumn dataField="email" dataSort={true} isKey={true}>Email</TableHeaderColumn>
				      <TableHeaderColumn dataField="name" dataSort={true}>Name</TableHeaderColumn>
				      <TableHeaderColumn dataField="investmentCapacity" dataSort={tru

[2016-04-05 08:51] AllenFang commented on #386
@pramodrhegde, which columns width are 0px ?

[2016-04-05 09:22] pramodrhegde commented on #386
All columns have zero width even the once hard coded with 50 and one more thing i noticed now was that there were 2 tables!! one table under div with classes `react-bs-container-header table-header-wrapper` and one more table inside div with classes `react-bs-container-body`
once the data loaded from back end (and when I resize the window!!) header table columns are adjusting the widths according

[2016-04-05 09:31] AllenFang commented on #386
@pramodrhegde, there are two table absolutely. BTW, your table is in tab? and what version of firefox and chrome did you used?

[2016-04-05 09:47] pramodrhegde commented on #386
Yes! i am using it inside a tab.
Chrome : Version 48.0.2564.103 (64-bit)
Firefox : 44.0.2

[2016-04-05 11:41] AllenFang commented on #386
check this [discussion](https://github.com/AllenFang/react-bootstrap-table/issues/331) and this [example](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/others/table-in-tabs.js)

[2016-04-05 15:56] #330 closed

[2016-04-05 22:48] Julusian opened #389 "Updating row data"
Is it possible to update the data for a row in the table?
I do not see a method in the api to do so, and I have tried to use the add method but it fails due to duplicate key.

I have a hacky workaround by deleting the row, whilst skipping showing a confirmation dialog, and then readding the data.

[2016-04-06 02:57] AllenFang commented on #389
@Julusian, there're only two way you can update row
1. cell edit
2. manage by yourself

Maybe u can tell me your scenario and then make a choice
Thanks

[2016-04-06 13:17] #387 closed

[2016-04-06 13:20] AllenFang commented on #387
@simozhan, fixed it on ```v2.1.2```

[2016-04-06 16:30] battarro opened #390 "Process for inserting ajax data into the grid"
Good morning.

How would you about inserting data on the server via ajax and updating the react model?

I have a simple table
[code]

and the rest is

[code]

on Delete I update the server with

[code]

this part works perfectly, however the add part.
I have added on the hook

[code]

but I am unable to make it work. My next is directly modifying the state of the table but i was wondering if there

[2016-04-06 16:55] AllenFang commented on #390
@battarro, for you application currently, I thinks the best way is handle table data in ```state``. dont call ```tab.setState(data);```  This is a [example](https://facebook.github.io/react/tips/initial-ajax.html) you can follow,

I wrote a es6 sample for you

[code]

For a react application, you dont care about how to render data to component. Like this problem, you should not do any operation to

[2016-04-06 16:55] #390 closed

[2016-04-06 17:13] battarro commented on #390
thank you for your response. I have forgotten that the date of the table are held by the state. SO here is the working part.

Also is there a typings d.ts updated for this version?

[code]

[2016-04-06 17:47] Dhaval8087 opened #391 "Ater upgreade version 1.6.2 to 2.1.1 component got crashed"
Hello Allen,

to resolved the bug
https://github.com/AllenFang/react-bootstrap-table/issues/281

I have updated the version of react-bootstrap-table and my component goes disturbed in terms of style as well as functionality whatever style and functionality I have implemented with version 1.6.2 now it's not working it would be good if you guy update the component please check the backward compatibi

[2016-04-06 18:28] jeroenbrouwer commented on #375
Alright! After discovering it myself, some of my test users also discovered it themselves hehe :-)

[2016-04-06 20:16] humblepig opened #392 "Event Object passed to onRowSelect callback"
Would it be possible to pass the event object as the third parameter to the onRowSelect callback?  This would allow user to check to see if there was a key pressed when the row was clicked.  There may be other use cases for this.

[2016-04-07 01:45] AllenFang commented on #391
@Dhaval8087, sorry for that. I'll take care of it. Because ```v2.0.0``` change a lots of style and table structure, so maybe make your legacy style fail. You can check ```v2.0.0``` for more detail explanation. BTW, what's functionality does not work?

[2016-04-07 01:49] AllenFang commented on #392
@humblepig, I'll add it

[2016-04-07 01:50] AllenFang commented on #390
Sorry, what's the d.us?

[2016-04-07 05:35] simozhan commented on #387
@AllenFang Thanks!

[2016-04-07 06:19] markortiz commented on #372
@AllenFang is there any way can I set a default sorted column on first load?

[2016-04-07 06:20] markortiz commented on #331
@AllenFang is there any way can I set a default sorted column on first load?
in #372

[2016-04-07 06:53] AllenFang commented on #372
@markortiz, sorry for lately reply....  too many things need to do.

Following examples does not work for you?
[code]

[2016-04-07 06:55] AllenFang commented on #372
BTW, I've plan to design a new mechanism to set default sort, I'll implement i in the recent. Check [this](https://github.com/AllenFang/react-bootstrap-table/pull/385)

[2016-04-07 07:00] markortiz commented on #372
@AllenFang yes, it does not work for me. Even I set it on the constructor.

[2016-04-07 07:14] AllenFang commented on #372
it's wired..  I'll try it later. what's version did you used?

[2016-04-07 07:19] markortiz commented on #372
@AllenFang  `v2.1.1` :)

[2016-04-07 07:29] AllenFang commented on #372
@markortiz, sorry it's a bug but I need to trace to find when this feature broken. Anyway, I'll fix it in these day. Sorry again ;(

[2016-04-07 07:29] AllenFang opened #393 "Default sort broken"
self explanatory, from #372

[2016-04-07 07:35] markortiz commented on #372
Alright, thanks again @AllenFang :)

[2016-04-07 12:41] AllenFang commented on #372
@markortiz, sorry for a wrong direction, I'm so tired...

try follow code
[code]

Anyway, I'll change the default sort mechanism in near future.

[2016-04-07 12:42] #393 closed

[2016-04-07 12:49] AllenFang commented on #372
@markortiz, but after new mechanism released, I promise the legacy way will be compatible

[2016-04-07 13:11] pramodrhegde commented on #386
Hi I have tried the component forceUpdate but its the same :(
should i use both css files `react-bootstrap-table.min.css` and `react-bootstrap-table-all.min.css` ?

[2016-04-07 13:35] AllenFang commented on #386
Any sample or repo could let me reproduce it?  Use one of css files.  The ```react-bootstrap-table-all.min.css``` include toastr css, the other one is not :)

[2016-04-07 13:53] battarro commented on #390
definitelytyped. It is the typescript Definition file used when working with tsx (typescript -> js) files.

https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/react-bootstrap-table

 I believe this version is very old.

[2016-04-07 15:01] AllenFang commented on #390
@bastiao, wow, I dont know that. But the version is too old(v1.4.6) surely. However I think you can mention the author of repo to upgrade the version. Because I'm not familiar with typescript

[2016-04-07 18:36] dannysindra commented on #331
@AllenFang
I cannot reproduce the bug when I made a new project and create similar table, it was so confusing... Can you please tell me how did you fix the unaligned column bug from the previous version?

Yep, my table has lots of columns, so it has a horizontal scrollbar.

[2016-04-07 21:51] battarro opened #394 "Editor to take a function instead of a fixed array for the select. maybe from the state of the parent"
Recently we needed to modify the editor to allow for a dynamic array, instead of the fixed array in the options.value.

We noticed a check on the code  on the editor portion.
[code]

this was eliminating any function from been passed in. We modified it to,
[code]
and after that it worked. Here is the configuration part

[code]

However we were unable to get it directly from the state of the parent

[2016-04-08 01:49] AllenFang commented on #331
@dannysindra, great job, would you please share what's you did and give some feedback :)

[2016-04-08 13:21] AllenFang commented on #394
@battarro, the codes you show up is been bundled, so I can't understand it, and I dont know what ```tearsheetEditable``` is?

[2016-04-08 13:34] alexmngn opened #395 "Is there a way to add a single line?"
Hi,
As I am fetching my data over the network before displaying it in the table, I would like to add a line in the table with a spinner in the meantime (colspan=numberOfColumns)
Is there a way to do that?
Thanks

[2016-04-08 14:46] battarro commented on #394
This is not an issue, so im closing it. All I need to do is place the editable object on the state
[code]

Now when the state changes, the dropdown select reflects the new values.

[2016-04-08 14:46] #394 closed

[2016-04-08 15:28] AllenFang commented on #395
HI @alexmngn, I'm sorry that there's no way to do it ;(

[2016-04-09 00:21] matthewpolkiewiczsc opened #396 "Horizontal Scrolling"
Is there a way to customize whether you want horizontal scrolling? In the first project I used this with, horizontal scrolling would appear if the page went below a certain width. Now in my new project, the cells just become smaller and smaller as you decrease the page width. Is there a setting or css property to change this behavior?

[2016-04-09 05:39] AllenFang commented on #396
@matthewpolkiewiczsc, for a large column table after ```v2.0.0```, the horizontal scrollbar will be not display automatically. The solution is set width on some columns to make the total width of table exceed the outer then the horizontal scrollbar will display. Check this [example](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/basic/large-column-table.js)(BTW, It's no

[2016-04-09 17:35] staskorz opened #397 "React 15 Support"

[2016-04-11 03:56] madeinfree commented on #397
Hi @staskorz,

I think it not easily to change the version now, because some of dependencies have to upgrade or change it ... and React changed the version 0.14.x jump to 15.0.0 this time, so we must be solve the dependencies issue now ~

I think it could support React 15 quickly !!

cc @AllenFang

[2016-04-11 05:46] rbalicante882012 opened #398 "Editable property input box can't copy value"
When I click the cell the editable input box did not copy the value. But, when I used textarea, it works.

[2016-04-11 06:30] madeinfree commented on #398
could you more detail description your problem or have some example for me to reproduce it ?
it work well in my example.

[2016-04-11 07:10] rbalicante882012 commented on #398
Hello @madeinfree.
I add validator property for editable and I made handler but I won't copy the value of input box only. Only if I put type property.

[2016-04-11 07:54] staskorz commented on #397
Hi @madeinfree,

Thanks for the "quickly" comment, I've change the title :-)

Re the dependencies: this package only depends on `classnames` and `react-toastr`. The later depends on React 0.14, I've just opened an issue in its repository (tomchentw/react-toastr#47).

Technically it's possible to depend on multiple `react `and `react-dom` versions like so:

`"react": "^0.14.3 || ^15.0.0"`

As till

[2016-04-11 09:45] madeinfree commented on #392
I try to add the event for OnRowSelect, see the #399

[2016-04-11 12:37] #377 closed

[2016-04-11 12:37] #392 closed

[2016-04-11 12:40] AllenFang commented on #392
@humblepig, fixed on ```v2.1.3```, the event object will be passed as third argument.

[2016-04-11 12:42] AllenFang commented on #377
@0riesok, fixed on ```v2.1.3``` :)

[2016-04-11 12:55] 0riesok commented on #377
I'm now working on my diploma thesis so I can't try it now :( But I'll look on it in the end of this month.
And really thank you. :)

[2016-04-11 12:59] AllenFang commented on #398
@rbalicante882012, it's a bug, I'll fix it quickly

[2016-04-11 16:07] garciasa opened #400 "table with selectRow activate, but with no data"
Hi guys,
anybody know why the table displays in this way when it has not data?
![image](https://cloud.githubusercontent.com/assets/1852069/14433819/b627fc9a-0007-11e6-91cc-c64b818a93b8.png)

Chrome (last version) and IE11

[2016-04-11 16:09] AllenFang commented on #400
@garciasa, could you please give your code and describe your scenario? :)

[2016-04-11 23:55] rbalicante882012 commented on #398
@AllenFang thanks :+1:

[2016-04-12 05:06] madeinfree commented on #398
Hi, @rbalicante882012 @AllenFang I push the PR above #401, you can review it.

[2016-04-12 05:16] rbalicante882012 commented on #398
Thanks @madeinfree  :+1:

[2016-04-12 05:41] rbalicante882012 commented on #398
@madeinfree can I ask?

What time @AllenFang will check it @madeinfree ?

[2016-04-12 05:57] AllenFang commented on #398
@rbalicante882012, I'll do it in these day, before thursday ;)

[2016-04-12 06:13] madeinfree commented on #398
@rbalicante882012 sure, feel free to discuss

[2016-04-12 13:04] AllenFang commented on #372
@markortiz, sorry for lately reply. In ```v2.1.3```, you can handle default sort more intutive.

check [this](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/sort/default-sort-table.js) to learn how to set default sort

[2016-04-12 15:50] garciasa commented on #400
sure, that table is in  tab :) (but it's not the default tab, so it's hidden), and I'm passing a datasource with no data...

[2016-04-12 20:28] Wind4Greg opened #402 "Key based on multiple column information"
My data doesn't have a single column that can act as a key, but a combination of columns.
Can react-bootstrap-table be used in this situation?

Cheers
Greg B.

[2016-04-13 01:46] AllenFang commented on #402
HI, @Wind4Greg, ```react-bootstrap-table``` need a column presented as a key column. But a workaround is you can generate a new column for key by a time serial or a combination column, then you can hide it will be perfect.  How about that?

Thanks:)

[2016-04-13 01:50] AllenFang commented on #400
HI @garciasa, it seem like be good, so anything is unusual? if not, I'll close this issue.

that's right, you need to do it. But if u dont want a delay on show the data on the table, you can pre fetch the data when tab load firstly. if you data is small :)

[2016-04-13 02:03] markortiz commented on #372
@AllenFang cool! Thanks for this! I'll try to implement this next week.

[2016-04-13 02:30] Wind4Greg commented on #402
Thanks for the quick response. That works great!
Cheers

[2016-04-13 03:17] #402 closed

[2016-04-13 06:39] rbalicante882012 commented on #398
Hi @madeinfree can I manipulate checkbox in the table header ? I want it checked = false.

[2016-04-13 07:11] AllenFang commented on #398
you want to set the checkbox on header programmatically?

[2016-04-13 07:13] rbalicante882012 commented on #398
Yes @AllenFang.

[2016-04-13 10:57] AllenFang commented on #398
@rbalicante882012, what version did you used?  I try to call ```cleanSelected``` and it works(all checked box will uncheck, include the header one).  BTW, could you show me your code?

Thanks :)

[2016-04-13 11:11] rbalicante882012 commented on #398
@AllenFang I want header to checked to false. Can I manipulate it?

[2016-04-13 11:19] AllenFang commented on #398
No, the header checkbox depend on user operation.

[2016-04-13 11:21] rbalicante882012 commented on #398
@AllenFang I want it to clear after I click the delete button.

[2016-04-13 11:35] AllenFang commented on #398
let me guess your scenario,
1. user select some column, so header column checked
2. user click delete button to drop selected row
3. header column checkbox remain checked?

some question I want to ask

1. the delete button is means you enable ```deleteRow```? or you implement a delete button by yourself and also delete row by yourself?
2. I've test and it work when I enable ```deleteRow```.

[2016-04-13 11:47] rbalicante882012 commented on #398
@AllenFang,
I created my own delete function and I want to uncheck the header check box. :)

[2016-04-13 11:49] AllenFang commented on #398
@rbalicante882012, that what I want to know. how you delete data?

[2016-04-13 12:04] rbalicante882012 commented on #398
@AllenFang I created custom delete function.

[2016-04-13 12:07] AllenFang commented on #398
you update your state in React or call ```handleDropRow```?  I thinks a example will be better

[2016-04-13 12:26] rbalicante882012 commented on #398
Here's the scenario @AllenFang.

1. First I select list of products
2 I click the delete button and show Modal
3 Delete the products I selected and unchecked the header check box.

[2016-04-13 12:28] AllenFang commented on #398
@rbalicante882012,yes, I know, my question is how did you delete table data?  remove selected row and update state?  or call ```handleDropRow``` exposed by ```BootstrapTable```?

[2016-04-13 12:30] rbalicante882012 commented on #398
@AllenFang update state.

[2016-04-13 12:46] AllenFang commented on #398
@rbalicante882012, thanks, that's exactly what I want......

[2016-04-13 13:37] garciasa commented on #400
i made you an example
http://pastebin.com/ssHERBQd

my datasource sometimes has data, other no, but when i don't have data, the header columns are disaligned... let me know if you know what i mean...

[2016-04-13 16:10] AllenFang commented on #400
@garciasa, I follow you example and run on chrome48 and IE11 is ok.

According to your explanation, I want to know what's condition the unalign will appear,
1. if first load, the data is empty, I think the table will display well. (I've tested it)
2. Also, I write a example to prove when I switch to tab, whatever the data is become empty or become some data in table, no any unalign happen.

The fo

[2016-04-13 16:23] AllenFang opened #403 "select state still remain when update state on table"
1. a table which enable multi select
2. click some row for selection
3. remove selection row on source data and update table state
4. the checkbox on header is still remain

[2016-04-13 16:24] AllenFang commented on #398
@rbalicante882012, I open #403 for improve this situtaion

[2016-04-13 19:04] garciasa commented on #400
but you don´t see a "big" space between the first name column and the column the radio button should be, like in my first picture in my first post??

[2016-04-13 20:41] dannysindra commented on #331
@AllenFang Nothing much, really. I have another CSS file which override the table-layout rules. I switched it back to

`table-layout: fixed`

and then all table heading aligned with the body. Works on Firefox and Safari. Thanks a lot for this awesome module!

[2016-04-14 01:14] rbalicante882012 commented on #403
Thanks @AllenFang :+1:

[2016-04-14 01:23] dannysindra commented on #396
I am also working on large table. After update to v2.0.0, if I did not set width for certain columns, some columns will mysteriously disappear when I click them to editable mode.

So just to be safe, I would advise to set width for every column.

[2016-04-14 03:41] madeinfree opened #404 "clickToSelect not work"
When I set the selectRowProp `clickToSelect: true` with cellEditProp then clickToSelect not work

[code]

[2016-04-14 06:07] AllenFang commented on #400
I think disaligned and a big space in column is different...(check #331 to see what is unalign problem) Anyway, I'll try to improve this condition(big space problem).

[2016-04-14 06:09] AllenFang commented on #331
@dannysindra, thanks your feedback. :)

[2016-04-14 06:11] AllenFang commented on #396
Like @dannysindra said, it's a restriction on ```v2.0.0```.  @matthewpolkiewiczsc  hope you can try it by our suggestion. Thanks :)

[2016-04-14 06:12] #396 closed

[2016-04-14 06:13] AllenFang commented on #404
thanks @madeinfree, I'll check this out

[2016-04-14 08:11] garciasa commented on #400
Thanks mate!! you're right, it's not a disaligned, but it's more noticiable when you're a changing the tabs, and some of them has data, and others hasn't.
But anyway thanks for the support...

[2016-04-14 10:42] amitkumarsingh opened #405 "Extending to the bootstraap table functionality"
Hi @AllenFang,
I want to use react-bootstrap-table for the below listed image.
How ever i have concern regarding few things.

1) There is a video preview button in each row. How to handle that click ?
2) When i select all i should get only the rows from that page. Not all the records.
3) After selecting a particular item i will have save button replacing my rename button when click on that i need

[2016-04-14 11:43] amitkumarsingh commented on #389
Can i handle the data save on particular row using external button save ?

[2016-04-14 11:47] amitkumarsingh commented on #74
Does it Support remote data now ?

[2016-04-14 12:47] AllenFang commented on #389
@amitkumarsingh, you can just update table state after save button click. Feel free to discuss with me. Thanks

[2016-04-14 12:47] #389 closed

[2016-04-14 12:51] AllenFang commented on #400
@garciasa, I'm afraid of I can't improve this problem, because the column width on bootstrap table is still an issue I need to solve. So give you a workaround currently, just avoid to set ```selectRow``` when data is empty.

[2016-04-14 13:17] AllenFang commented on #405
HI @amitkumarsingh,
1)
[code]

2) How did you get selected row?

3) You said you click the save button, you want to apply the updated row into table?  I think you can just update state on the table after save button click

Feel free to discuss with me. Thanks :)

[2016-04-14 15:44] AllenFang commented on #404
@madeinfree, use ```clickToSelectAndEditCell``` instead of ```clickToSelect```.

[2016-04-14 15:44] #404 closed

[2016-04-14 17:08] pseudorandumb opened #406 "TableHeader Children not being parsed properly when they are an array"
[code]
[code]

[2016-04-14 19:09] garciasa commented on #400
No worries, that´s the workaround i have right now, return a table without selectRow, when the i don´t have data, but it was for avoiding repeat code... but thanks anyway...
Cheers.

[2016-04-15 05:58] AllenFang commented on #406
HI @pseudorandumb, I am not sure about this issue, but maybe you can try to remove ```key``` in you map function. Anyway, I'll check this out. thanks

[2016-04-15 13:27] AllenFang commented on #406
@pseudorandumb, forgot my said at before, if you want to use map to generate column, you have better to generate all columns and you can use ```keyField``` on ```<BootstrapTable>``` instead of ```isKey```.  for example:
[code]

[2016-04-15 13:27] #406 closed

[2016-04-15 15:03] #403 closed

[2016-04-15 15:04] AllenFang commented on #403
Hi @rbalicante882012, fixed on ```v2.1.4```

[2016-04-15 15:04] AllenFang commented on #398
Hi, @rbalicante882012, fixed on ```v2.1.4```

[2016-04-15 15:04] #398 closed

[2016-04-15 15:20] AllenFang commented on #395
HI @alexmngn again. I am not sure you scenario, but I thinks you just want to add a spinner in table when there's no any data in there, because you're fetching data. So ```react-bootstrap-table``` support ```noDataText``` to user to customize the text when data is empty. In #374, also support ```noDataText``` accept a JSX so that user have more ability to customize.  So maybe you can thinks this s

[2016-04-15 15:20] #395 closed

[2016-04-16 20:40] jbilcke opened #408 "TableDataSet, or migration from 2.0.x to 2.1.x"
Hi Allen,

My app uses `TableDataSet` to update the table with data from other parts of my application (forms, database sync etc) using `.setData(..)` but I've noticed it has been removed in 2.1.x

What is the new, recommended way of achieving the same kind of update?

Actually (not sure this is the right thing to do) I've tried to directly use `TableDataStore`:
[code]

But it doesn't seem to work

[2016-04-17 11:16] AllenFang commented on #408
@jbilcke, sorry for removing```TableDataSet``` since ```v2.1.0```. Because some reason and really few people use it. BTW, without ```TableDataSet```, you still can update data just by updating react state. Following is a simple example:

[code]

Anyway, #369 is just a remote example(meteor-like), but without this PR, you still can table data by state.

Thanks and feel free to discuss with me.
Sorr

[2016-04-17 11:16] #408 closed

[2016-04-18 18:59] Dreculah opened #409 "Customized Toolbar & Filters"
Hi,

I really love using react-bootstrap-table...thank you for making such a great component, and even better documentation!

Our project needs to have a customized toolbar. Many of the features we need are already in your component, but some are not AND we need to put our own things in it. Also, we want to make row filters toggle-able and at the top of the grid vs at the bottom, etc.

Looking at

[2016-04-18 22:26] pseudorandumb commented on #406
this works, thanks!

[2016-04-19 07:22] AllenFang commented on #409
Thanks a million a lots, @Dreculah. About your question, I'll make the ```ToolBar``` more customizable, and It really need some time. But I've some idea(HOC) in my mind which maybe work, it just need some experiments.
Anyway, could you please describe your customization?  did you want to add some button or something like that in ToolBar?

anyway, thanks your feedback, it's really useful and give m