[2016-11-03 13:15] #814 closed

[2016-11-03 13:58] israelws commented on #812
I managed to solve the problem:

[code]

That solve the problem:

[code]

binding the editFormatter (`::this.editFormatter`) putted the function in the component's scope, allowing it to "see" the "this.editObject" function.

I guess that the reason I didn't see the rows was because the dataFormat function generated error when rendering the table rows.

If this is possible, an error message should

[2016-11-03 15:47] AllenFang commented on #812
I think the error should be output on console, so I'm not very sure the root cause, but I'm glad that you solve this issue. Close it, Feel free to discuss with me if encounter any problems. Thanks

[2016-11-03 15:47] #812 closed

[2016-11-03 19:10] Luis-Ex commented on #813
The thing is that I'm not really sure how that should be done. I've been trying something like this:

`onRowClick: function(row) {
    	(e) => this.displaySystemInfo(row, e);
  }`

`displaySystemInfo(row, event) {
	event.preventDefault();
	const systemId = row._id;
	this.context.router.transitionTo(`/system/${systemId}`)
}`

But it's not working at all, how should I be doing it? Thank you by the w

[2016-11-04 07:38] martinpinto commented on #356
Hi @AllenFang I just upgraded to the 3.0.0 dev branch. Main reason: I need a custom add button without a modal popup. This button would simply insert a new empty row. I've seen you crossed out the "Insert button customizable" and "Insert modal customizable" checkboxes. Could you please show us a concrete example how to implement a custom button that just inserts a new empty row? Thanks :)

[2016-11-04 12:36] AllenFang commented on #813
so, any error message or nothing happen?

[2016-11-04 12:59] AllenFang commented on #356
Hi @martinpinto, in my opinion, if you want a add button without a modal popup, I'll suggest you add this button in your component render:
[code]

[2016-11-04 14:00] Luis-Ex commented on #813
Just this warning:

`warning  Expected an assignment or function call and instead saw an expression  no-unused-expressions`

but nothing occurs on click.

[2016-11-06 02:44] daniel1943 opened #815 "Huge performance issues (using redux as store)"
Sometimes I get 1000 new objects within 1-10 seconds that I would like to display inside tables, if I don't use react-bootstrap-table then it's added to store normally... but if I do, it pretty much makes browser unresponsive for a ~ 2 minutes.

I tried with the most basic table(1 column, no fancy settings) and it doesn't seem to help.

[code]

What options do I have ?

[2016-11-06 10:58] yarnball commented on #814
@AllenFang Thanks- I've tried a few things to solve but no success.

For the line `render: function(cellEditProp)` if I do not have `cellEditProp` there then it tells me `ReferenceError: cellEditProp is not defined`.

[2016-11-06 14:21] martinpinto commented on #356
Hi @AllenFang thanks so much for the reply! such a quick response, that is awesome! I tried the examples out and unfortunately they don't seem to be working. I still get the modal window.

[2016-11-06 14:48] invalidred commented on #356
Hi @martinpinto

I had a similar problem and here is how i solved the issue

[code]

[2016-11-06 20:52] martinpinto commented on #356
Thank you! That did help and the `onAdd()` function (in the example it's the `createCustomInsertButton` function) gets called. However I get a

when calling the createCustomInsertButton as in the example.

[2016-11-07 00:52] AllenFang commented on #813
try following
```onRowClick: function(row) { this.displaySystemInfo(row); }```

[2016-11-07 01:08] AllenFang commented on #814
Try following, I just write down this example without any compile, so tell me if there's some error.
[code]

[2016-11-07 01:34] yarnball commented on #814
I don't know how to add that syntax to my example. As per my example I'm just using `var TableEdit =  React.createClass({`

Could you format it so I can use it in my case?

[2016-11-07 01:37] AllenFang commented on #814
[code]

[2016-11-07 01:50] yarnball commented on #814
Thanks but that's what I had initially- it tells me `Cannot read property 'onAfterSaveCell' of undefined`

[2016-11-07 03:36] venkat-vs-id commented on #765
I used it and still it was the same. But my fix fixed it...

[2016-11-07 06:10] shahromil88 opened #816 "Remote filtering, paging functionality"
Hi,

I found react-bootstrap-table nice component to use as grid in react app. However, it's still missing functionality of server side/remote paging, filtering, sorting etc which is very crucial.

Can you please let me know when it will be released? I want to start development of new project in react.

Cheers,
Romil

[2016-11-07 08:22] axay opened #817 "Uncaught TypeError: Cannot read property 'Component' of undefined"
I am trying to use this with [express-react-views](https://github.com/reactjs/express-react-views). This is my view file -

    import React, { PropTypes } from 'react';
    import { BootstrapTable, TableHeaderColumn } from 'react-bootstrap-table';

    const TableLayout = props => (
      <html lang="en">
      <head>
        <title>{props.title}</title>
        <link rel="stylesheet" href="https

[2016-11-07 13:52] AllenFang commented on #815
There's a known performance issue particular enabling ```selectRow``` and or ```cellEdit```. But in your case, you dont. so maybe you can try to add new row by exposed API, but it's not a very redux way(practice)...

[code]

After v3.0.0 released, I'll try to fix this issue, if I still have time. Thanks

[2016-11-07 13:53] AllenFang commented on #356
@martinpinto, how about showing your example? Make it as simple as possible so that I can test on my local :)

[2016-11-07 14:04] AllenFang commented on #814
Like I mentioned, I dont check the syntax.
[code]

[2016-11-07 15:32] AdrienNeau commented on #497
@AllenFang Make possible the accessibility of sub-objects like says kopax in this issue: https://github.com/AllenFang/react-bootstrap-table/issues/50

[2016-11-07 15:37] AllenFang commented on #817
hi, I've no idea about this, but how about put the following two line in the ```<head>```?
[code]

[2016-11-07 19:46] martinpinto commented on #356
Hi, yes of course :) This is the code: https://gist.github.com/martinpinto/5acc1cf47b761eb2be57a30479f92996
As you can see this is a basically copy paste of the example.

[2016-11-07 20:31] axay commented on #817
Tried already, doesn't work

[2016-11-07 21:57] aghreed commented on #719
This is still an issue in `v2.5.7` here if are using the function callback instead of the boolean value for `paginationShowsTotal`.

Seems like the issue is here: https://github.com/AllenFang/react-bootstrap-table/blob/master/src/pagination/PaginationList.js#L95

Essentially when its a boolean, the `to` value is actually returned as `to + 1`. But when its a function, `to` is not getting that +1 bu

[2016-11-07 23:02] aghreed commented on #763
Ran into this one myself - @riguy724 try using the prop name of `currentPage`, not `page`.

[2016-11-07 23:06] aghreed commented on #763
However, @AllenFang it does look like the documentation on this is currently incorrect.

See: http://allenfang.github.io/react-bootstrap-table/docs.html

[2016-11-08 01:11] invalidred commented on #356
@martinpinto left you a comment in your patch. The code sample I provided was to override the onAdd() method triggered by the default addButton. I am not sure about replacing the add Button with your own custom button. However the suggestion on your gist may help you out regardless.

[2016-11-08 08:47] AllenFang commented on #817
@axay, I really have no idea about this issue, could you use the unmin files to debug it? The unmin version is also under the ```dist``` folder

[2016-11-08 09:28] alonfai commented on #781
@AllenFang  I resolve it in the meantime using the forceUpdate() API.
Inside my component I register to the "componentWillUpdate"  event and call the table forceUpdate() method and the grid re-renders with header and body columns aligned.

[2016-11-08 13:11] AllenFang commented on #816
hi @shahromil88, would you please describe which part is missing that you think?

I'm not sure that [these](https://github.com/AllenFang/react-bootstrap-table/tree/master/examples/js/remote) is that you want?

[2016-11-08 13:18] AllenFang opened #818 "Issue with giving the paginationShowsTotal as function when table is empty"
https://github.com/AllenFang/react-bootstrap-table/issues/719#issuecomment-258975952

self-explanatory

[2016-11-08 13:19] AllenFang commented on #719
Forward to #818. Thanks your bug report :)

[2016-11-08 13:34] shahromil88 commented on #816
Hi Allen,

Apologize for my misunderstanding. The functionality which I wanted is already there as per your given link.

Thanks for the prompt response.

Cheers,
Romiol

[2016-11-08 13:34] #816 closed

[2016-11-08 13:35] AllenFang commented on #763
@aghreed, how did you set ```currentpage``` to control?  In my opinion, only the ```page``` in ```options``` is only way to configure the default page.

Actually, there's a ```currPage``` in table state, you can change it, and it only work for changing page but the date is still the data of previous page,

[2016-11-08 13:47] AllenFang commented on #356
@martinpinto  https://gist.github.com/martinpinto/5acc1cf47b761eb2be57a30479f92996#gistcomment-1916642

[2016-11-08 13:48] AllenFang commented on #816
@shahromil88, that's ok, feel free to ask me anything if you have any problem.

[2016-11-09 14:55] #818 closed

[2016-11-09 14:57] AllenFang commented on #818
@aghreed, Fixed on ```v2.5.8```

[2016-11-09 18:58] aghreed commented on #763
Yep. @AllenFang you are correct. I was mistaken. My apologies!

[2016-11-09 22:39] polyakoff commented on #781
@jdelafon Could you please share a sample of your config for including these CSS to the webpack entry points?

[2016-11-09 22:46] jdelafon commented on #781
Sure:
  entry: [
    /* Bootstrap */
    'bootstrap-loader',

    /* Material Design Lite (https://getmdl.io) */
    /*'!!style!css!react-mdl/extra/material.min.css',*/
    /*'react-mdl/extra/material.min.js',*/

    /* React-bootstrap-table CSS */
    '!!style!css!react-bootstrap-table/css/react-bootstrap-table.css',
    'react-bootstrap-table/css/react-bootstrap-table.css',

    /* The main entr

[2016-11-09 22:51] polyakoff commented on #781
@jdelafon
Many thanks!

I figured out how to do it myself. Downloaded `react-bootstrap-table.min.css` and placed this line `require("../css/react-bootstrap-table.min.css");` in my component. This overrides application-level `import 'bootstrap/dist/css/bootstrap.css';` which is needed for reac-webpack. Works well without changes to the webpack config. Hope this is ok too.

[2016-11-10 02:36] davidmendoza opened #819 "Fixed pagination buttons"
Is there a way to have the pagination buttons (first, prev, next, last) fixed in the table? It seems that the buttons appear only depending on the total rows, size per page and pagination size. I'm using version 2.4.1 by the way.

[2016-11-11 07:10] kakariko-village opened #820 "Get rid of all borders"
Hi i want to remove all border for table. I set bordered={false}, even set border:none!important for .react-bs-table but there're still the border bottom of each row. I cannot find where to remove them.

[2016-11-11 07:46] retcheltapayan opened #821 "Sorting, don't include certain column data"
Hi,

I am working on a feature that would allow sorting for certain columns but should not sort specific column data. My columns are Ranking (1-12), Name, Age.
Name and Age are sortable but when sorting those column the ranking column should not be sorted along with it. It should always display 1-12 regardless of the sorting position of Name and Age column.

Please help.

[2016-11-11 14:39] knapeto opened #823 "Responsive"
Hi,

Has anyone solved responsive to this plugin?

![screenshot 2016-11-11 15 38 03](https://cloud.githubusercontent.com/assets/8394226/20218442/f5a80a2a-a824-11e6-8707-9622e340f66a.png)

Add classic className="table-responsive" doesnt help :(

Thanks,
Knapeto

[2016-11-12 00:31] edulis8 opened #824 ""Lock" rows from being edited ?"
Hi Allen,
I am hoping there is a way to do this. Based on certain criteria, I'd like to make certain entire rows uneditable. Currently from what I have seen, columns can be either editable or not; I don't know if I can put logic somewhere that will control whether or not to "lock" certain rows, so no cells can be edited within those rows. Possible?

Thanks,
Eric.

[2016-11-12 02:35] AllenFang commented on #819
HI @davidmendoza, This feature can be done on ```v3.0.0```, but this version is still on development, but almost complete. Plz wait to the release of ```v3.0.0```. Thanks

#497

[2016-11-12 02:49] AllenFang commented on #820
@kakariko-village, ```react-bootstrap-table``` only have the ```bordered``` props, so if you want to make all table borderless, you need to use some css to overwrite it.

[code]

[2016-11-12 02:49] #820 closed

[2016-11-12 02:51] AllenFang commented on #821
@retcheltapayan, we don't support this fixed column when sorting. so PR is welcome.

[2016-11-12 02:51] #821 closed

[2016-11-12 03:05] AllenFang commented on #823
@knapeto, this is a shortcomings for this component. I think there's a workaround, is you need to set the with on each column as possible as you can. ```react-bootstrap-table``` will generate a horizontal scroll bar.

[2016-11-12 03:07] AllenFang commented on #823
![sample](http://imgur.com/a/LDDMh)

[2016-11-12 03:16] AllenFang commented on #824
@edulis8, ok, I'll spend some time to do this

[2016-11-12 08:02] AllenFang commented on #497
https://github.com/AllenFang/react-bootstrap-table/releases/tag/v3.0.0-beta.1

beta pre-released, if get any interesting, you can check it out by npm install.

and I'll keep to improve beta and release a final production version after one month.

[2016-11-13 05:37] AdeelK93 opened #825 "react-router dependencies for examples"
For running the examples, the code provided is:
$ git clone https://github.com/AllenFang/react-bootstrap-table.git
$ cd react-bootstrap-table
$ npm install
$ gulp example-server #after start, open browser and go to http://localhost:3004

but this doesn't include installing the dependencies for react-router. Might I suggest adding a line in there somewhere for:
$ cd node_modules/react-router && npm

[2016-11-13 12:01] mayanksahai opened #826 "Nested Rows"
Hi , i am planning to use this as data table component and wanted to know whether component supports row grouping feature and allows adding new Rows on the fly..

for example

LMV Vehicles (Row group heading)
(-) ----- Scooter
(-) ----- Car
(-)----- Mini truck
(-) ------- XXXX   Add new Row/Delete Row

[2016-11-13 21:52] martinpinto opened #827 "Making a service call onAfterSaveCell"
Hi @AllenFang,

after a cell value has been modified:
is it possible to pass a service to `react-bootstrap-table` to make an http request `onAfterSaveCell` in order to persist the cell data on a server?

e.g.
[code]
thank you :)

[2016-11-14 05:51] venkat-vs-id opened #828 "warnings just displaying data in your table"
Warning: You are manually calling a React.PropTypes validation function for the `toastType` prop on `ToastContainer`. This is deprecated and will not work in the next major version. You may be seeing this warning due to a third-party PropTypes library. See https://fb.me/react-warning-dont-call-proptypes for details.

[2016-11-14 14:28] AllenFang commented on #825
@AdeelK93, did you use npm@3?

[2016-11-14 14:34] AllenFang commented on #826
@mayanksahai, we support add row with multiple ways but we dont support nest row or row grouping.
This feature has been asked before, but I'm focus on development of ```v3.0.0```. so PR is welcome. Thanks :)

[2016-11-14 14:34] #826 closed

[2016-11-14 14:41] AllenFang commented on #827
@martinpinto, you can do anything in ```afterSaveCell```, include calling a ajax request and you event dont pass ```service``` to ```react-bootstrap-table```, you can use it directly(Just make sure the ```this``` is ```ReactTable``` instead of ```BootstrapTable```).

[2016-11-14 14:41] #827 closed

[2016-11-14 15:43] Luis-Ex commented on #813
Hi, I ended up using ES6 arrow function to make it work:

`onRowClick: row => {
        const systemId = row._id;
        this.context.router.transitionTo(`/system/${systemId}`);
      }`

[2016-11-15 19:27] RacheleMoresi opened #830 "Cell formatting for invalid cell input"
Any chance of exposing more than just the cell value to the validator function or setting a Bootstrap danger class to the input when the toastr message fires for failed cell validation?

[2016-11-16 02:05] daniel1943 commented on #815
If somebody else runs into this problem, solution was to buffer data (I did it with RxJS) before updating redux store, so it doesn't re-render 1000 times in a second :)

[2016-11-16 02:05] #815 closed

[2016-11-16 05:39] polyakoff opened #831 "Passing react-router <Link> component to the table cell"
Hello,

got a problem trying to create a hyperlink inside a table cell using react-router <Link> component.

I wrote the following function:

[code]

And got this error message in console:

The console output with the objects looks as follows:
http://i.imgur.com/RyFGBCD.png

So it seems to me that everything is correct, but it isn't apparently. Please point me to what should be fixed here.

[2016-11-16 05:55] email2vimalraj opened #832 "Feature Request: Multi Select Filter"
First of all, I would like to thank you for this wonderful plugin. I use the remote option for the table and I would like to have multi select filter in one particular column. Currently, the library supports a `SelectFilter`. It would be great if we can implement `MultiSelectFilter` type as well.

[2016-11-16 06:14] AllenFang commented on #828
@venkat-vs-id, thanks, I'll improve it in the future. Thanks you :)

[2016-11-16 08:30] clairekh opened #833 "How I can change date format in date-filter?"
How I can change date format in date-filter?
Now in date-filter we see this date format: **mm/dd/yyyy.**

![screenshot from 2016-11-16 15-26-53](https://cloud.githubusercontent.com/assets/12009649/20339890/c89f21aa-ac19-11e6-8727-f98f6fa0aa90.png)

But I need change it to: **dd.mm.yyyy**. Can I do this?

[2016-11-16 09:11] tifa2chan opened #834 "Question: is it able to get a cell value within TableHeaderColumn"
Hi.  I want to make a cell **editable = {true | false}** based on the initial cell value.
I don't know if I can get the cell value or other column cell value within TableHeaderColumn.

[code]

[2016-11-16 13:19] AllenFang commented on #830
hi @RacheleMoresi, ```toastr``` is the default message displayer, how about I pass the result of validation by a callback function for you ?  maybe like following:

[code]

[2016-11-16 13:36] AllenFang commented on #831
@polyakoff, it's a improvement item that I'll fix it in the future. Because I doesn't make ```react-bootstrap-table``` fully capable for newest react.

[2016-11-16 14:18] polyakoff commented on #831
@AllenFang Got it, thanks. Could you give a tip how to workaround this?

[2016-11-16 14:52] bnlambert opened #836 "How to actually export table data as CSV"
Hi!
After doing a lot of search I finally settle with react-bootstrap-table. I wish to know how to export table data to csv. I will so much appreciate if some code samples are presented. I was expecting to find such in the doc.

Thanks

[2016-11-16 14:53] bnlambert opened #837 "Exporting table data as csv"
Hi!
After doing a lot of search I finally settle with react-bootstrap-table. I wish to know how to export table data to csv. I will so much appreciate if some code samples are presented. I was expecting to find such in the doc.

Thanks

[2016-11-16 16:58] AllenFang commented on #831
@polyakoff, I think it cant be done on in your repo, It need to change the source codes~

[2016-11-16 17:21] #837 closed

[2016-11-16 18:51] aliabbas opened #838 "react-toastr 2.8.2 breaking build"
when webpacking my application with react-bootstrap-table, the react-toastr@^2.8.0 dependecy pulls in 2.8.2 as it should but I'm getting the following error

./~/react-bootstrap-table/~/react-toastr/~/react/lib/ReactTransitionEvents.js
Module not found: Error: Cannot resolve module 'react-dom/lib/getVendorPrefixedEventName'

i'm using node 4.3.1, npm 2.15.1

[2016-11-16 21:03] sgentile commented on #838
Not sure if related, but I got a reactDOM error with react-toastr using the very new 15.4.0

[2016-11-16 21:18] kellyi commented on #838
I encountered this issue, too. I think removing the caret from this line in `package.json` would fix it by pinning it to always use `react-toastr` 2.8.0:

https://github.com/AllenFang/react-bootstrap-table/blob/master/package.json#L67

[2016-11-16 22:01] bnlambert commented on #831
I am thinking of a possibility or an option of exposing a function on the table row such that once the row is clicked, function can retrieve the id/unique key of the row which could be further used to redirect to a link built using the id/unique key.
This option could be enabled and disabled at will taking into consideration that inline editing is needed at times.

Also, an extra cell could be add

[2016-11-16 22:52] edulis8 opened #839 "overflow of cell"
Hello,
I noticed that without a dataFormat function, the text contents of a cell will be appended with '...' before overflowing off the cell. However, once I put a dataFormat function, the ... disappears. I would love to know how to get those dots back.

[2016-11-16 23:13] nathanpjones commented on #430
This resolves the issue _unless_ you set `width` for any column. If you set `width`, then the headers are misaligned in both screen and print.

[2016-11-16 23:56] mkasek opened #840 "Column Dropdown Filter exact match"
I am not sure if this is where I should post this or not, but I do not see anywhere else to post..

Is there any chance you would be willing to add a parameter to the filterText functionality so we can do an exact match of the filter value and target value instead of just checking to see if the filter value is in the target value? In my scenario, I have 3 different filter options of Undelivered, D

[2016-11-17 01:10] madeinfree commented on #838
Hi, @aliabbas @sgentile @kellyi I see the related issue from https://github.com/tomchentw/react-toastr/issues/86

[2016-11-17 01:13] kellyi commented on #838
It seems like updating React and ReactDOM to 15.4.0 remedied this issue when using v2.5.8 of this library.

[2016-11-17 01:22] AllenFang commented on #832
hi @email2vimalraj, it's a good idea, and I think it can be support in near future. For now, you can use  a custom filter as a workaround(It's an [pleexam](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/column-filter/custom-filter.js)). Feel free to discuss with me.

[2016-11-17 01:31] AllenFang commented on #834
sorry @tifa2chan, we dont support this feature, but **maybe** I can support this like following:
[code]

[2016-11-17 01:33] AllenFang commented on #836
hi @bnlambert, check [this](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/manipulation/export-csv-table.js). Feel free to discuss with me if you have any question.

[2016-11-17 01:33] #836 closed

[2016-11-17 01:43] AllenFang commented on #838
I think just like @kellyi said, I think fix the verion of ```react-toastr``` is a workaround currently.

[2016-11-17 02:16] clairekh opened #841 "Datepicker in date-filter does'n work in Mozilla FireFox and Internet Explorer"
Datepicker in date-filter does'n work in Mozilla FireFox. I use Firefox v.49.0.2 for Ubuntu and Firefox v.50.0 for Windows, Internet Explorer v.11.447.14393.0

![screenshot from 2016-11-17 08-59-30](https://cloud.githubusercontent.com/assets/12009649/20373538/72133170-acad-11e6-9296-83eb1799374c.png)

[2016-11-17 02:37] bnlambert commented on #836
Thank you very much.

I wish to know if react-bootstrap-table supports `<Link to="/user/:id">edit</Link>` links.

[2016-11-17 03:13] tifa2chan commented on #834
@AllenFang , Thanks for your reply.  I didn't know that it takes the cell value as parameter.   It works perfectly!
Just one thing, I think _editable_ is correct, not _editableByCell_ :)

[2016-11-17 03:40] AllenFang commented on #834
@tifa2chan, so close this issue? because the code that I mentioned above can let you decide what cell can be edited.  The ```editable``` only make the column editable```.

[2016-11-17 04:58] tifa2chan commented on #834
@AllenFang Yes, close this issue! Thank you!
I couldn't find ```editableByCell``` attribute in the document ( http://allenfang.github.io/react-bootstrap-table/docs.html ),  but I could use ```editable``` to make it work!

[2016-11-17 04:58] #834 closed

[2016-11-17 05:21] AllenFang commented on #834
@tifa2chan, the ```editableByCell``` is for your case. Anyway, let me know if you still have any questions.

[2016-11-17 06:56] AllenFang commented on #836
you can use ```dataFormat``` to customize your column, check [this](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/column-format/react-column-format-table.js#L44) example

[2016-11-17 07:50] bnlambert commented on #836
Thank you very much. Good day!

[2016-11-17 08:29] tifa2chan opened #842 "TableHeaderColumn editable false has two different UI's?"
Hi.
Relating to the issue #834, the following two sources show me different UI.
I was expecting the UI like the first one below, but it becomes the second one.
Do you know why it is?

1) When just setting editable={false}, it is just like a label.
[code]
![false](https://cloud.githubusercontent.com/assets/1356917/20381134/72bb66ba-ace9-11e6-98ba-26eb6df10a1c.png)

2) When calling a function, it is

[2016-11-17 15:18] AllenFang commented on #833
We dont support this feature, but I think it should be support. I'll try to add this feature in near future but I'm busy recently, so PR is welcome.

[2016-11-17 15:23] AllenFang commented on #831
@bnlambert, thanks your advice, you can check [this](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/selection/row-click-table.js) example.

I'm not sure which this means.

[2016-11-17 15:30] AllenFang commented on #839
@edulis8, because I use the text overflow like following:
[code]

[2016-11-17 15:31] AllenFang commented on #839
@edulis8, because I use the text overflow like following:
[code]

I think in your case, you data format is not a pure text. so maybe you can show your formatter and I can try to help you :)

[2016-11-17 15:35] AllenFang commented on #840
@mkasek, there's always have any conditions in any filter, just like your case, so in my opinion, a custom filter will be a better solution :)
check https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/column-filter/custom-filter.js

Feel free to discuss with me 👍

[2016-11-17 15:35] #840 closed

[2016-11-17 15:37] #797 closed

[2016-11-17 16:11] edulis8 commented on #839
Thanks, that helps!

[2016-11-17 21:02] chenshuang77 opened #845 "ClearFilter could not clear customerFilter."
In TableHeaderColumn.js line 65, add one case for clear customer filter.

Thanks,

[2016-11-17 21:36] mkasek commented on #840
I briefly looked at the custom filter but did not spend much time on it. I will look at more closely and see if I can get it working how I want it to.

Thanks for the reply and info.

[2016-11-17 22:43] beatscode opened #846 "Pagination Bar covers table row"
I'm trying to figure out how to get the pagination widget under the table. I'm wondering if it is because of the height of my columns.  Is there any way to fix this within React-Bootstrap-table or do I need to target the pagination bar with extra css?

Component
![image](https://cloud.githubusercontent.com/assets/1777648/20410860/17e339e4-aced-11e6-9bc4-cd318e579c19.png)
CSS
![image](https://cloud

[2016-11-17 22:50] beatscode commented on #846
Of course its because I did not include the css properly.

[2016-11-17 22:50] #846 closed

[2016-11-18 03:04] #765 closed

[2016-11-18 04:08] appjitsu opened #847 "checkbox cells float to the right when in edit mode"
Editing and saving works fine. The only problem is that the checkbox floats to the right when I click on the cell.

<img width="1139" alt="screen shot 2016-11-17 at 10 05 26 pm" src="https://cloud.githubusercontent.com/assets/10903600/20418335/17bcffa2-ad12-11e6-985e-1598f208c8c6.png">
<img width="1136" alt="screen shot 2016-11-17 at 10 05 42 pm" src="https://cloud.githubusercontent.com/assets/109

[2016-11-18 05:08] clairekh commented on #833
AllenFang, рhank you very much. I'll wait for the update.

[2016-11-18 08:43] email2vimalraj commented on #571
@AllenFang : I'm trying to do this, but not working for me. The following is the sample:

[code]

It doesn't logs the console which I was expecting.

[2016-11-18 08:50] email2vimalraj commented on #571
So I'm able to solve this by binding the `linkCellFormatter`. I'm not deleting my previous comment for the sake of community use.

[2016-11-18 17:40] mjmhall opened #848 "Reset table display"
Hi

I've reset my table programmatically by using handleSearch('') to clear the search so that all rows are displayed. That works fine but now I need to clear the users input from the search box. Is there a   way to do that?

Thanks

[2016-11-20 03:46] UpCoder opened #849 "Can I use Custom Component?"
I want to add a link to one column. but I can not find the attribute to define owner custom component. I just find the custom editor, but it need me to click it, I want to display a link when it is initialing.
Can I finish the function with react-bootstrap-table? If i can, can you tell me the attribute?
Thank you very much!
Thank you very much!
Thank you very much!

[2016-11-20 05:53] UpCoder commented on #849
yeah, I finish it by using the attribute dataFormat.thanks

[2016-11-20 07:44] AllenFang commented on #841
hi @clairekh, check http://caniuse.com/#search=date and http://www.w3schools.com/html/html_form_input_types.asp

I dont want to spend too many times to solve this issue, there's only a workaround, use custom filter to customize your date filter.

check https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/column-filter/custom-filter.js

Feel free to discuss with me

[2016-11-20 07:44] #841 closed

[2016-11-20 07:48] AllenFang commented on #842
hi @tifa2chan, firstly sorry for late reply. in [this](https://github.com/AllenFang/react-bootstrap-table/issues/834#issuecomment-261127888) comment, I said, I cant support this feature, but I can support it in near future like following:
[code]
So I think you misunderstand my consideration.

[2016-11-20 07:57] #839 closed

[2016-11-20 08:05] AllenFang commented on #845
@chenshuang77, ok, I'll fix it in next version.

[2016-11-20 08:16] AllenFang commented on #765
HI @venkat-vs-id, anyway thanks this problem solving. I'm still sticking on development for ```v.3.0.0```. I'll  be back and review this solution.

[2016-11-20 08:41] AllenFang commented on #847
@appjitsu, this is because I dont use ```dataAlign``` on editable cell. Particular in checkbox editor, if I make it as center like your example. when user click that cell or the checkbox which only focus on the check, not check it. so user need to click the checkbox again to check it. So I add ```pull-right``` to the check for always align it on the right.

Which will let user know, the first clic

[2016-11-20 08:45] AllenFang commented on #571
@email2vimalraj, good job

[2016-11-20 09:10] AllenFang commented on #848
hi @mjmhall, sorry for lateyl reply. I'll fix it in recent. Thanks

[2016-11-20 13:09] tifa2chan commented on #842
@AllenFang Do you mean that you can add a new property called editableByCell?  If it is easy for you to add, it would be nice!!  I just don't want you take too much time.

Also, I just wonder thai is that the specification that if I code like above, the UI becomes like that?

[2016-11-20 17:24] stephanebarbey opened #850 "onSelect and mode: 'radio',"
When using the table with mode: 'radio', I only get an onSelect event with isSelected true for the new selection, but there is not event for the "unselected" item. (I would have expected to receive two events, an isSelected=false for the previously selected item, and isSelected=true for the newly selected item.)

This behaviour makes it hard to create generic (for both modes) components on top of

[2016-11-21 06:16] email2vimalraj commented on #850
@stephanebarbey : What would you do with the unselected one? You would be more interested on the selected one at any point of time if it is a radio button, right?

I used to do this always:
- Create a state variable
- When selected add that row in the state variable

The state variable will always have one row.

If it is a checkbox, I push or pop from the state variable based on the `isSelected`.

[2016-11-21 06:49] evladik opened #851 "Cannot resolve module getVendorPrefixedEventName"
I am getting the following error. The files are missing although npm install was successful/

"react-bootstrap-table": "^2.5.8"

0] ./~/react-bootstrap-table/~/react-toastr/~/react/lib/ReactTransitionEvents.js
[0] Module not found: Error: Cannot resolve module 'react-dom/lib/getVendorPrefixedEventName' in D:\Git\webconsole2\node_modules\react-bootstrap-table\node_modules\react-toastr\node_modules\

[2016-11-21 09:06] mangreen commented on #851
I also encountered this problem.
My react version is 0.14.8.
And I found react-dom/lib/.... not exist in react 0.14, only exists in react 15.0.

[2016-11-21 09:10] gravitycode commented on #851
I have react 15.3.2 and react-bootstrap-table 2.5.5 and i have the  same problem too

[2016-11-21 12:09] AllenFang commented on #842
I can try it, but if is hard to implement, I'll consider whether to continue.

I'm not sure. But ```editable``` only accept a bool value.

[2016-11-21 12:15] #849 closed

[2016-11-21 12:19] AllenFang commented on #850
@email2vimalraj absolutely right.

you can get the unselect item by current state before you change it when ```onSelect``` is done

[2016-11-21 13:12] AllenFang commented on #833
@clairekh, firstly, I cant change the format, because I use ```<input type='date'/>```

according http://stackoverflow.com/questions/7372038/is-there-any-way-to-change-input-type-date-format, the input date cant change the format, and the format seems like depend on the user’s system settings’ date format.

[2016-11-21 13:12] #833 closed

[2016-11-21 13:36] gravitycode commented on #851
The problem is the caret in react-toastr dependency. The library get the versión 2.8.2 instead of 2.8.0 of react-toastr that is changed to support react 15.4.0.

See the issue: https://github.com/AllenFang/react-bootstrap-table/issues/838

[2016-11-21 13:42] gravitycode commented on #838
Oh no! the damn caret.

[2016-11-21 14:35] AllenFang commented on #851
thanks @gravitycode, this issue will be fix on next version 👍

[2016-11-21 14:35] #851 closed

[2016-11-21 15:12] AllenFang commented on #842
hi @tifa2chan, sorry it's my fault. Actually, after I see the codes, I found the ```editable``` can accept a function, you can play it with following example:
[code]
Hope this is what you want. Actually, the UI will be like your mention before, it still appear a text field but is disable.

[2016-11-21 15:41] #845 closed

[2016-11-21 15:43] AllenFang commented on #838
Fixed on ```v2.5.9```, please upgrade, Solve it by fix ```react-toastr``` on ```v2.8.0```

[2016-11-21 15:45] AllenFang commented on #845
Fixed on ```v2.5.9``` 👍

[2016-11-21 21:05] mattparrilla opened #852 "Docs just got much less usable!"
I'm sorry to say, but the documentation site redesign just made the documentation much less useful!

If I want to know how to do something, but don't already know the relevant prop name (so most of the time), searching the text of the page was a great way to find the prop that mattered. Now, there's no way to explore the project without actually clicking through all of the individual props.

This

[2016-11-22 01:31] tifa2chan commented on #842
Hi @AllenFang .  No problem.  Thanks for your checking!  I have already coded like you showed me above :)

You know what when I clicked the disabled text field and then click outside of the table, I don't know why the focus seems to remain at the text field; if it is non-disabled text field, it focuses out .  Is there anyway to handle it?  (It is a little hard to explain, so I don't know if you ca

[2016-11-22 01:41] AllenFang commented on #852
@mattparrilla, I'll keep to improve it. thanks your advise.

[2016-11-22 03:29] AllenFang commented on #842
@tifa2chan, I can understand your concern probably, I think you want the non-editable cell just like the normal column.  I can try to improve it, but following is my explanation for why I make the non editable cell become a disable input field.

Because i thinks, you need to let user know the column(for example, price) is editable, but due to some limitation, so some cell may not be editable, so w

[2016-11-22 04:50] JohnUiterwyk commented on #497
Hi Allen, first, thanks for all your effort.

I have come across a bug in 3.0 related to pagination and setting the current page size. Basically, SizePerPageDropDown requires currSizePerPage to be a string,
https://github.com/AllenFang/react-bootstrap-table/blob/v3.0.0-dev/src/pagination/SizePerPageDropDown.js#L43

but in PaginationList, this is passed in using the sizePerPage prop:
https://github

[2016-11-22 06:21] tifa2chan commented on #842
@AllenFang, I understand your explanation.  Keeping the cell to be non-editable text field is fine, but just wondering the cell does not focus out correctly in one case.  When the mouse pointer focuses out, the cell still shows non-editable cell (gray color) and doesn't change back to the normal column cell.

Can you try the following?
1) click the non-editable cell
![false](https://cloud.githubus

[2016-11-22 07:15] email2vimalraj opened #853 "Multiple date filters are not updating the filter object"
I have two columns with Start Date and End Date with date objects. And I have DateFilter for both of these columns. I'm using `remote` btw.

**_Reproducing steps_**:
1. Filter date value from the start date column and observe the new filter object is created with startDate as a key.
2. Filter date value from the end date column and observe the endDate key is appended with the existing filter objec

[2016-11-22 07:40] mangreen commented on #838
After changed to install react-bootstrap-table@2.5.9, I still encountered this issue.
My react is 0.14.8 and react-dom is 0.14.7

module.js:338
    throw err;
    ^
Error: Cannot find module 'react-dom/lib/getVendorPrefixedEventName'
    at Function.Module._resolveFilename (module.js:336:15)
    at Function.Module._load (module.js:278:25)
    at Module.require (module.js:365:17)
    at require (mo

[2016-11-22 08:08] vapon commented on #838
Hi, that is true.
react-bootstrap-table@2.5.9 doesn't resolve the problem.
"Module not found: Error: Cannot resolve module 'react-dom/lib/getVendorPrefixedEventName'"

[2016-11-22 08:20] gravitycode commented on #838
i finally updated to react 15.4.0. Although I think not in all scenarios this is a viable solution.
I also had to update react-hot-loader

[2016-11-22 08:33] madeinfree commented on #838
I think this problem from React 15.4.0, I try to change react-toastr react-dom version into 15.3.0 and problem be resolve, react-toastr use below
[code]
so it will install react-dom 15.4.0 by itself

[2016-11-22 08:38] AllenFang commented on #838
HI everyone, that's my fault, its a invalid fixed. Any solution?

[2016-11-22 08:43] vapon commented on #838
That is the example how caret dependencies can ruin the build. My project become invalid after react 15.4.0 was released (https://facebook.github.io/react/blog/2016/11/16/react-v15.4.0.html)
Which version of the react-bootstrap-table uses react-toastr 2.4.0 ? I might downgrade for now.

[2016-11-22 08:45] AllenFang commented on #838
but maybe https://github.com/tomchentw/react-toastr/blob/v2.4.0/package.json#L78 will be a problem.

[2016-11-22 08:46] AllenFang commented on #838
How about fork ```react-toastr``` to my repo and link it with git repo url in ```package.json```

[2016-11-22 08:49] madeinfree commented on #838
agree! maybe this is the temporary solution to fix this problem, when react-toastr didn't fix this problem.

[2016-11-22 08:51] vapon commented on #838
Thank you very much! Will check which solution fits better.

[2016-11-22 09:18] batjko commented on #771
Just ran into the same issue, not knowing what caused it. This helped us pinpoint it.
We were using a span to wrap around the column title for a tooltip. For now we removed that, but ti would be nice to have some flexibility around the header.

[2016-11-22 13:29] kellyi commented on #838
Upgrading the top-level React & React-DOM dependencies to 15.4.0 fixed this issue for me.

I believe the problem's that React-Toastr's using an undocumented API which was done away with in 15.4.0. The dependency started breaking immediately after React 15.4 was released -- and this was published:

https://facebook.github.io/react/blog/2016/11/16/react-v15.4.0.html

I think having the latest React

[2016-11-22 13:32] kellyi commented on #838
@AllenFang I think using a forked version of React-Toastr with the React/React-DOM-dependencies pinned at whatever version you want for this would work, too.

It looks as if this might be the/one of the culprits in React-Toastr:

https://github.com/AllenFang/react-bootstrap-table/issues/838#issuecomment-262181867

[2016-11-22 13:57] AllenFang commented on #838
yes, I'll fix it later :)  Thanks all you guys give these feedback :+1:

[2016-11-22 14:57] AllenFang commented on #688
Fixed on ```v2.5.9```. Thanks 👍

[2016-11-22 14:57] #688 closed

[2016-11-22 15:45] email2vimalraj commented on #688
I'm facing this still:

[code]

I'm using:
**node: **v7.1.0
**npm:** v3.10.9

[2016-11-22 17:04] AllenFang commented on #838
hi all, I've released ```v2.5.10```, I think it could fix this issue, please let me know if anything goes wrong. Any feedback is welcome :)  thanks.

[2016-11-22 20:51] yschoueri commented on #838
It doesn't work for me with package.json dependency
`"react-bootstrap-table": "2.5.10"`

I get the following error/warning when running npm install
[code]

and this one when starting my server in hot reload
[code]

[2016-11-22 20:55] Shaywei commented on #838
I am getting erros on `npm install`:

[code]

[2016-11-22 22:28] qiusli commented on #838
Got the following error building my project, not sure why. Any suggestions?

npm ERR! git clone --template=h:\dash\npm\2\npm-cache\_git-remotes\_templates --mirror https://github.com/AllenFang/reac
t-toastr.git h:\dash\npm\2\npm-cache\_git-remotes\git-https-github-com-AllenFang-react-toastr-git-72d29d72: Cloning into
 bare repository 'h:\dash\npm\2\npm-cache\_git-remotes\git-https-github-com-Allen

[2016-11-22 22:29] sgentile commented on #838
So I have a build that was using "react-bootstrap-table": "^2.5.6",

Now it's started failing on me today..

ERROR in ./~/react-bootstrap-table/lib/toolbar/ToolBar.js
Module not found: Error: Cannot resolve module 'react-modal' in
.../client/node_modules/react-bootstrap-table/lib/toolbar
 @ ./~/react-bootstrap-table/lib/toolbar/ToolBar.js 25:18-40

ERROR in ./~/react-toastr/~/react-dom/index.js
Mo

[2016-11-22 22:31] qiusli commented on #838
@sgentile try using 2.5.8. It worked for me.

[2016-11-22 22:56] fachhoch commented on #838
I am getting this error
ERROR in ./~/react-bootstrap-table/~/react-dom/index.js
Module not found: Error: Cannot resolve module 'react/lib/ReactDOM' in C:\dev\react-dev\app8\123\react-gs\node_modules\react-bootstrap-table\node_modules\react-dom
 @ ./~/react-bootstrap-table/~/react-dom/index.js 3:17-46

react dependencies
    "react": "^15.4.0",
    "react-bootstrap-table": "^2.5.8",
    "react-dom"

[2016-11-22 22:59] sgentile commented on #838
I got burned by the caret...

[2016-11-22 23:14] sgentile commented on #838
Curious others thoughts - so this change basically broke everyone using ^2.5.x  - which was the default when you run npm install at that time.

Since it was such a breaking item, is it more appropriate to do larger version changes once dependencies change ?

ie. instead of the 2.5.8 that caused the issue, moving to 3.0 ?

[2016-11-22 23:58] fachhoch commented on #838
moving to 3.0 fixed the build,  thank you.

[2016-11-23 01:18] AllenFang commented on #838
I still figure why have following error
[code]

I'll unpublish ```v2.5.10``` later and I must apologize for this upgrading to everyone.

[2016-11-23 04:06] AllenFang commented on #838
v2.5.10 unpublished,  this https://github.com/AllenFang/react-bootstrap-table/pull/854 PR solve some issue about ```react@15.4.x``` and dependency issue.

In next stage, I'll try to figure what's going on for the trouble of ```v2.5.10``` and test next patch more details about forking ```react-toastr``` and narrow down the react version on it.

if there's no any better solution, I'll replace ```rea

[2016-11-23 04:28] fachhoch opened #855 "table missing style, css"
I am learning react, new bee ,  trying bootstrap table, table  renders, but without any style  , I am missing something, my table class src below , I  included css using   [`import 'react-bootstrap-table/dist/react-bootstrap-table-all.min.css'`]   not sure if this is write?,   this project is in  github,  [project link](https://github.com/fachhoch/react-gs.git)

[code]

image of rendered table
![r

[2016-11-23 05:44] rahul1059 commented on #838
@AllenFang  Can you publish a build with react-toastr fixed 2.8.0.

[2016-11-23 06:14] AllenFang commented on #838
@rahul1059, I've do it on ```v2.5.9```, but problem still remain. The root cause is https://github.com/AllenFang/react-bootstrap-table/issues/838#issuecomment-262178484

the problem is the caret on ```react-dom``` and ```react```.

[2016-11-23 06:52] rahul1059 commented on #838
@AllenFang I followed these steps and it worked:
- removed caret from react-toastr in package json.
- removed/uninstall react-toastr from node modules.
- run npm install from react-bootstrap-table
- build my project files and its working.
I am using 0.14.8 react/react-dom.

[2016-11-23 06:55] AllenFang commented on #838
@rahul1059, what the version of your ```npm```

[2016-11-23 06:56] rahul1059 commented on #838
2.14.9

[2016-11-23 08:22] vapon commented on #838
Guys, I just have performed clean 'npm install' and everything worked fine. And when looked up into node_modules, I discovered that *react-dom*  ver. 15.14.1 was installed (released 7 hours ago (!)).
So seems like *getVendorPrefixedEventName* was reverted. At least I could see it.

[2016-11-23 08:52] AllenFang commented on #838
https://github.com/facebook/react/releases/tag/v15.4.1
But I cant figure why.  Any evidence for fixing getVendorPrefixedEventName problem?!

[2016-11-23 08:53] AllenFang commented on #838
BTW, https://github.com/AllenFang/react-bootstrap-table/releases/tag/v2.6.0-beta.1

I release ```v2.6.0-beta.1```, anyone can try it?

```npm install react-bootstrap-table@2.6.0-beta.1```

[2016-11-23 08:55] madeinfree commented on #838
OK, I help to try this version and think about any way to resolve this issue now

[2016-11-23 09:05] AllenFang commented on #838
@madeinfree, if you have time, you can try 15.4.0 and 15.4.1 both condition. BTW, today, I cant reproduce this issue in my client. I almost blow up today..

[2016-11-23 09:17] AllenFang commented on #838
I dont see any error on webpacking, but got following error on page running,
[code]
Reproduce steps:
1. enable ```insertRow```
2. click insert button on page
3. dont keyin any data
4. Click save button
5. Above error appear on browser console

[2016-11-23 09:24] vapon commented on #838
@AllenFang, you are right *NO* evidence of fixing it within the React's release notes, that's why I was surprised and checked node_modules. I'm just a narrow minded java developer and still thinking that using fixed dependencies in package.json is the best way.

[2016-11-23 09:30] AllenFang commented on #688
@email2vimalraj this is the problem about the react version probably.  And we will fix it quickly

[2016-11-23 09:36] rahul1059 commented on #838
Its not working react/react-dom 0.14.8. I haven't updated my react.

[2016-11-23 12:11] batjko commented on #792
Just ran into this same issue and am surprised that jQuery is required. I thought it was commonly recommended to avoid jQuery in React apps, due to potential DOM conflicts?

[2016-11-23 13:41] AllenFang commented on #838
@rahul1059, any error message?

[2016-11-23 13:42] fachhoch commented on #855
applying jquery and bootstrap  script and link tag resolved the issue.

[code]

[2016-11-23 15:32] AlessandroPilastrini opened #856 "unique "key" prop Error"
Hi, I would like make TableHeaderColumn name dynamic.
So I decide to use forEach() and push ` <TableHeaderColumn .../>`  inside a variable for each name in my array:

[code]
After that, the table is rendered but receive the following error in console:

[code]

I also use the equivalent props isKey={true}, same error! what's wrong?

[2016-11-23 15:33] AllenFang commented on #856
you can use ```keyField``` on ```BootstrapTable```

[2016-11-23 15:33] #856 closed

[2016-11-23 15:34] AlessandroPilastrini commented on #856
I used it!

[2016-11-23 15:35] AllenFang commented on #856
key is unique. so remove all the ```isKey``` and use ```keyField```.  or only use ```isKey``` on one column.

[2016-11-23 15:37] AllenFang commented on #856
BTW, this error is the problem about react key, you should check the react document, it's not related with react-bootstrap-table

[2016-11-23 15:41] AlessandroPilastrini commented on #856
@AllenFang  I know the react problem but I can't use`key` props on `<TableHeaderColumn>` component

[2016-11-23 15:48] AllenFang commented on #856
Any error message?  following is not work?
[code]

[2016-11-23 16:04] AllenFang commented on #838
Some feedback

```npm@2``` + ```react-bootstrap-table@2.5.9``` + ```react@15.3.2```
wepbacking fail cause by Cannot resolve module 'react-dom/lib/getVendorPrefixedEventName'

```npm@3``` + ```react-bootstrap-table@2.5.9``` + ```react@15.3.2```
wepbacking pass but got  invariant.js:38 Uncaught Error: Objects are not valid as a React child  on runnging

```npm@2``` + ```react-bootstrap-table@2.6.0-b

[2016-11-23 16:05] AllenFang commented on #838
if someone got the following error after use ```v2.6.0-beta```,
[code]
please tell me

[2016-11-23 16:09] AlessandroPilastrini commented on #856
No...is not possible:

in the library should be added `key` props in TableHeaderColumn.js:

[code]

and in th:

[code]

so it could be possible pass a `key`

[2016-11-23 16:21] AllenFang commented on #856
I try following code, it work.
[code]

And I just want to know what error or message you see when you apply the ```key``` on ```TableHeaderColumn```. Because you said **You can't use key props on component**

Anyway, the TableHeaderColumn dont get the key prop and render on dom, I remember I saw some document. but if I misunderstand, please correct me with some reference. In addition, I think you

[2016-11-24 02:07] AllenFang commented on #497
@JohnUiterwyk, thank your very much, I'll check it out 👍

[2016-11-24 02:09] AllenFang opened #857 "sizePerPage props type issues on v3.0.0.beta.2"
https://github.com/AllenFang/react-bootstrap-table/issues/497#issuecomment-262147089

[2016-11-24 02:24] AllenFang commented on #842
ok, I got it, I'm not sure if it can be improved, but I'll give a try 👍

thanks

[2016-11-24 02:32] AllenFang commented on #853
@email2vimalraj, thanks for such detail explanation, I'll check this out. BTW, if you have time, could you please show me a minimal example for reproducing?

Thanks :)

[2016-11-24 02:39] AllenFang commented on #771
@batjko, ok, I understand.  I'll try to improve it. But there's always some restriction, so I can't promise that I can improve this issue. thanks

[2016-11-24 02:41] AllenFang commented on #792
You are right, actually the jQuery depend from ```bootstrap.js```. Anyway, this both dependencies will be remove in the near future(```v3.0.0-beta.2```)

[2016-11-24 03:15] tifa2chan commented on #842
Thank you :)

[2016-11-24 04:24] email2vimalraj commented on #853
@AllenFang : Sure I'll do it. BTW, I've started a blog post with some real-time examples for the react-bootstrap-table. Mind having a look? http://www.vimalselvam.com/2016/11/23/react-bootstrap-table-part-1/

[2016-11-24 06:09] AllenFang commented on #853
hi @email2vimalraj, that's great, I thinks this repo need the people who like you would like to share this project. Anyway, your writing is very well, it's also a good promotion 👍

Thanks your contribution :)

[2016-11-24 08:03] rahul1059 commented on #838
I am getting same error message. `Cannot resolve module 'react-dom/lib/getVendorPrefixedEventName'`

[2016-11-24 09:54] vmaleze commented on #50
Small workaround in the meantime is using the dataFormat.

Something like this works fine

[code]

[2016-11-24 13:47] HotlineDanger opened #858 "Pagination dropdown button not working"
Hi,

I have tried to set up the pagination with the simplest config, but the drop down pagination button is not working - It doesn't open the list of value.

[code]

I followed the example on the website but no luck so far. I have noticed that the open props that seems to handle the class of the parent (span element above the button) was not present in the most recent code. Anybody facing this pro

[2016-11-24 15:01] AllenFang commented on #838
Maybe I would like to replace ```react-toastr``` by ```react-s-alert```..., https://github.com/AllenFang/react-bootstrap-table/issues/350

[2016-11-25 05:26] email2vimalraj commented on #853
@AllenFang : Thanks a lot for your great words.
BTW, I'm unable to reproduce the reported issue now. So I'll close and re-open if I reproduce again with the sample code. Sorry for inconvenience.

[2016-11-25 05:26] #853 closed

[2016-11-25 05:29] email2vimalraj commented on #858
@HotlineDanger, try this:

[code]

Let me know how it goes.

[2016-11-25 06:02] email2vimalraj commented on #855
@fachhoch : If the issue is resolved, feel free to close it by yourself please.

[2016-11-25 08:35] thevangelist opened #859 "Q: How can I add unique ID's to each row?"
I'd like to add unique ID's to rows so I can programmatically clicking those, any tips?

[2016-11-25 09:45] email2vimalraj commented on #859
Implement `linkCellFormatter` method as like this:

[code]

And your table should look like this:

[code]

Note `dataFormat` in the 2nd TableHeaderColumn which uses the `linkCellFormatter` to turn your cell into link which has the id attribute to your id field in your data.

Hope this answers your question.

[2016-11-25 09:47] KalpanaPagariya commented on #497
@AllenFang Can you please make pagination option configurable like user want pagination in toolbar or at the bottom of table?

[2016-11-25 10:52] HotlineDanger commented on #858
Hi @email2vimalraj - Thanks for your answer and your help. I have tried with the fetchInfo props, but it doesn't really work. Have you had a chance to verify on the last version ? Here is what I have tried. The data renders properly, I can switch from page one to page two using the pagination but I can't change the number of results I display within the table.

[code]

[2016-11-25 14:41] email2vimalraj commented on #858
@HotlineDanger : Yes this seems to be a bug. I don't see any event trigger happens when the button with id `pageDropDown` clicked. I happened to dig into the code and found that the `PaginationList.js` has to be fixed for this.

I'll try a PR, but let me wait to hear from @AllenFang .

[2016-11-25 14:52] HotlineDanger commented on #858
@email2vimalraj -  Thanks for your answer. I have seen it the core code as well. Waiting for @AllenFang answer.

[2016-11-25 16:11] #855 closed

[2016-11-27 06:25] AllenFang commented on #859
@thevangelist, did your use any flux implementation?(ex: redux, mobx)

[2016-11-27 06:27] AllenFang commented on #855
@fachhoch, In near future, ```bootstrap.min.js``` and ```jQuery``` this both dependency will be removed on ```v3.0.0```. Anyway, you can check ```v3.0.0-beta.2```.

[2016-11-27 06:37] AllenFang commented on #497
@KalpanaPagariya, could you please explain it more detail? Thanks :)

[2016-11-27 16:12] #824 closed

[2016-11-27 16:23] AllenFang commented on #751
@opensourcegeek, in ```v2.6.0```, we support expand row, check [example](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/expandRow/expandRow.js). We will update document in these day

[2016-11-27 16:23] AllenFang commented on #738
@innopal, in ```v2.6.0```, we support expand row, check [example](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/expandRow/expandRow.js). We will update document in these day

[2016-11-27 16:24] AllenFang commented on #515
@adobeflex1, in ```v2.6.0```, we support expand row, check [example](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/expandRow/expandRow.js). We will update document in these day

[2016-11-27 16:24] AllenFang commented on #460
in ```v2.6.0```, we support expand row, check [example](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/expandRow/expandRow.js). We will update document in these day

[2016-11-27 16:25] AllenFang commented on #362
in ```v2.6.0```, we support expand row, check [example](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/expandRow/expandRow.js). We will update document in these day

[2016-11-27 16:25] #362 closed

[2016-11-27 16:30] AllenFang commented on #838
Fixed on ```v2.6.0```.  you should not see any module resolve issue when webpacking and no any error on running.  This https://github.com/AllenFang/react-bootstrap-table/issues/838#issuecomment-262557072 solved on ```v2.6.0```.

If any trouble or issue is related with ```react-toastr```, please tell me. Thanks.

[2016-11-27 17:03] opensourcegeek commented on #751
@AllenFang it's cool, I'll take a look now - there's a typo in your example

[code]
The import in ./examples/js/expandRow/demo.js,
`import ExpandRow from './ExpandRow';`

There is no ExpandRow in that directory so I changed it to expandRow as below and it builds fine.
`import ExpandRow from './expandRow';`

[2016-11-27 17:31] opensourcegeek commented on #751
@AllenFang It looks good - how are you planning to make `selection` work with this table? I will play with it and see how it goes, I want this "expanded table" to be selectable as well. Is it possible?

[2016-11-27 19:54] thevangelist commented on #859
Yes I am using redux. I have a custom expandable sidebar --- so probably possibly the expandable rows feature will be a consideration as well.

[2016-11-28 01:23] AllenFang commented on #751
sure, you can try it. Feel free to give any feedback to me 👍

[2016-11-28 06:37] rahul1059 commented on #838
I am getting the same error. I installed v2.6.0 and i am using react 0.14.8.

      throw er; // Unhandled 'error' event
            ^
Error: Cannot find module 'react-dom/lib/getVendorPrefixedEventName' from 'C:\.....\node_modules\react-bootstrap-table\node_modules\react-toastr\node_modules\react\lib'

[2016-11-28 07:00] hermanfenderson opened #860 "Automatic scroll to end of table"
I am using react-bootstsp-table to show a list of items submitted by users in a form.
I am using "height" to show only a few rows but as long as users submit items they will get out of view.
Any way to make the table auto scroll to the end so that the more recent items will be displayed?
Of course I could feed the table in reverse order but it is much less intuitive.

[2016-11-28 08:17] gengjiawen commented on #50
This feature is really handy, please consider add this, thanks.

[2016-11-28 08:43] gengjiawen commented on #50
@vmaleze what's `property_name` in snippet ?

[2016-11-28 09:11] gengjiawen commented on #50
You can use `formatExtraData` to hack
[code]
then add colunms to `BootstrapTable`.

[2016-11-28 09:38] opensourcegeek commented on #751
I took a closer look this morning, it looks good to me - I'd probably have to wire up selection with my app differently so that I can select all the rows in sub table (expanded row) when user selects a row in primary table it is do-able.

I've forked this repo and added some changes to how search works as well (added exact match search) so I might have to merge and see if everything holds together

[2016-11-28 12:59] AllenFang commented on #858
@HotlineDanger, sorry for late reply. Actually, you may forgot include the ```jQuery``` and ```bootstrap.js```. Anyway, in the future(the ```v3.0.0```) will remove this both dependencies, so you can give it a try on beta

```npm install react-bootstrap-table@3.0.0-beta.2```

let me know if you have any questions

[2016-11-28 12:59] #858 closed

[2016-11-28 13:02] AllenFang commented on #859
maybe you can handle **add unique ID's to each row``` in your reducer? or initial state?

You are lucky men, I just release ```v2.6.0``` and have the new feature for expandable row, check [this](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/expandRow/expandRow.js) example.

Let me know if you have any question

[2016-11-28 13:04] AllenFang commented on #50
@gengjiawen, I will. Sorry for making this feature delay

[2016-11-28 13:16] AllenFang commented on #838
@rahul1059, ok, I''' check this out. could you describe your steps?  I guess you remove ```react-bootstrap-table``` firstly and install it again?

[2016-11-28 14:23] HotlineDanger commented on #858
@AllenFang just tried the beta version, that works. Way better without these extra dependencies. Thanks

[2016-11-28 14:24] AllenFang commented on #858
@HotlineDanger, good job, you can still use ```v2.6.0``` but just remember to add both dependencies, because version 3 is under beta, is not stable. :+1:

[2016-11-28 17:51] hermanfenderson commented on #516
@spetex did you find a solution in the end? I am facing quite a similar problem and a hint could be great...

[2016-11-28 18:25] lukateake opened #861 "Install fails in restricted network environment (proxied npm registry)"
@AllenFang, by [adding a dependency](https://github.com/AllenFang/react-bootstrap-table/blob/master/package.json#L70) to an unreleased version, our install fails in a network restricted environment.

Please see this NPM post on how to deal with this issue:
http://blog.npmjs.org/post/145724408060/dealing-with-problematic-dependencies-in-a

[2016-11-28 19:37] UX-Unicorn opened #862 "Module not found D:\Users\nrabbitt\WebstormProjects\search copy\node_modules\react/lib/ReactDOM"
I updated to 2.6.0 and am using react 15.4.1.  When webpack tries to bundle I am getting the following error.  Can anyone please help me with this?  If you need more information let me know. Thank you in advance.

ERROR in ./~/react-bootstrap-table/~/react-toastr/~/react-dom/index.js
Module not found: Error: Cannot resolve 'file' or 'directory' D:\Users\nrabbitt\WebstormProjects\search copy\node_m

[2016-11-28 21:22] hermanfenderson commented on #860
I made it work... but I am not too proud of my workaround... I wrapped your component like this:

import React from 'react';
import ReactDOM from 'react-dom';
import {BootstrapTable, TableHeaderColumn} from 'react-bootstrap-table';

class GestioneBolla extends React.Component {
componentDidMount()
  {
  	  this.node = ReactDOM.findDOMNode(this.refs.bsTable).childNodes[0].childNodes[1];
  }

  comp

[2016-11-28 21:28] edulis8 commented on #824
Hi Allen,
I am trying that solution, but it is not working. I can still edit the rows that should be uneditable.

See following code.

cellEditProps.nonEditableRows returns ["2", "3"]. My data set (this.props.sublistData) has four rows, their key is called "index." Rows with index 2 and 3 are still editable.

    const cellEditProps = {
      mode: 'click',
      blurToSave: true,
      beforeSave

[2016-11-28 22:25] udalrich commented on #789
Did you mean `bootstrapjs` as a dependency?  I already had

    "bootstrap": "^3.3.7",

in my dependencies.  I could not find `bootstrap.js` and adding `bootstrapjs` did not help.

My full dependencies are

    "dependencies": {
    "atmosphere": "0.0.2",
    "atmosphere.js": "^2.3.2",
    "babel-plugin-transform-object-rest-spread": "^6.16.0",
    "babel-preset-es2015": "^6.18.0",
    "babel-pres

[2016-11-28 23:51] AllenFang commented on #751
I think it should not be default, but you can make it available by a bool props.

[2016-11-28 23:54] AllenFang commented on #860
@hermanfenderson, I'll find the solution, and take your example as workaround is good currently.

[2016-11-28 23:58] AllenFang commented on #861
@lukateake, it’s typically only used temporarily while a maintainer waits for an upstream fix to be applied and published.  that's the reason that I use git dependency. check #838

Anyway, I'll check this out. Thanks.

[2016-11-29 01:39] TechnicalBro commented on #779
Despite bootstrap 4 being alpha I'm a bit bold, so I'll be working on a patch / hack to support it until release.
Will edit this comment with a link and be submitting a PR as soon as It's complete. Or Functional :)

[2016-11-29 04:06] rahul1059 commented on #838
@AllenFang  I did following steps.

- Removed react-bootstrap-table and installed v2.6.0.

- Removed node modules and re installed everything with react-bootstrap-table v2.6.0

Both of these throwing same error.

[2016-11-29 08:39] spetex commented on #516
@hermanfenderson We decided to take a different direction in our company and since the customer wanted far more stuff in the table we decided to create our own implementation. Unfortunately we write software on contract and I cannot publish the source. :-(

[2016-11-29 10:22] Draccan commented on #505
I have this problem too!

[2016-11-29 11:22] Draccan commented on #505
Ok, I have solved the problem.

The main problem was:

 I had React: "^15.2.3" as a dependency in my package.json, but my react-bootstrap-table: "^2.5.3" has in his package.json: "react": "^0.14.3 || ^15.0.0".
So node was downloading and including with webpack two versions of React. The first specified in my package.json and the React 15.0.0 because of React Bootstrap Table.

I have solved the pro

[2016-11-29 12:27] rasmuslundberg opened #863 "BUG: invariant.js:38 Uncaught (in promise) Error: addComponentAsRefTo(...): Only a ReactOwner can have refs. You might be adding a ref to a component that was not created inside a component's `render` method, or you have multiple copies of React loaded"
Im getting this error message,

[code]
react-bootstrap-table has worked perfectly until all of a sudden this appeared. I have tried to alias. Im using:
"react-bootstrap-table": "^2.6.0",

Also using webpack, tried:
  resolve: {
    alias: {
      'react': path.resolve(__dirname, '../node_modules/react')
    },
    extensions: ['', '.js', 'jsx']
  },
..But that didn't help.

Based on the error mess

[2016-11-29 12:43] rasmuslundberg commented on #863
An update, the subpackage react-toastr has another version of react than i use, this causes a crash that makes my app unusable... How can i prevent this?

[2016-11-29 13:31] AllenFang commented on #862
hi @UX-Unicorn, could you remove node_module and install again?  it may related with #838

[2016-11-29 13:41] AllenFang commented on #824
@edulis8, I cant reproduce this issue, please make sure you dont have any mistake. And actuallt, the ```nonEditableRows``` accept a callback function instead of an array or expression

[2016-11-29 13:45] AllenFang commented on #789
@udalrich, check http://getbootstrap.com/getting-started/#download, I means
[code]

BTW, you can try ```v3.0.0-beta.2```, after v3.0.0, I remove the ```bootstrap.js``` and ```jQuery``` dependencies from this project. But currently, this beta release is not stable but you can give it a try.

Anyway, before ```v.3.0.0```, you should add ```bootstrap.js``` and ```jquery``` as your dependency

[2016-11-29 14:44] AllenFang commented on #863
Check #838 and [this](https://github.com/AllenFang/react-bootstrap-table/blob/master/package.json#L70)

Cause of ```react-toastr``` have some issue on ```react@15.4.x```, so I fork it and restricts its react version as less than ```15.4.x```.  it's a workaround for now. BTW what's the version of react and when did you got this error message?

[2016-11-29 20:10] edulis8 commented on #824
Hi Allen,
I changed nonEditableRows so it accepts a callback function, like this:

    const cellEditProp = {
      nonEditableRows: function () {
        return this.props.sublistData && this.props.sublistData.filter((d) => {
          return !!d.purchase_order;
        }).map(d => d.index);
      }.bind(this),
    };

And cellEditProp.nonEditableRows()); returns ["2", "3"]

Still I can edit the

[2016-11-29 20:33] qiusli opened #864 "get row and cell attribute from a customized cell"
I have a table with multiple rows and in each row I have a customized cell element using dataformat, within that cell is a button. What I want to achieve is when I click on the button for a particularrow, I can also get the corresponding row/cell information. But what happens now is when I click on one of the button I get all rows' information (not actually the one I clicked on). I know I can achi

[2016-11-29 21:15] musbaig commented on #863
Hello: I'm seeing this error also. Interestingly enough it only showed up after we deployed our code to AWS, thus, adding some real testable latency to everything. Not seeing the issue locally, which is odd. Btw, I have `react-toastr` v2.8.2 installed as well.

[2016-11-29 21:23] musbaig commented on #863
Update: so I removed `react-toastr` entirely from my app, since I didn't need it just yet, and redeployed, but, still seeing the same error, which is making the app unusable.

[2016-11-29 21:31] musbaig commented on #863
Update 2: @rasmuslundberg rolling back to v2.5.9 will resolve the issue for now.

[2016-11-29 21:58] hermanfenderson commented on #860
@AllenFang sounds great. I appreciate that...

[2016-11-29 21:58] hermanfenderson commented on #516
@spetex ok! Thank you anyhow...

[2016-11-29 23:19] qiusli opened #865 "dynamically refresh unselectable list does not reflect on the table"
I have a table and a button, user can select a row and click the button to submit a request. I want that row to be disabled for selection thereafter. I found a attribute in called unselectable and the value of it is a list which grows dynamically each time user submit a request for a row. I also did a refresh (this.setState) after the submission, but the row was not disabled after that. Any sugges

[2016-11-29 23:46] edulis8 commented on #824
Hi Allen,
I implemented your example code for this, but I can still edit the Product Price for Product IDs < 3. See screenshot:

[2016-11-30 00:54] AllenFang commented on #824
I think maybe this is the root cause for why you can still edit the cell. I'll check this out.

BTW, for the editing level, I think the cell level should greater than row level, so if you set ```editable={ true }``` on the column, which should be edited no matter what's condition for row level

[2016-11-30 00:59] AllenFang commented on #863
@musbaig, what's the version of your ```npm```. I'm also Interesting that you still encounter the error after uninstall ```reat-toastr```.

In you local development, did you remove the ```node_module``` dir and install all again?

[2016-11-30 01:39] SntsDev commented on #690
The problem is that the div with 0.5 opacity is being **appended at the end of the body**, while the **modal** is somewhere **before** (in the table) => That is why the order switches.

If you need a quick solution do the following: Add a CSS rule to hide that last div.

[code]

[2016-11-30 02:24] rasmuslundberg commented on #863
Hi!

@AllenFang im running react 15.4.0, i got this message in out prod and test environments but not locally. Just as you @musbaig... i rolled back immidiatelly. Thank you for the Quick response!

[2016-11-30 05:19] AdeelK93 commented on #825
Updating to the newest npm fixed the problem, my mistake!

[2016-11-30 05:19] #825 closed

[2016-11-30 11:35] SntsDev commented on #690
The problem is that the div with 0.5 opacity is being **appended at the end of the body**, while the **modal** is somewhere **before** (in the table) => That is why the order switches.

If you need a quick solution do the following: Add a CSS rule to hide that last div.

[code]

[2016-11-30 13:09] AllenFang commented on #779
@TechnicalBro, thanks for contribution :)

[2016-11-30 13:11] AllenFang commented on #505
@Draccan, that's a good feedback.

[2016-11-30 13:22] AllenFang commented on #864
I'm not sure what' you want actually, but this [example](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/column-format/react-column-format-table.js#L32) is that a ```dataFormat``` will pass ```cell``` and ```row``` as arguments to your customization function.

So if you want to get the cell data when you click a button in a cell, I think you can set a attribute on that b

[2016-11-30 13:22] #864 closed

[2016-11-30 13:28] AllenFang commented on #860
One question, scroll to the end of that table, I wanna know the actual position that you want to scroll

[2016-11-30 13:32] AllenFang commented on #863
@rasmuslundberg, what's the npm version you used? And because I test it on my local, it's all fine. Currently, there's only one known bug is that if you use ```npm@2``` and ```react@0.14.x``` will throw some error messages when webpacking, see https://github.com/AllenFang/react-bootstrap-table/issues/838#issuecomment-263470839

BTW, if you can, please tell the your npm version, react version, your

[2016-11-30 13:48] luisfuertes commented on #495
Im seing `remote-paging.js` example, but dont know how could implement it.

[code]

With `import { BootstrapTable, TableHeaderColumn, RemotePaging } from 'react-bootstrap-table';`

It should works? Can you give me a working example? Thanks!

[2016-11-30 15:13] AllenFang commented on #838
@rahul1059, I can reproduce it on ```npm@2``` but not in ```npm@3```. I'm still figure why in ```npm@2``` the ```react-toastr``` which installed with ```react@15.4.1``` instead of ```react@15.3.2```.  The problem still remain even I set perrDependencies like https://github.com/AllenFang/react-toastr/blob/test/react-version/package.json#L90

[2016-11-30 15:28] Serenya commented on #497
Hi Allen,

I am a newbie with react/redux frameworks, but the way you've implemented table functionality based on components I like very much!
The feature that might be useful for others is to let edit functionality be not only in cell mode but in modal popup window as well, similar to custom insert modal. The insert/edit forms might be complex and not all its data may be displayed in the table vi

[2016-11-30 16:14] musbaig commented on #863
@AllenFang I'm running `npm@3.10.9` and `react@15.4.1` in my aws deploy. Not much I can add in terms of reproducibility, I have a basic table, starts with empty data array that is later populated with real data via api call, that's it really. Table is basic, no components embedded in any of the cells. Incidentally, locally I'm using `npm @3.10.3` and `react@15.4.1`.

[2016-11-30 16:35] oaverkov commented on #656
Hello,
Having same thing, just starting and running into same errors.
What did you do to fix this issue?

Thank you

[2016-11-30 19:02] hermanfenderson commented on #860
Up to the last row of the table...(cannot scroll any further)

[2016-12-01 09:07] AllenFang commented on #865
@qiusli, I'll check this out, anyway, simply to said, if unselectable changed, the ```react-bootstrap-table``` does not take the newest unselectable value?

[2016-12-01 09:12] AllenFang commented on #865
is same as https://github.com/AllenFang/react-bootstrap-table/issues/670?

[2016-12-01 09:27] AllenFang commented on #495
hello @luisfuertes, sorry for lately reply. could you please describe your question that will helpful to me to help you?

Anyway, enable the ```remote``` prop which means you want to handle the data manipulation(ex: sort, insert, search, filter, pagin  etc.) on your server or flux instead of ```react-bootstrap-table``` self. so the example mentioned before, is a simple example which we handle the

[2016-12-01 09:37] luisfuertes commented on #495
Thanks for answer.

Yesterday i try did it with this example: https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/remote/remote-store-paging.js

But after i found this other example ( https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/remote/remote-paging.js ) and i can do it works.

But i dont understand how can apply the first example in a real <Boo

[2016-12-01 11:28] AllenFang commented on #495
```RemotePaging``` is just only a wrapper for ```BootstrapTable```, so in the ```remote-store-paging.js``` we render ```RemotePaging```.

[2016-12-01 11:32] luisfuertes commented on #495
Oh ok, thanks for answer @AllenFang

[2016-12-01 20:59] bmueller-sykes commented on #831
You can do transitions with React Router v4 without `<Link />`:

https://github.com/ReactTraining/react-router/issues/4220

That might be a workaround here.

[2016-12-01 21:12] udalrich commented on #789
I switched to 3.0.0-beta.2 and it works for me.

[2016-12-02 02:33] AllenFang commented on #497
Hi @Serenya, thanks your advise, actually the editing mode in pop modal is requested before, I'll consider to add it. But for the term for **cell edit** which only update the cell instead of row, so in my opinion, it should be simply to implement on cell instead a pop modal. Anyway, you can use custom cell editing to achieve your requirement, check [example](https://github.com/AllenFang/react-boot

[2016-12-02 07:32] KalpanaPagariya commented on #497
Hi

Actually I am trying to use react bootstrap table with pagination. but
whenever page is resizing, the pagination box is coming on the table.
Please find attached screenshot.

Can you please help on this?
Below si my code:

  <div>
      <div  className="table-responsive" style={{height:'50%'}}>
          <BootstrapTable data={ products } striped={true}  pagination
={true}
                selec

[2016-12-02 12:21] AllenFang commented on #863
@musbaig, thanks, I'll check this out :)

[2016-12-02 13:08] AllenFang commented on #863
hi all, I've test on my local with ```react@15.4.1``` and ```react-bootstrap-table@2.6.0``` but I have no any error on webpacking or running. BTW, ```npm@3.3.2``` and ```node@6.0.0```

BTW, I just setup a simple react boilerplate and change react version as ```^15.0.0``` and add ```react-bootstrap-table```, finally run ```npm install```,
after installation, there's no any peerdependency are missin

[2016-12-02 19:09] reconSF opened #866 "Custom Search Toolbar Not Rendering my Custom Element, Uses Default."
Hello!

After trying many react datatables, I have decided that react-bootstrap-table is by far the best design, great work!  I'm experiencing some difficulties however.  I want to completely modify the table header so it renders a custom themed search bar and tool bar that matches my table styling.  Here is a screenshot of the expected end result:

![screen shot 2016-12-02 at 10 39 38 am](https:/

[2016-12-02 21:42] skrehnbrink commented on #331
The column unalign issue also occurs when in print preview from the browser

[2016-12-02 21:45] bmueller-sykes commented on #831
also, wouldn't this work:

`<TableHeaderColumn dataField='id' dataFormat={ this.colFormatter }>my header</TableHeaderColumn>`

...and then:

[code]

That appears to work for me.

[2016-12-03 14:51] AllenFang commented on #497
@KalpanaPagariya, this bug will be fixed after ```v3.0.0```. you can test it on ```v3.0.0-beta.2```. Let me know if problem still remain. Thanks

[2016-12-03 14:53] yjg159 opened #867 "Q: The data is not shown in the table when tablecolumn is not fixed"
when the tablecolumn is not fixed ,the data is not shown in the table, as shown below:
[code]
the result is :
![image](https://cloud.githubusercontent.com/assets/14847455/20860152/3e42eafa-b9ac-11e6-9482-efbd62bfdcec.png)

[2016-12-03 14:59] yjg159 commented on #867
![image](https://cloud.githubusercontent.com/assets/14847455/20860146/1dd28988-b9ac-11e6-9853-ce68624033d2.png)

[2016-12-03 15:01] yjg159 commented on #867
@AllenFang  how can i solve this problem?

[2016-12-03 15:15] AllenFang commented on #866
@reconSF, I'm not sure what the root cause, if a minimal and simple repo for me to reproduce it awesome. BTW, As your mentioned about your expected UI, I think you should customize the whole toolbar instead of search panel only. [Here](https://github.com/AllenFang/react-bootstrap-table/tree/v3.0.0-dev/examples/js/custom/toolbar) are few example. Sorry for it's on beta and less documentation. It's

[2016-12-04 07:27] AllenFang commented on #831
@bmueller-sykes thanks your finding. Open this issue if someone still have the same issue. Thanks

[2016-12-04 07:27] #831 closed

[2016-12-04 14:10] yjg159 commented on #867
ah , I spent a whole day tried many ways but failed, but in the end I still found the solution,
[code]
code like this will success, but I can't imagine what is the difference between these two methods?

[2016-12-05 10:36] mvamax commented on #710
Hi  if we use create-react-app what is the good way to include this in our project in order to resolve this issue?

i tried :
- npm install jquery --save and npm install bootstrap --save with no success.
- different ways with import but with no results.

I agree adding

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script> <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/

[2016-12-05 13:04] hctslm commented on #165
Hi

I am trying to add a custom filter with multiple selection like  excel checkbox filter for table header, So I am using bootstrap dropdown menu for styling, but it is behind the table body

I have tried the following code for header and body as well but it's not working
 .react-bs-container-body{
    overflow: inherit !important;
}
Can anyone give solution

Thanks in advance

[2016-12-05 17:23] UX-Unicorn commented on #862
That worked thanks

[2016-12-05 17:23] reconSF commented on #866
Thank you for the response Allen,

I was actually able to get it all sorted out with your 3.0 beta release!!

Though now, I'm running into an error on my custom search bar.  Whenever I enter a key in the search bar, I'm getting the following error in the console:

    "Uncaught TypeError: searchText.trim is not a function"

I've looked through the source code and found the trim function, it surely

[2016-12-05 18:10] tez123z opened #869 "Docs a bit off"
Docs using ReactBsTable instead of ReactBootstrapTable for export - maybe I'm missing something? Thought it was worth a note. thanks great component

[2016-12-05 18:52] allankikkas commented on #126
@tbaeg can you point out which parts of the table make sense to port to flexbox? I have hard time seeing any positive outcome from this regarding current setup. Bootstrap is not moving to flexbox regarding tables, it's just used where it makes sense.

[2016-12-05 19:07] neroleung commented on #763
I just ran into this issue in my project. Haven't had time to find out exactly why yet. But I have found a workaround. If you assign a ref to the table, you can do:

[code]

[2016-12-05 21:51] kaustav1992 opened #870 "Change data in table when changing pages"
Hi,

I was taking a look at your custom pagination hook out here http://allenfang.github.io/react-bootstrap-table/example.html#pagination

I do not want to load all my data onto my table when I load my page. So when I change pages, I want to use the onPageChange() hook and the load the data based on the page number and size per page. Is there an option where I can load the data such that it displa

[2016-12-05 23:58] AllenFang commented on #869
@tez123z, if you use the ```ReactBsTable``` as variable by require() instead of import, I think that's ok. Anyway, I'll fix it with a consistency. Thanks

[2016-12-06 01:52] AllenFang commented on #710
@mvamax, you can try ```v3.0.0-beta.2```, but it still unstable, check #497.  Anyway, I'm not sure the root cause, cause I haven't see any error message, in practice, it should work after you add ```bootstrap.js``` and ```jquery```.

[2016-12-06 01:54] AllenFang commented on #867
dont do that:
[code]

try following
[code]

[2016-12-06 01:55] #867 closed

[2016-12-06 02:00] AllenFang commented on #165
@hctslm, could you please open a new issue and I'll reply you. BTW, if a minimal and simple codes let me try it will be better :)

[2016-12-06 02:06] #862 closed

[2016-12-06 02:26] AllenFang commented on #866
HI @reconSF, could you see your code?  it maybe a bug or something you didn't know(missing document ;(

[2016-12-06 04:47] rahul1059 commented on #838
@AllenFang  Any update for npm@2?

[2016-12-06 04:56] hctslm opened #871 "Custom filter drop down menu having check boxes to allow the user to select multiple values in filter"
@Hi

I am trying to add a custom filter drop down menu with check boxes  as below in custom filter.

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><input type="checkbox" /><a href="#">HTML</a></li>
    <li><input type="checkbox" /><a href="#">

[2016-12-06 05:15] hctslm commented on #871
![capture](https://cloud.githubusercontent.com/assets/24388651/20913794/bae37fa2-bba0-11e6-85c3-8c30a0f9b789.PNG)

[2016-12-06 05:24] hctslm commented on #871
![capture](https://cloud.githubusercontent.com/assets/24388651/20914023/65f10d1e-bba2-11e6-8151-6b95b5231260.PNG)

[2016-12-06 15:41] reconSF commented on #866
Here is my app.js file

[code]

[2016-12-06 15:53] AllenFang commented on #763
@neroleung, could you please give me a minimal and simple code which can reproduce this issue? Thanks :)

[2016-12-06 15:58] AllenFang commented on #870
hello @kaustav1992, I think remote mode is what you want, check https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/remote/remote-paging.js and https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/remote/remote-store-paging.js

Let me know if you have any question :)

[2016-12-06 15:58] #870 closed

[2016-12-06 16:02] AllenFang commented on #838
Currently, I still figure out why, I know some solution, but no any solution is well. For now, after ```v2.6.0``` only ```react@0.14.x``` with ```npm@2``` still have issues. I'll keep to fix this remain problem. sorry for waiting a long time.

[2016-12-06 16:06] AllenFang commented on #871
Sorry, the links is broken.

[2016-12-06 16:15] AllenFang commented on #866
Thanks @reconSF, I'll check this out 👍

[2016-12-06 16:23] reconSF commented on #866
Great thanks for the assistance

[2016-12-06 19:22] qiusli commented on #865
@AllenFang Yes it is, I actually took a look at that question before making this post, but didn't find anything really useful there.

[2016-12-06 23:17] kaustav1992 commented on #870
Hi,

So I'm able to fetch my data for different pages based on the page number but my value in the paginator is not changing although I change the page option in table options.

<img width="249" alt="screen shot 2016-12-06 at 3 14 06 pm" src="https://cloud.githubusercontent.com/assets/7247658/20948097/1422c318-bbc7-11e6-8d83-82e204ddc36c.png">

[2016-12-06 23:22] kaustav1992 opened #872 "Remote Paging page change issue"
Hi,
 I'm able to fetch my data for different pages based on the page number and the code is reaching the onPageChange function and it modifies the page attribute in table options, but my value in the paginator is not changing although I change the page option in table options.

In the following screenshot, you can observe that I chose 3(page number), but 1 is still highlighted.
<img width="229" al

[2016-12-07 00:19] wy19900814 opened #873 "sizePerPageList Problem"
Hi Allen,

The sizePerPageList option didn't work for me. I know it is caused by I'm not including bootstrap.js
But as a react project, I really want to use npm to manage all files, so lets try to fix this bug.

I checked the element that affect sizePerPageList. It is in the picture below. There's a span called dropdown.
![screen shot 2016-12-06 at 3 59 48 pm](https://cloud.githubusercontent.com/a

[2016-12-07 05:57] hctslm commented on #871
bootstrap css drop down menu with check boxes inside list
http://www.w3schools.com/bootstrap/bootstrap_dropdowns.asp

[2016-12-07 09:11] caesarjuly opened #874 "Pagination: when I set the options, the first page and last page button disappear"
How to make them work as normal? Is there an option?

[code]

[2016-12-07 11:41] Ksushik opened #875 "Scrolling table rows with fixed header"
Hello, I can't find the way to make my react-bootstrap-table scrollable with fixed header, is it possible to configure such behaver? Thank's ahead

[2016-12-07 15:54] AllenFang commented on #865
Following is a minimal sample and it work,
[code]

So if a minimal and simple example which can reproduce this issue will be welcome.

[2016-12-07 16:01] AllenFang commented on #873
HI Yang

Include ```react-bootstrap``` cant solve this issue absolutely.

Currently, you should include ```bootstrap.js```, and I know it wired. So in ```v3.0.0```, I have plan to remove this dependency and I've done it on ```v3.0.0-beta.2```

so you can try the beta version for ```v3.0.0```, there're some developer already try this work without any ```bootstrap.js``` and ```jquery```.

BTW, ```v3

[2016-12-07 16:01] #873 closed

[2016-12-07 16:12] AllenFang commented on #871
ok, I'll check this out 👍

[2016-12-07 16:21] AllenFang commented on #872
@kaustav1992, could you please show your code?  I guess you dont set ```page``` in ```options``` props?!

[code]

[2016-12-07 22:54] neroleung commented on #763
@AllenFang, I was going to add an example in my fork in the gh-pages. But how did you pack thing into the `bundle.js` file? Webpack? Please let me know if there's any instructions around. Thanks!

[2016-12-08 02:07] AllenFang commented on #874
@caesarjuly, you assign a unknow sizePerPage as 20, but there no 20 in sizePerPage list default. The sizePerPage list default value is [ 10, 25, 30, 50 ], but you can custom it by ```sizePerPageList```.

Anyway, I'll find some solution to improve this condition

[2016-12-08 02:30] caesarjuly commented on #874
@AllenFang Thanks for ur quick reply. So by now if I want to make them work, I have to set the sizePerPage value in the sizePerPage list.
Let the two options be independent should be a better way :).

[2016-12-08 05:02] caesarjuly commented on #874
@AllenFang I try to set the options as u mentioned above. Nor does this work.
[code]

[2016-12-08 06:12] hctslm opened #876 "custom cell edit mode can we have on keyboard events like pressing 'tab' key 'enter' key"
I am having a requirement of table inline editing, I need to allow the user to edit row wise from one cell to other by pressing tab (and the previous cell content should be saved when user moved from one cell to another cell by pressing tab)

Is there any solution to add multiple event to
const cellEditProp = {
		  mode: ['click','keydown','keypress']
		};
If we achieve this it will a big help to

[2016-12-08 07:38] hctslm opened #877 "Programmatically enable custom editor to a cell"
While rendering data in table I am adding a custom editor to each cell based on its data type, but default they should be non editable mode,
var selectRowProp = {
                  mode: "radio",
		  clickToSelect: true,
		  onSelect: (row, isSelected,evt) => {
		  				if(evt.target.parentElement.nodeName =="TR") {
                                                      $(evt.target.parentElement).f

[2016-12-08 10:35] hctslm opened #878 "custom data attribute to table headers or table cells"
I want add a data-text="My own value" attribute to each cell or header for my reference to add some functionality.

How can I save my temporary data in table cell or headers, which can be used later

Thanks

[2016-12-08 12:12] hctslm opened #879 "Save data only on table in browser, not in the original data object"
Hi Allen,

I am using custom editor on each cell in my table to allow the user to modify the data,
OnBlur of my custom element I am calling updateData method to show the updated value in the browser

I will have a button **save to db** ,after clicking on that, I need to compare original values and the user modified values with proper validation and if he follows all the rules, then only I need to

[2016-12-08 13:15] hawker000 commented on #529
I've found this feature is implemented in `v2.4.2`.
See an example [here](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/selection/custom-multi-select-table.js).

[2016-12-08 15:04] AllenFang commented on #874
There's something wrong, I'll check this out. Thanks.

[2016-12-08 15:05] AllenFang commented on #875
HI @Ksushik, it's a default behavior, just you set the ```height``` on ```BootstrapTable```, if the data is too long, there's a scroll bar appear.  👍

[2016-12-08 15:05] #875 closed

[2016-12-08 15:07] AllenFang commented on #763
@neroleung, you just give me the code(Ensure it can reproduce this issue) and I'll pack it :)  You can also post here if it's very small and simple

[2016-12-08 15:57] AllenFang commented on #876
@hctslm, thanks for advice, I know this feature will be useful, but currently I have no much time to do this, so PR is welcome :)

If I have time in the future, I'll back to support this feature 👍
Thanks

[2016-12-08 16:28] AllenFang commented on #877
HI @hctslm, firstly, I would like to know how do you selection? User click the selection column? or you manage the selection state on your program?

Second, if you want to change the ```editable```, you can not change the dom attribute directly by javascript or jquery, you should use the way of React.

Third, you said, you want to make enable the custom editor after selection, but you need to enab

[2016-12-08 16:31] AllenFang commented on #878
hi @hctslm, You can use ```dataFormat``` to custom your column, but we cant apply custom attribute on header column. Anyway, why to want to attach some attribute on header column? what's your requirement??

[2016-12-08 16:39] AllenFang commented on #529
haha, yes, This feature has been supported, thanks @hawker000 your remind

[2016-12-08 16:39] #529 closed

[2016-12-08 20:00] reconSF commented on #866
Hey Allen, have you had a chance to look the "searchText.trim() is not a function" error yet?

[2016-12-09 03:22] DanielSmith opened #880 "an option for fixed/sticky table header?"
Am looking for an example that illustrates a fixed table header with react-bootstrap-table.  I'm surprised it is not an option (or is it, and I missed it?)  Just seeing if the option is there before I have to go to some pure css override route..

[2016-12-09 09:41] hctslm commented on #877
Hi,

Here I want to enable the cells of a row which user got selected, not column wise
Row wise ,means if the user selects first row I need to allow the user to edit only the first row columns or cells not in all the rows and columns

Row wise editing needs to be done instead of column wise

Provide if any solution is there for my requirement

Thanks,

[2016-12-09 09:44] hctslm commented on #877
As you said  this point
Second, if you want to change the editable, you can not change the dom attribute directly by javascript or jquery, you should use the way of React.

What is the way of React ? can you give any code to change editable feature programmatically

Thanks in advance

[2016-12-09 15:36] AllenFang commented on #866
@reconSF, check following:
[code]

There's support search field(**only input**) and search panel customization, you choose the ```searchPanel``` to custom, so ```getValue``` and ```setValue``` is useless in ```CyhyTableSearch```, they only work with custom search field.

Anyway, that's cause a unclear document, I'm work on it, sorry.
Let me know if you have any feedback for ```v3.0.0```

[2016-12-09 15:36] #866 closed

[2016-12-09 15:42] AllenFang commented on #879
@hctslm, you can integrate with flux(redux, mobx) and enable ```remote``` on ```BootstrapTable```, which means you need to control all the data change(ex: sorting, paging, updating, insert, delete etc) instead of ```react-bootstrap-table``` itself. In this mode, you can do anything on your program.

[2016-12-09 15:42] #879 closed

[2016-12-09 16:02] AllenFang commented on #877
@hctslm, how user to select row? click on row or only check the selection column?

[2016-12-09 16:07] AllenFang commented on #877
I'm not sure following code is that you want, it;s very extremely.
[code]

[2016-12-09 16:35] reconSF commented on #866
Fantastic!  Worked like a charm.  Thank you for providing such great dev support!

My only request for 3.0 is show/hide columns.  I've been working on my own  solution based off #299  @lcb's solution:

[code]
however, when using his code only the ID field has its state changed, and the checkbox's remain stuck in a "checked" state and cannot be toggled.  This issue is easily pointed towards `Object

[2016-12-09 22:41] cruz02148 opened #881 "New props doesn't trigger a full re-render"
Hello,

I have a simple two column table with the first column being radio buttons and the second being the name/label for these buttons. I looked through the examples to find a way to make a custom header so that when I enable the `selectRow` prop so I can have the header of the radio buttons say "Select One" because by default it is just an empty box.

So now my problem is that I want to be able

[2016-12-10 00:47] elosoman opened #882 "Question: updateData exception with custom editor"
I recently found your package ... kudos! Anyway I have a PriceEditor based on your example. I receiving this exception after the updateData call in the PriceEditor.

`Uncaught Error: Objects are not valid as a React child (found: object with keys {cost, players, hours, fixed, fixedPerHour, playerFixed, playerPerHour}). If you meant to render a collection of children, use an array instead or wrap t

[2016-12-10 01:58] robbieyng opened #883 "Space Between Table Head and Table Body"
I cannot figure out how to remove the space between my table head and the table body, or where it is coming from...It looks like it is a 20px bottom margin on `<table class="table table-hover table-condensed">`

![image](https://cloud.githubusercontent.com/assets/9204282/21070385/02fbb59e-be52-11e6-9788-04432a2248de.png)

![selection_018](https://cloud.githubusercontent.com/assets/9204282/21070267

[2016-12-10 10:36] cipulaida opened #884 "Add SerialColumn"
Hi,

Wondering how to add Serial Column on the table, just like SerialColumn class on Yii 2 GridView.

Any idea ?

[2016-12-12 09:23] droyuki opened #885 "Layout error while expanding row in table has hidden column."
This error occurs when we have a hidden column and expand row simultaneously.

In ExpandRow example, I add a hidden property in a Table Header Column:
 ``<TableHeaderColumn dataField='price' hidden>``
when we expand a row, hidden column will become a empty block just like the screenshot below:

![](http://i.imgur.com/r7cl4Xxr.png)

[2016-12-12 12:03] KalpanaPagariya commented on #497
How can I install this beta version using npm?

[2016-12-12 13:04] jamiguet commented on #838
@AllenFang Are the changes going to be proposed to upstream and integrated into a version?
I have the problem that I build without access to the internet, so I need full releases so that my local repo can download them.

Please advise on toastr releases that integrate the fix you need.

[2016-12-12 13:43] AllenFang commented on #880
hi @DanielSmith, sorry for lately reply, check #875.  It's actually not a options, in the default, ```react-bootstrap-table``` display all the data without fixed header, because ```height``` is auto by default. if you give a ```height``` the header will fixed when data is too long.

[2016-12-12 13:43] #880 closed

[2016-12-12 13:48] AllenFang commented on #866
@reconSF, the column toggle have some issues on implementation, but I forgot what's the problem actually, and I think your workaround is maybe well but just a little hacky ;), but it's fine. I'll spend some time to implement it again.

Thanks 👍

[2016-12-12 13:50] AllenFang commented on #883
@robbieyng, you forgot to include the css, the css files under [here](https://github.com/AllenFang/react-bootstrap-table/tree/master/dist). 👍

[2016-12-12 13:50] #883 closed

[2016-12-12 13:55] AllenFang commented on #881
hi @cruz02148, sorry for lately reply, I'll check this out.  Your explanation is very well. 👍

[2016-12-12 13:59] AllenFang commented on #882
@elosoman, sorry for lately reply, could you please show me your code? Thanks

[2016-12-12 14:01] AllenFang commented on #884
@cipulaida, sorry for lately reply

I'm not familiar with that, but I think if you data have no any column could be presented as key column, you can generate it by yourself, and you can hide it if you want.

so I wont support this feature if there're too many requests are like this one.

Thanks, feel free to discuss with me.

[2016-12-12 14:01] #884 closed

[2016-12-12 14:08] AllenFang commented on #881
I would like to know how you configure the ```selectRow``` on```BootstrapTable```, thanks :)

You mean you want to check the radio on header that you custom or in the columns in body?

[2016-12-12 14:20] AllenFang commented on #881
BTW, you said you use redux, and how did you tell the ```react-bootstrap-table``` which row is selected?

[2016-12-12 15:07] AllenFang commented on #871
@hctslm, this is because bootstrap select menu is hidden on DOM, if you tuning the ```z-index``` is always not working. There's only one workaround is tuning the hight of the wrapper for custom filter,  like following:
[code]

[2016-12-12 15:07] #871 closed

[2016-12-12 17:53] elosoman commented on #882
It is pretty much a clone of the PriceEditor example but with 4 states to compute the price.

`class PriceEditor extends React.Component {
  constructor(props) {
    super(props);
    this.updateData = this.updateData.bind(this);

    let type = 'fixed';
    let cost = this.props.row.cost;
    let players = this.props.row.players;
    let hours = this.props.row.hours;
    let fixed = this.props.ro

[2016-12-12 18:08] elosoman commented on #882
sorry ... that code block is ugly.

[2016-12-12 18:49] tplummerfni commented on #861
Second this.  We're running through a local NPM Registry.  Our build server does not have access to github.  I was under the impression that a Private Registry would cache even the git modules, but what appears to be happening is the client is ignoring the cached version and going for github.

[2016-12-12 20:55] neroleung commented on #763
@AllenFang, take a look at this https://neroleung.github.io/react-bootstrap-table/nero_examples.html. I re-used and just modified the remote-paging example a little bit. Notice the options - `page` is 2. The pagingation is at page 2 at the bottom. But the data being shown is page 1.

Similar situation happens if you ajax in the data, except that the pagination wouldn't point to page 2. Because by

[2016-12-12 21:20] jabberwo opened #887 "Row select without a radio button"
Be nice to have the single row select functionality w/o requiring a radio button.  I don't wish to have one in my design, just the selection background color.

[2016-12-12 21:30] DanielSmith commented on #880
thanks for following up.  Would be good to document that.

[2016-12-12 21:58] olegserov commented on #838
I had similar problem, what I did:
0. removed node_modules
1. installed npm3.
2. upgraded dependencies (see attached f
<img width="1002" alt="screen shot 2016-12-12 at 16 57 35" src="https://cloud.githubusercontent.com/assets/129835/21118491/1f3a0b66-c08c-11e6-8013-b589355bd5f5.png">

ile)
3. looked at npm3 list and found " ERR! peer dep missing" ... react-dom.
4. npm3 install react-dom react-over

[2016-12-12 23:52] AllenFang commented on #880
ok, got it 👍

[2016-12-13 01:10] droyuki commented on #887
render() {
      const selectRow = {
        mode: 'radio',
        bgColor: '#fefefe'
        hideSelectColumn: true
      };
      return(
        <BootstrapTable
          data={ data }
          selectRow={ selectRow }>
          //...
        </BootstrapTable>
      );
    }
you can set `hideSelectColumn: true` if you don't want to show a radio button.
[Here is the document](http://allenfang.

[2016-12-13 01:19] jabberwo commented on #887
Thanks!

Can you point me to doc for custom cell rendering, or whatever it's called do I can put an image in a cell and sort on a data value (that's also used to pick the image)?

Chuck

[2016-12-13 01:59] droyuki commented on #887
maybe you can use [dataFormat](http://allenfang.github.io/react-bootstrap-table/docs.html#dataFormat) to customize your data value.

[2016-12-13 04:02] jabberwo commented on #887
Thanks again!  I'll try that in the morning.  I didn't see that in my first pass through the doc.

Chuck

[2016-12-13 12:22] AllenFang commented on #885
@droyuki, thanks, I'll check this out !

[2016-12-13 12:28] AllenFang commented on #497
@KalpanaPagariya, ```npm install react-bootstrap-table@3.0.0-beta.2```

[2016-12-13 12:35] AllenFang commented on #838
@jamiguet, is this https://github.com/AllenFang/react-bootstrap-table/issues/861 ? we are solving it. Need some time, a lots of thing need to do. Sorry ;(

[2016-12-13 13:10] hctslm opened #888 "Select filter with multiple selection option"
Hi Allen

I need a column wise select filter, but it should allow the user to filter with multiple options
Can we have multiple=true and filter with multiple values at a time in select filter

So I am writing a custom filter with check boxes inside, for this I am using bootstrap drop down menu css, but as you said we need to give height to that div then only it will be visible. but it's not lookin

[2016-12-13 13:34] hctslm opened #889 "Can we have a resizable column when the user drag a particular column"
Hi Allen,

Is there any option to resize the column or row when the user do some action related to that

Thanks

[2016-12-13 15:03] AllenFang commented on #763
@neroleung, Actually, ```remote``` means you need to handle the data changing every time, so in your example, when you give page 2, you should give the data corresponding to page 2, for example,
page 1 > row 0 ~ row 4
page 2 > row 5 ~ row 9

Notice [here](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/remote/remote-store-paging.js#L30-L44), no matter page or sizePerPage

[2016-12-13 15:03] #763 closed

[2016-12-13 17:47] rrameshkumar76 opened #890 "Enhancement request for a way to indicate columns that are editable."
I tried to add an image to the column header to indicate that its editable. This renders as needed but does throw error below.

It only accepts strings as headers. Is there any other way to indicate that only particular columns are editable in the table column headers?

**Error Message:**
warning.js:36 Warning: Failed prop type: Invalid prop `columnName` of type `array` supplied to `NumberFilter`,

[2016-12-13 19:13] cheapsteak opened #891 "Support multiple rows (grouped) for table heads?"
Hi,

I really want this:

![image](https://cloud.githubusercontent.com/assets/743976/21154654/f4c8cdac-c123-11e6-8a9a-63f7cc18b9a8.png)

[code]

https://jsfiddle.net/1o6zmp9v/1/

When there are a lot of columns it is useful to be able to group them somehow

I don't believe this is currently possible?

[2016-12-14 06:25] KalpanaPagariya commented on #497
Still facing the issue with this version. pagination overlapping wit the upper table if minimized

[2016-12-14 07:48] AllenFang commented on #887
thanks your answer @droyuki !!

[2016-12-14 07:48] #887 closed

[2016-12-14 07:51] AllenFang commented on #888
yap, the best solution is that we support the multiple select filter, close this cause of duplicated with https://github.com/AllenFang/react-bootstrap-table/issues/832.

BTW, sorry for lately fixing, I'm busy on work, so PR is welcome 👍

[2016-12-14 07:51] #888 closed

[2016-12-14 12:56] jsangilve opened #892 "columnClassName attr is cleared when customEditor is enabled"
I noticed that using `customEditor` attribute of `TableHeaderColumn`, when a cell gets into edit mode (`customEditor` is enabled), the `<td>`s `className` defined by `columnClassName` attribute is cleared. Once the cell isn't being edited anymore, the className is restored.

[code]

Is there any way to keep the `className` in edit mode or pass a `className` to the `<td>` element when cell is in ed

[2016-12-14 13:20] hctslm opened #893 "row selection is not working with pagination"
Hi Allen,

I have pagination and row selection in my table, after going to some page ex 3 page when I select a row it giving me the previous record or previous row as selected, It's happening only some times when page is changed and selecting different rows in less span of time.

How can i fix this, it's an important fix need to be done from my end

Thanks in advance

[2016-12-14 14:13] hctslm opened #894 "how to increase width of row selection custom image cell"
Hi Allen,

I have replaced the radio button for row selection with my custom image. I need to increase the width of that cell, how can I do this

Thanks

[2016-12-14 15:26] #848 closed

[2016-12-14 15:26] #860 closed

[2016-12-14 15:28] AllenFang commented on #848
@mjmhall, released on ```v2.7.0```.

[2016-12-14 15:30] AllenFang commented on #860
hi, @hermanfenderson, fixed on ```v2.7.0```, check https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/basic/scroll-table.js#L25

the ```scrollTop``` props accept 'Top', 'Bottom' or a numeric value.

[2016-12-14 15:32] AllenFang commented on #861
Hi all, sorry for lately fixing.... Released on ```v2.7.0```, check this out, I've packaged the ```react-toastr``` as a scope module. Let me know if problem still remain. thanks

[2016-12-14 15:32] #861 closed

[2016-12-14 16:15] hermanfenderson commented on #860
Great!

[2016-12-14 16:48] mjmhall commented on #848
Hi @AllenFang
Thanks, all working as expected.

[2016-12-14 17:46] cruz02148 commented on #881
hi @AllenFang, thanks for responding! I actually ended up writing my own custom component table to serve my specific need, but I'll reply here to help out any way I can.

This was my `selectRow` props options object:
[code]
And to clarify your question "You mean you want to check the radio on header that you custom or in the columns in body?" -- Each row of the table will have a radio button in co

[2016-12-14 18:54] reconSF commented on #866
I read it had something to do with column widths not being right when toggled back but my implementation has not seen this issue.  Not sure if its something just working in 3.0 that im not aware of but either way, hacky but works!

[2016-12-14 19:34] elosoman commented on #882
Please forgive me for the nube question ... it looks as though this exception is being thrown in the dataFormat function on the table column. It would appear that when using the custom editor the row dataField value is an object containing the state of customEditor and not an atomic value. Sorry for the confusion.

[2016-12-14 19:34] #882 closed

[2016-12-15 07:50] jbrey opened #895 "Add ability to give a component to render the selection column (header and rows)"
Is it possible to add an option to give the renderer of the selection column. Indeed I have difficulty to style the checkboxes or radios (on IE and Firefox) because there's only an input without label (and these browsers don't allow :before and :after on inputs)

Giving the ability to render by ourselves these cells would give me the ability to apply our styles and also allow to add our accessibil

[2016-12-15 12:21] hctslm commented on #894
Hi Allen,

This is an important fix need to be done as soon as possible, please give reply

Thanks

[2016-12-15 13:05] AllenFang commented on #889
it's a duplicated issue, and there's two PR want to support this feature, but we still working. Thanks

[2016-12-15 13:05] #889 closed

[2016-12-15 13:08] AllenFang commented on #890
@rrameshkumar76, sorry for current newest version, you cant do it, we only allow you to add class on header. BTW, I wanna support to custom the header column in the ```v3.0.0```, there're some people also ask this issue, and we still working. Thanks

[2016-12-15 13:38] AllenFang commented on #891
sorry for lately reply, @cheapsteak, we currently not support this feature yet and there's a PR can fix it, check https://github.com/AllenFang/react-bootstrap-table/pull/748  but it still have a lots of bug need to fix...

[2016-12-15 13:52] hctslm opened #896 "Custom function before doing sorting,filtering and pagination"
Hi Allen,

I have a requirement that
When the user clicked on sort button to sort on a particular column or click on pagination to go another page or click select filter on a particular column, before getting changes in the table like sorting, pagination or filtering,  I need to check that whether it should be done or not for my condition and then only I need to allow the functionality

So how to

[2016-12-15 14:24] OlegVach opened #897 "Expanded rows problems"
I want expand row by clicking on icon, but when I cliked for another columns expand works too. How I can disable click for each columns exclude my column with icon??? I saw you delete  enableExpandRow props from component?

[2016-12-15 14:39] cheapsteak commented on #891
Ah, didn't realize there was already a PR for this. Awesome!

[2016-12-15 14:39] #891 closed

[2016-12-15 15:24] AllenFang commented on #497
@KalpanaPagariya, could you confirm that you use beta version for ```v3.0.0```? cause of I cant reproduce it.

[2016-12-15 15:36] AllenFang commented on #892
@jsangilve, I'll improve it, actually it's not lost or override the classname on editing, because it's different component between the normal cell and editing cell. There're some solution, but as my consideration, I'll prefer to add a new props called ```editColumnClassName``` to separate from the ```columnClassName```.

[2016-12-15 15:57] AllenFang commented on #866
@reconSF, if it really well, feel free to send a PR 👍

[2016-12-15 15:58] AllenFang commented on #891
@cheapsteak, that's fine, but it really need some time, so don't have much expectation ;(  But I'll work hardly to make this project being well.

[2016-12-15 16:16] jsangilve commented on #892
@AllenFang sounds good. Thanks for adding this feature!

[2016-12-15 16:54] rrameshkumar76 commented on #890
That would be awesome, Thanks for the response.

[2016-12-15 17:34] mvolkmann opened #898 "npm install fails due to non-public dependency"
I get the following error trying to run "npm install" in a clone of the master branch:

npm ERR! 404  '@allenfang/react-toastr' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it (or use the name yourself!)

[2016-12-16 00:43] AllenFang commented on #893
@hctslm, it wired that I never saw. Could you please show me how to reproduce it?  and give me a minimal and simple code. Thank you

[2016-12-16 00:48] AllenFang commented on #881
@cruz02148, really thank your description, that's enough to me and I'll figure out what's going on.

[2016-12-16 00:57] AllenFang commented on #897
where?

The click event for expandable row is not restricts on any column, is on the row. And you said you click a icon for expanding a row, but where's the icon?  in your custom column?

[2016-12-16 01:00] AllenFang commented on #895
hello @jbrey, check this [example](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/selection/custom-multi-select-table.js). Let me know if you still have question.

[2016-12-16 01:00] #895 closed

[2016-12-16 03:30] longsangstan commented on #505
I had the same problem too for 3.0.0 beta.
I faced the issue when I used react router to render my table.
But I have no idea how to reproduce the bug - I re-install again and the bug is gone. Strange.

[2016-12-16 07:56] OlegVach commented on #897
Sorry, I don`t saw that is not you page https://github.com/droyuki/react-bootstrap-table/commit/6d898b9b0942155e3ca4ab8b95ddcf8a1dfc01fd

Yeah I have icon in my custom column.
![1](https://cloud.githubusercontent.com/assets/17565510/21255655/e79272b0-c375-11e6-9fc0-e0753db29477.png)

[2016-12-16 08:02] droyuki commented on #898
If you use windows, your cmd environment must be able to run git command.
you can use Git bash to run npm install.

[2016-12-16 08:27] jbrey commented on #895
I didn't find this example... It should be ok then.
Thanks

[2016-12-16 12:10] mvolkmann commented on #898
That's not the issue. I'm on a Mac and I use git daily. Isn't the issue that @allenfang is a private git repo that I can't access?

[2016-12-16 16:58] jcavandoli commented on #898
I'm facing the same issue since this [commit](https://github.com/AllenFang/react-bootstrap-table/commit/d652fca2c5dc68217caf33a4b4abaa71d955f160)

Looks like the react-toastr is set as a scope module, but maybe not published to the npm registry with the  [public access settings](https://docs.npmjs.com/misc/scope#publishing-public-scoped-packages-to-the-public-npm-registry)?

[2016-12-17 01:51] raphaelfabeni opened #899 "Questions: select all items (from all pages) even after filter?"
Is it possible to select all items (from all pages)? Like if I have 100 items with 4 pages with 25 items each, if I select all, the 100 items are marked as selected.
And also, if I type something to filter the table, and I click to select all, could I have the same behavior (select all the items, but now the filtered items)?

I searched some issues but I did not find about something them.
Thanks,

[2016-12-17 05:27] AllenFang commented on #894
@hctslm, it's impossible for increase the width of selection column, we only support the customization for the inside of selection column. But ad my consideration, I think you can try to control the width by your css.

[2016-12-17 05:27] #894 closed

[2016-12-17 05:41] AllenFang commented on #896
@hctslm,
for sorting: ```onSortChange``` in ```options``` props, check [this](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/sort/sort-hook-table.js#L33)

for selection: ```onSelect``` in ```selectRow``` props, check [this](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/selection/select-validation-table.js#L43)

for filter: check [this](https

[2016-12-17 05:41] #896 closed

[2016-12-17 05:52] AllenFang commented on #897
@OlegVach, I'll find the solution for triggering expandable row by specified column. Anyway, you icon column is the customization from selection column?, could you please show me your code?
Thank you

[2016-12-17 06:11] #859 closed

[2016-12-17 06:12] AllenFang commented on #865
@qiusli, any update?

[2016-12-17 06:14] AllenFang commented on #872
any updated?

[2016-12-17 06:57] AllenFang commented on #874
@caesarjuly, sorry for my misunderstand, as I know, there's no any issue there, if you dont see the first and last page, which means the pagination list include all the page number, for example:

you have 70 rows and 20 as your size per page, so you you will see four pages: 1, 2, 3, 4
like you configuration, you configure ```paginationSize``` as 6, but only for page here,
which means we dont need

[2016-12-17 06:57] #874 closed

[2016-12-17 07:00] AllenFang commented on #874
BTW, if you use ```v3.0.0-beta.3```, we support ```withFirstAndLast``` in ```options``` props, if you give true, the first and last page always show no matter the first and last appear on pagination list.

But this version still on beta, maybe a little unstable. 👍

[2016-12-17 07:11] AllenFang commented on #898
@jcavandoli, I published the npm registry with public access. I'll found the problem, there's a workaround that you can replace
```"@allenfang/react-toastr": "2.8.2"```
as
```"react-toastr": "git+https://github.com/AllenFang/react-toastr.git"```
It's a workaround that allow you can run locally.

it's my scope module: https://www.npmjs.com/package/@allenfang/react-toastr

Anyway, I'll try to figure

[2016-12-17 07:14] AllenFang commented on #898
BTW, what's the version of ```npm``` and ```node``` in your local?

[2016-12-17 07:41] AllenFang commented on #881
@cruz02148, I have another question at below:

As I guess, you save the row that user saved in the redux store, and populate these saved row into component and make these row as selected on table, right?

so my question is , how you make these row as selected on table? you should use ```selected``` in ```selectRow``` props, but I don't saw it.

Anyway, because I've no idea about this issue, so cou

[2016-12-17 21:52] cruz02148 commented on #881
@AllenFang I'm working on trying to reproduce the error, but in doing so I think that there is a solution for my problem already. You led me back to trying the `selected` attribute in `selectRow` so I'm trying to use that. However, I can't get the `selected` value to work.

I have a table 3 rows. and 2 columns. The first column is a radio input and the second column is the name of the radio button

[2016-12-18 01:36] qiusli commented on #865
@AllenFang sorry for the late response. I was adding row1, row2 instead of 1, 2 into the array which caused the problem, so everything's actually fine it is my way of using it is wrong. thanks.

[2016-12-18 05:54] AllenFang commented on #881
ok, I think I can close this issue, but if you still have any problem, please let me know :)

BTW, the ```selected``` accept a array which should contain the rowKey, so if you have time, you can give a try!

[2016-12-18 05:54] #881 closed

[2016-12-18 08:03] #885 closed

[2016-12-18 08:03] #890 closed

[2016-12-18 08:03] #892 closed

[2016-12-18 08:03] #897 closed

[2016-12-18 08:05] AllenFang commented on #897
@OlegVach, check ```v2.7.1```, the expand row trigger by column is supported, https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/expandRow/expand-row-by-column.js#L74-L84

Let me know if you still have question.

[2016-12-18 08:10] AllenFang commented on #890
@rrameshkumar76, I add a new props called ```headerText```, if the child in ```<TableHeaderColumn>``` is not a pure text, please add ```headerText``` props on ```<TableHeaderColumn>``` for describing this column!

for example, this is a simplest case:
```<TableHeaderColumn dataField='price'>Product Price</TableHeaderColumn>```

if a DOM or JSX in ```TableHeaderColumn```, you should give a ```heade

[2016-12-18 08:15] AllenFang commented on #892
Fixed on ```v2.7.1```, check [this](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/style/edit-td-class-table.js#L32) example 👍

[2016-12-18 08:15] AllenFang commented on #885
Fixed on ```v2.7.1```

[2016-12-18 19:50] cruz02148 commented on #881
@AllenFang so I tried using `selected`, but it doesn't seem to work when also using the `customComponent` attribute in `selectProp`. I tested this out with my own code and confirmed this. Is there another way to use `selected` when combined with `customComponent`?

So I tried accomplishing my goal a different way... by setting the `checked` value of the input inside my `customComponent` function a

[2016-12-19 09:38] Serenya commented on #497
Hi @AllenFang

Recently I've noticed that another release 3.0.0-beta3 had been released. And I am curious why for this release there are no InsertModal.js, InsertModalBody.js and other files related to the popup that appears on insert action under src/toolbar folder? At the same time all of them are there for the release 3.0.0-beta2.

[2016-12-19 10:24] TejashreeD commented on #379
Any updates?? Need Help

[2016-12-19 11:12] OlegVach commented on #897
Yeah, this resolve my problem, thank you =)

[2016-12-19 12:02] AllenFang commented on #881
I'll run your code in my local and try to figure out what's happening, thanks your effort!

[2016-12-19 12:43] AllenFang commented on #899
@raphaelfabeni, sorry for lately reply, what's the ```react-bootstrap-table``` version you uesd? Because I remember the select all behavior changed at before.

[2016-12-19 12:51] AllenFang commented on #899
BTW, for your first requirement, you can check [this](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/selection/all-select.js#L29) out.

[2016-12-19 12:56] #899 closed

[2016-12-19 12:57] AllenFang commented on #899
Let me know if you still have any question 👍

[2016-12-19 13:10] AllenFang commented on #516
Fixed on ```v2.7.0```. check https://github.com/AllenFang/react-bootstrap-table/issues/860#issuecomment-267064087

[2016-12-19 13:10] #516 closed

[2016-12-19 14:42] raphaelfabeni commented on #899
Hey @AllenFang ! No problem..
You answered really fast. I'm using the version _2.5.3_.
And what you sent, it worked for me.

Again, THANKS!
🤘

[2016-12-19 14:44] rrameshkumar76 commented on #890
Thanks for getting this added so quickly. For now i am unable to use this because of facin issue(npm ERR! 404 '@allenfang/react-toastr' is not in the npm registry.).
I do see open issue mentioned in https://github.com/AllenFang/react-bootstrap-table/issues/898

[2016-12-19 14:52] rrameshkumar76 commented on #898
I am facing the same issue. My npm version is 2.15.1 and node version is 4.4.4

[2016-12-19 14:57] AllenFang commented on #881
BTW, following are a little example for ```selected```
https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/selection/default-select-table.js
https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/selection/externally-managed-selection.js

[2016-12-19 15:08] AllenFang commented on #881
ok, I understand what's the problem you encounter, I think I need to setup an environment to reproduce this issue, so this will take some time

[2016-12-19 15:18] jcavandoli commented on #898
My npm version: 3.10.6, node version: v4.4.7

[2016-12-19 23:35] venkat-vs-id opened #901 "Totals and sub-totals"
Hi Alan,

This is a great utility and  would be nice if we are able to get the totals and sub-totals based on our definition. Is there any workaround or trick by which we can get that?

[2016-12-20 11:37] hctslm opened #902 "An option for select or custom filter functionality on button click by expose API similarly like sorting"
Hi Allen,

You have given sorting with button click explicitly, same way can I need to do custom filter functionality on button click which is on top of table and I need to do that for multiple columns simultaneously, with custom filter

Is it possible? Please give reply as soon as possible

Thanks in advance

[2016-12-20 13:17] evladik opened #903 "Uncaught Error. Multiple key column be detected in TableHeaderColumn"
mistake

[2016-12-20 14:45] AllenFang commented on #898
ok, actually, I guess this should not the problems of npm or node. and all you guys facing this issue when running ```npm install``` in the clone of ```react-bootstrap-table```?

[2016-12-20 14:54] AllenFang commented on #497
@Serenya, sorry for making a mistake, I've released https://github.com/AllenFang/react-bootstrap-table/releases/tag/v3.0.0-beta.4

[2016-12-20 15:00] AllenFang commented on #379
There are two PR is opend, but still have some issue we need solve first and I also want to find a best solution for resizing. Sorry for I can't give any promise for when I can got this job done.

[2016-12-20 15:10] AllenFang commented on #901
There's a PR is for support a table footer, but there's some bug so I still wait the creator to fix this issue, actually, I think there's no any good workaround to solve this issue, but I can support a simple table footer in recently. Anyway, you can describe your requirements detail, I'll consider to add them in near future.

[2016-12-20 15:20] jcavandoli commented on #898
Yup, just tried with a fresh clone of the repo and still got that no such package available error.

[2016-12-20 16:50] Ethaan commented on #569
just wondering, its possible to search everything inside an object?

taking as an example i have this data

[code]

its possible to search over the whole `profile` object?

[2016-12-20 16:52] doshisunny commented on #898
I am also getting error '@allenfang/react-toastr' is not in the npm registry.' on npm install in my project.
I have "react-bootstrap-table": "2.7.1" in package.json

[2016-12-20 17:04] vcarnogu opened #904 "Size per page drop-down menu doesn't open unless you include jquery and bootstrap.js"
I struggled to get the page size drop down menu working. It didn't response to clicks although I could see the menu items in the DOM. The `display` on the drop downmenu `ul` element is not set to `block` when clicked.

Then I looked at the examples folder and I noticed that you include following scripts:

       <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
       <script src=

[2016-12-20 18:03] jcavandoli commented on #898
From the npm [doc](https://docs.npmjs.com/cli/install), if you omit the @ of the scope name, npm will fetch the module from github. It can be a workaround but not sure it's the proper way to fix that.

[2016-12-20 21:46] #903 closed

[2016-12-21 12:12] hctslm commented on #902
handleBtnClick = () => {
    this.refs.nameCol.applyFilter('[name]');
  }
with this, able to filter with a value programmatically on a cloumn, but I need to filter this with multiple values, is it possible

Thanks in advance

[2016-12-21 16:10] AllenFang commented on #569
@Ethaan, currently, we only handle the search on a property.

[2016-12-21 16:16] AllenFang commented on #904
@vcarnogu, sorry for undocument, as my consideration at this project began, I only focus on react development and I decide to let user to choose their bootstrap version and include them, becuase I dont want to depend bootstrap directly in my project. so you can choose any version of bootstrap with ```react-bootstrap-table```.

BTW, this both dependencies is also noisy for developer, so I've remove

[2016-12-21 16:16] #904 closed

[2016-12-21 16:25] vcarnogu commented on #904
Yup, thanks. I wanted to get rid of jQuery,

[2016-12-22 15:40] jflayhart opened #905 "Clickable element within a cell cannot work while onRowClick is active"
For example, I have a href for one of my username cell, which goes to that user's page. But clicking on the entire row takes you to another page. The problem is that if you click on the username, the row clicl event bubbles up and therefore clicking on a user takes you ultimately to the page that the row click event would take you to. Essentially, the onRowClick event is taking over and I have los

[2016-12-22 15:46] jflayhart commented on #905
One thing might be nice to allow the cell object in onRowClick to be accessible, instead of only allowing access to the row object. This way, if a particular cell was clicked (e.g. username cell) for the rowClick event, then the onRowClick callback would not complete for that cell.

[2016-12-22 16:08] erezre opened #906 "selectedRowKeys return wrong selected values"
Hi,

I'm trying to get the rows been selected by the selectedRowKeys attribute.
It's all work good when checking the rows, but unchecking one of them doesn't remove it from the selectedRowKeys list.

I'm using the onSelected: attribute to print selectedRowKeys values for both check and uncheck.

I think I'm using the last version cause I preformed my npm install 3 weeks ago.

Thank you!
Erez.

[2016-12-22 22:39] hwaterke commented on #901
This would indeed be a great feature.
Could be a footer or a custom component that can be provided.
The idea would be to have access to the rows currently shown (with filtering/paging/searching/sorting taken into account) so that we could add relevant information for those rows e.g. a total

[2016-12-23 04:17] singhba opened #907 "Override table to render <div>instead of <table><tr><td>"
Is it possible to override the rendering to use <div> instead? We are looking for better responsive experience for mobile view. Want to use CSS3 flex and div.

[2016-12-23 05:55] owen-TCM opened #908 "SyntaxError: import is a reserved identifier"
When I use import {BootstrapTable, TableHeaderColumn} from 'react-bootstrap-table',
I get the "SyntaxError: Import is a reserved identifier" on firefox in my bundle.js output file when I use webpack.

[2016-12-23 09:29] caesarjuly commented on #874
@AllenFang
![screen shot 2016-12-23 at 5 26 56 pm](https://cloud.githubusercontent.com/assets/927521/21450806/0c13d7f4-c935-11e6-9e43-db314713674e.png)
As the picture shows above, there are hundreds of pages in my pagination. However, the first and last page don't appear. My configure is the same as I mentioned before.
My version is v3.0.0-beta.2. Can u show an working example for me, thank u very

[2016-12-23 14:39] AllenFang commented on #902
could you please show me a real case or example?

is that means you want to filter a column with multiple value? <<  I think it's impossible but maybe you can achieve with ```remote``` mode

[2016-12-24 05:22] AllenFang commented on #905
@jflayhart, sorry for lately reply, could you please show you username cel or your codel, did it use the ```dataFormat```?

[2016-12-24 05:31] AllenFang commented on #905
BTW, @jflayhart, what's the version of ```react-bootstrap-table``` you used?

[2016-12-24 05:41] AllenFang commented on #906
if you get the ```selectedRowKeys``` in the ```onSelected``` function, you should always got the previous one ```selectedRowKeys```. Because ```onSelected``` function being called before apply the check\uncheck

[2016-12-24 05:41] #906 closed

[2016-12-24 05:48] AllenFang commented on #901
ok, I will

yap, it should be provided

I prefer to support this feature on ```v3.0.0```, but will step by step, I've no many time to work on it, so it really need some times.

Finally, PR is welcome :)

[2016-12-24 05:58] AllenFang commented on #907
@singhba, it's good to listen a better responsive experience for mobile view, so PR is welcome, but actually, I dont want to lost too many functionality(compatibility is very important).

Anyway, is that you already have a implementation or plan on responsive desgin?

[2016-12-24 06:02] AllenFang commented on #908
hi @owen-TCM, you need to think why you still get ```import``` error after webpacking, you should use babel or other es6 transpiler to transform es6 to es5

[2016-12-24 06:02] #908 closed

[2016-12-24 06:46] AllenFang commented on #874
@caesarjuly, this is a bug since ```v3.0.0-beta.1```, I've fixed on https://github.com/AllenFang/react-bootstrap-table/releases/tag/v3.0.0-beta.5

so now, you don't need to configure ```withFirstAndLast```, its default value it true, and the pagination will show the first and last page.

[2016-12-25 18:01] Trudko opened #909 "TableHeader: prop type `colGroups` is invalid"
Hi :),

I am getting a warning:

Warning: Failed prop type: TableHeader: prop type `colGroups` is invalid; it must be a function, usually from React.PropTypes.
    in TableHeader (created by BootstrapTable)

with even the simple code as:

    render() {
        return (
            <BootstrapTable data={[{id:1}]} >
                <TableHeaderColumn isKey={true} dataField='id'>ID</TableHeaderColum

[2016-12-25 22:07] bryankennedy commented on #909
I'm seeing this same behavior with React 15.3.2

[2016-12-26 05:18] AllenFang commented on #909
thanks for issue report, I think I made a little mistake on ```v2.8.0```, I'll fix it soon.

[2016-12-26 08:35] zRaspina commented on #269
Hi @AllenFang ,

I used `onDropRow ` and solution1, but the following error was observed:

[code]
Can you help me to fix it man?

[2016-12-26 15:15] jflayhart commented on #909
A changelog would be nice for these latest versions as well. Thanks for all your hard work @AllenFang!

[2016-12-26 15:38] jflayhart commented on #905
For this implementation, I am using version `2.5.5` and I am using dataFormat for the user name cell.

I ended up finding a solution using `e.stopPropagation()`. Would you recommend this approach or should your plugin handle this automatically? The user name cell is like so:
[code]

where `linkUser()` is the dataFormat for the header column.

[2016-12-26 16:08] zorganovic opened #910 "Setting column width with percentage"
Hi
This is an improvement suggestion ! So that the columns widths will better adapt when resizing the application window.

By the way, how the column width is calculated by default ?

[2016-12-26 22:00] rrameshkumar76 opened #911 "Setting a class for edited cell on validation failure"
I currently use the code below to set edited cell color on validation failure. Would it be possible to allow this classname to be passed as part of table options and let the table do this on cell edit validation failure.

I use the remote mode for the bootstrap table. Or is there a better way to achieve this?

code:
validator(){
if (document.querySelector('.editor.edit-text')) {
document.querySele

[2016-12-26 23:48] AllenFang commented on #269
@zRaspina, make sure ```this``` in ```onDropRow``` function in the instance of your component

[2016-12-26 23:51] AllenFang commented on #909
@jflayhart, I'll add the changelog today, I'll figure out what happen to this warning. BTW, this warning  was happened before?

[2016-12-27 00:45] sopheakreth commented on #883
Hi Allen,
These files are many. so how to import?
We import into index.html or anywhere?

[2016-12-27 03:23] rrameshkumar76 commented on #898
Do you all face this error in "npm Enterprise" or a private npm registry?

[2016-12-27 07:48] zRaspina commented on #269
Hi @AllenFang , First thanks for your attention.
I think the location of `this` is true. This is my code, can you check it too?

[code]

[2016-12-27 12:22] ptitFicus opened #912 "onRowMouseOver called with wrong arguments when expandableRow is set"
When using onRowMouseOver on a table with expandableRow set, incorrect arguments are passed to the function : on the first row it works ok, on the second row the third row object is passed, on the third row the fifth object is passed, and so on until the object passed to the callback become undefined.

I think it's caused by the addition of hidden rows when using expandableRow .

Code below is a m

[2016-12-27 12:23] rdroshan24 opened #913 "Cannot read property 'Name' of undefined"
This error is prompted at random as data object in prompt returns undefined values in array

Error :  Uncaught TypeError: Cannot read property 'Name' of undefined
    at TableBody.eval (webpack:///./~/react-bootstrap-table/lib/TableBody.js?:128:32)
    at Array.map (native)
    at TableBody.eval (webpack:///./~/react-bootstrap-table/lib/TableBody.js?:127:47)
    at Array.map (native)
    at TableB

[2016-12-27 14:48] AllenFang commented on #794
Fixed on ```v2.8.0```, there're some example you can check https://github.com/AllenFang/react-bootstrap-table/tree/master/examples/js/column-header-span

[2016-12-27 14:48] #794 closed

[2016-12-27 14:48] AllenFang commented on #519
Released on ```v2.8.0```, there're some [example](https://github.com/AllenFang/react-bootstrap-table/tree/master/examples/js/column-header-span) you can check it

[2016-12-27 14:50] AllenFang commented on #891
@cheapsteak, this feature was support on ```v2.8.0```, check [example](https://github.com/AllenFang/react-bootstrap-table/tree/master/examples/js/column-header-span) here 👍

[2016-12-27 15:20] AllenFang commented on #910
absolutely right, I'll consider to add this feature. The column width be calculate by bootstrap at default(with setting width), is responsive from outer wrapper

[2016-12-27 15:29] AllenFang commented on #911
@rrameshkumar76, we only support the ```editColumnClassName``` for editing cell and ```columnClassName``` on normal cell, this both are configured on ```<TableHeaderColumn>```. so maybe I can try yo add a ```editFailColumnClassName``` or ```editInvalidColumnClassName``` for your requirement.
But I need to give it a try, not sure I can support it.

[2016-12-27 15:33] AllenFang commented on #883
The css files you can found in ```dist``` folder,
```react-bootstrap-table-all.min.css``` include ```toastr```, the other one is not, I recommend you add ```react-bootstrap-table-all.min.css```.

Let me know if you still have any problems

[2016-12-27 15:39] AllenFang commented on #898
yap, this is a workaround for now if you clone and install this repo.

@rrameshkumar76
when did you encounter this issue? is that you clone ```react-bootstrap-table``` and install it?

[2016-12-27 15:41] AllenFang commented on #269
@zRaspina, I think it should be work, but how about following changing:
[code]

[2016-12-27 16:02] jflayhart commented on #909
I am not certain of @Trudko issue, but seems that this only happened when I updated to your plugin to 2.8.0

[2016-12-27 16:16] AllenFang commented on #909
@jflayhart, ```prop type `colGroups` is invalid``` is a known issue, but I dont see the warning you mentioned above, could you please show me your code?

[2016-12-27 16:26] rrameshkumar76 commented on #898
Allen, Thanks a lot for the response.

we are using npm enterprise. I encounter it when i run npm install in my project which has react bootstrap table as dependency.

I also tried just doing npm install react-bootstrap-table or npm install @allenfang/react-toastr , both give the same error.

Would it help creating a new version for react-toastr and using that in table as dependency. Versions earl

[2016-12-27 16:30] rrameshkumar76 commented on #911
Thanks for considering this. If not does it make sense to have the code below exposed as a method within the library that can be triggered using this.props.table.setEditFailColumnClassName.

Code:
setEditFailColumnClassName(className){
if (document.querySelector('.editor.edit-text')) {
document.querySelector('.editor.edit-text').parentElement.className = className;
}
}

[2016-12-27 18:03] cheapsteak commented on #891
Sweet, thanks! :D

[2016-12-27 21:57] rrameshkumar76 commented on #898
@AllenFang  My issue got fixed, for react toastr as its a scoped module, i had add below line to my project npmrc file.

@allenfang:registry=https://replicate.npmjs.com

[2016-12-28 00:48] AllenFang commented on #911
@rrameshkumar76, I don't think this is a good idea, but if I have trouble on implement the props on ```TableHeaderColumn```, I can accept your solution 👍

[2016-12-28 00:50] AllenFang commented on #898
@rrameshkumar76, that's awesome, I think your solution may solve the other people's problems.
Nice share 👍

[2016-12-28 02:12] rrameshkumar76 commented on #911
Thanks. Totally agreed, just was throwing another option in case  props option did not work

[2016-12-28 05:10] caesarjuly commented on #874
really appreciate it 👍

[2016-12-28 07:23] ashabi commented on #909
Great component! But we are having the same error of "TableHeader: prop type `colGroups` is invalid". We are using React 15.4.1 with react-bootstrap-table 2.8.0
Thank you

[2016-12-28 10:33] rdroshan24 commented on #913
Yes. This seems to happen when I attempt to select single/multiple rows to delete and also at random when I page thru the data.

My configuration is in the previous attached file and my react version is 0.14.3.

Please note: This issue does not prompt when I select all rows for deletion

[2016-12-28 12:50] AllenFang commented on #913
ok, but I think it's a little hard for me to reproduce this issue, so if you can give me a rule will be appreciated.

BTW, I saw your row data is use ```Name``` as ```keyField```, so maybe you should confirm your data is well firstly.

[2016-12-28 14:40] nguyenchanhnghia commented on #909
I'm using v2.7.1, and it Warning: Failed prop type: TableHeader: prop type `colGroups` is invalid; it must be a function, usually from React.PropTypes.
    in TableHeader (created by BootstrapTable)
<img width="1432" alt="screen shot 2016-12-28 at 9 32 55 pm" src="https://cloud.githubusercontent.com/assets/7939078/21524061/d3369d62-cd45-11e6-8612-4518b1f52187.png">
with even the simple code in tut

[2016-12-28 14:54] #912 closed

[2016-12-28 14:58] jsangilve commented on #892
@AllenFang I was wondering if this `editColumnClassName` property could also make it to branch v3.0.0. Unless you have an alternative in mind, I could PR to v3.0.0-dev if you want.

[2016-12-28 14:58] AllenFang commented on #909
hi all, this issue fixed on ```v2.8.1```, let me know if this problem still remain.

[2016-12-28 14:58] #909 closed

[2016-12-28 20:25] jflayhart commented on #909
@AllenFang, whatever fix you applied in 2.8.1 seemed to fix the additional error about `"key" prop` I was seeing. Thanks!

[2016-12-29 04:32] nguyenchanhnghia commented on #909
@AllenFang i updated version but warning not disappear. this is my code:
`<BootstrapTable
            data={[{ id: 1 }]}
            striped
            hover
            headerStyle={{ marginBottom: '-20px' }}
            search
            searchPlaceholder="Search ..."
            pagination
            options={options}

            <TableHeaderColumn dataField="id" key={_.uniqueId()} isKey da

[2016-12-29 07:23] cdh8888 opened #916 "table search issue"
My development environment is as follows.

Browser : IE 11 (version : 11.576.14393.0, update version 11.0.38)
pacakge.json :
  "react-bootstrap-table": "^v3.0.0-beta.5",
  "react": "^15.4.0",
  "react-dom": "^15.4.0",
Built using the webpack.

My Test Code :
[code]

The following error occurred :

**I want to know the reason for the error.
Please provide a solution.**

Problem does not occur in th

[2016-12-29 07:27] ashabi commented on #909
the warning disappeared but it seemed to have messed up the Sort ability on the table.

[2016-12-29 08:01] AllenFang commented on #909
have more detail?

[2016-12-29 08:03] AllenFang commented on #909
@nguyenchanhnghia, make sure you have already upgraded to ```v2.8.1```, BTW, as your this [mentioned](https://github.com/AllenFang/react-bootstrap-table/issues/909#issuecomment-269485673), you never get this warning on ```v2.7.1``` because ```v2.8.0``` start to support header column group, so make sure the version you used first.

[2016-12-29 08:07] ashabi commented on #909
i upgraded to 2.8.1 because if I go back to 2.8.0 then the sort function works but the error exists. When i use v2.8.1 there is no error but the sort does not work. the caret arrows don't even appear.

[2016-12-29 08:19] cdh8888 commented on #916
Sorry. Close to my code issue

[2016-12-29 08:19] #916 closed

[2016-12-29 08:30] caesarjuly opened #917 "Can I make table rows draggable using react-dnd and current APIs?"
I find that react-dnd can inject into components and easily make them draggable.
https://github.com/gaearon/react-dnd
Is it possible to customize my own draggable table using it?
Do we expose any API to wrap the table rows?

[2016-12-29 09:06] ptitFicus opened #918 "2.8.1 broke sorting"
After upgrading to v2.8.1, sort icons are not visible anymore and clicking on a header cell does nothing.

Examples of the sort section are broken too.

[2016-12-29 10:47] ashabi commented on #918
I too have this problem v2.8.1

[2016-12-29 12:28] AllenFang commented on #918
Sorry, that's my mistake, I've patch it on ```v2.8.2```, please upgrade it. Let me know if problem still there.

[2016-12-29 12:28] #918 closed

[2016-12-29 12:28] AllenFang commented on #909
Sorry, that's my mistake, I've patch it on ```v2.8.2```, please upgrade it. Let me know if problem still there.

[2016-12-29 14:32] rdroshan24 commented on #913
hi Allen, issues was occurring when I set page option to 0 as below:
 const options = {
		    onSortChange: this.onSortChange,
		    onDeleteRow: this.onDeleteRow,
		    sizePerPage: 5,
		    page:0
		  };
Now, it get resolve, page number should be greater than 0.

Thanks for your reply

[2016-12-29 14:43] ashabi opened #920 "can i embed one table into another?"
i have a table and within the table there is an action button that is supposed to open below it another table. is that possible? if so, what would be the best way to go about it?

[2016-12-29 15:20] AllenFang commented on #892
@jsangilve, https://github.com/AllenFang/react-bootstrap-table/releases/tag/v3.0.0-beta.6  check this out.

[2016-12-29 15:46] AllenFang commented on #917
You can give it a try, I'm not familiar with it.

Any example or idea?

[2016-12-29 15:47] AllenFang commented on #920
@ashabi, I think you want a expandable row, you can check [this](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/expandRow/expandRow.js) out, let me know if you have any questions.

[2016-12-29 15:47] #920 closed

[2016-12-29 16:12] jsangilve commented on #892
@AllenFang you rock man!

[2016-12-29 21:01] ldapmadguy opened #921 "Unable to insert new rows, no modal"
Hi Allen,

I am using Meteor  1.4.2.3, the latest release.
I am not able to insert any new rows, the modal does not appear: the +new button is displayed but while clicking nothing appears. There are no messages of any kind in the console. I've spent some time trying different examples you shared and I'm desperately blocked ...

Here is the piece of code

[code]

I call FruitView  as below

[code]

[2016-12-30 00:49] AllenFang commented on #921
@ldapmadguy, ok, I'll check this out, but if you remove the ```insertModalHeader``` will solve this issue?

[2016-12-30 03:58] AllenFang commented on #921
BTW, did you use ```v3.0.0-beta```?

[2016-12-30 05:20] ldapmadguy commented on #921
By upgrading to the last version `meteor npm install react-bootstrap-table@=v3.0.0-beta.6 -save` it worked! I can't believe I did not see it!

Thanks Allen you're doing a great code !

Cheers, Olivier

[2016-12-30 05:20] #921 closed

[2016-12-30 08:45] elmoro666 opened #922 "Select filter with more than 10 options returns wrong rows"
Hi

If you have a select filter with more than 10 options, the wrong rows are returned. I have created a fiddle that shows this:

https://jsfiddle.net/elmoro666/69z2wepo/66338/

If you select quality1 from the list, all rows with quality1, quality10 and quality 11 are returned. It seems it only checks the leftmost digit for some reason

[2016-12-30 13:34] Trudko commented on #909
Looks great ! thank you for the quick fix.

[2016-12-31 15:47] GregorioDiStefano opened #924 "How to make first row always be a specific entry"
Hi,

Is there anyway to always have the first entry in the table a specific row?
For example, my table must always have "../" as the first element in my table.

I've attemped using 'afterTableComplete', but it doesn't take any parameters.

Any ideas?

[2017-01-01 04:45] AllenFang commented on #913
👍

[2017-01-01 04:45] #913 closed

[2017-01-01 10:35] ashabi opened #925 "custom edit modal"
is it possible to have the edit not open inline but in a modal similar to the insert that can be customized?

[2017-01-01 12:28] zRaspina commented on #251
@AllenFang I need add custom button. Is this functionality available now?
I think it's related to this PR: https://github.com/AllenFang/react-bootstrap-table/pull/528

[2017-01-02 04:21] cyclops24 commented on #497
@AllenFang I have two question:
1) Is custom button on toolbar supports now?
I think it's related to:
https://github.com/AllenFang/react-bootstrap-table/issues/251
and
https://github.com/AllenFang/react-bootstrap-table/pull/528

Something like: https://www.baroukh.com/nb/react-bootstrap-table-doc/#/examples/custom

2) When you plan release version 3 stable version?

[2017-01-02 08:38] AllenFang commented on #922
@elmoro666, sorry for lately reply. actually, the search and filter is all use the ```String.indexOf``` to find the match data, so I think this is not a bug, but I can support the ```eq``` or ```like``` in configuration for user to choose the mode they wanted.

I'll spend some time to implement this feature because there're some people have the same issue or question. Currently, you can custom a s

[2017-01-02 08:52] AllenFang commented on #924
Sorry for lately reply.

it's most like a brainstorm for me and I think we haven't this feature directly for user. The only way I think is use ```remote``` mode and handle all the data changing(sort, search, pagination, filter etc), in your store or something like that, you alway put the specific row at first.

Let me know if you have any question 👍

[2017-01-02 08:52] #924 closed

[2017-01-02 09:01] AllenFang commented on #925
@ashabi, so there's only one field in the modal for editing?  Because ```react-bootstrap-table``` support ```click``` and ```dbclick``` for triggering editing, so if you click a cell, only that cell data can be edited.

In addition, ```react-bootstrap-table``` support the custom editing cell, so I think you can inject a modal in cell for editing, there's a simple custom cell editor, check [this](h

[2017-01-02 09:55] zRaspina commented on #269
Hi @AllenFang , Happy New Year ... 🎄
I used same code as you tell above, but unfortunately it's not working.
This is my code:

[code]

It's my error message on firebug console when I click on my row delete button:
[code]
Can you help me to fix this man? 😉

**/CC:** @bhavikmshah

[2017-01-02 09:59] af-fess commented on #861
I still get the same issue, I use latest version `2.8.2` with dependancies:

[code]
Inside `react-bootstrap-table`:

[code]

[code]

[2017-01-02 10:07] af-fess commented on #838
I still get the same issue, I use latest version `2.8.2` with dependancies:

[code]
Inside `react-bootstrap-table`:

[code]

[code]

[2017-01-02 10:35] AllenFang commented on #269
Happy New Year. try the following:

[code]

add ```this.actionFormatter = this.actionFormatter.bind(this);``` in constructor;

[2017-01-02 10:46] AllenFang commented on #838
@af-fess, what's the version of ```npm``` and could you show me your ```node_modules``` by following command
[code]

[2017-01-02 11:28] lironess opened #927 "expandable row + a with href"
Hi.
I'm using this library (latest version) and its awesome, but I didn't succeed to do 1 thing:
my first table column looks like:
[code]
also - every row on my table is expandable.
I want to make an stop the expanding event when clicking on the <a> element inside that specific column, and moving to the page its href show to. The row will be expanded when I click on every other column or any other

[2017-01-02 11:32] af-fess commented on #838
npm - `2.5.18`

[code]

also I tried to reinstall all `node_modules`, got the same error.

---

The problem is solved by updating `react/react-dom` to latest `15.4.1` that a cannot use for today (have a lot of deps)

[2017-01-02 11:49] elmoro666 commented on #922
@AllenFang Thanks for looking into this. I will try a custom filter in the meantime.

[2017-01-02 11:50] elmoro666 commented on #922
Do you want me to close this one?

[2017-01-02 12:42] ptitFicus commented on #927
I don't think it's possible with the current API, however here is a workaroung that does the trick for me.
The idea is to prevent the click event propagation, therefore the expand of the row is not triggered.

[code]

[2017-01-02 15:00] AllenFang commented on #922
let it open, I'll try to support this feature and give you response here.

[2017-01-02 15:06] ptitFicus opened #928 "Animation on row expand"
I really love the new expandable-row feature, however I got an issue with it : I can't manage to animate the contraction of a row.

I succeeded to animate the expansion using the following code :
[code]
This code isn't great but does the job, however I haven't been able to animate contraction using the same method.

I think it's because the `hidden` attribute is added instantly to the `tr` element

[2017-01-02 15:07] AllenFang commented on #927
thanks @ptitFicus, it's workaround. anyway, ```react-bootstrap-table``` support the ```expandBy``` in ```options``` props, default is ```row```, you can choose ```column``` and configure ```expandable``` on ```TableHeaderColumn``` which you want to make this column expandable, check [this](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/expandRow/expand-row-by-column.js)

[2017-01-02 15:07] #927 closed

[2017-01-03 00:59] venkat-vs-id commented on #901
whats a PR?

[2017-01-03 08:48] rdroshan24 opened #929 "can we add custom bootstrap confirm modal ?"
I would like to show bootstrap confirm modal dialog instead of default browser conform dialog before delete, how can we do so?

[2017-01-03 09:09] elmoro666 commented on #922
@AllenFang Would you mind pointing me to an example/docs for implementing custom select-filter logic? This is the closest thing I can find:

https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/column-filter/select-filter-programmatically.js

[2017-01-03 10:12] ZhuQinglei opened #930 "How to customize expanded row that click on save button unselect the row"
![screen shot 2017-01-03 at 5 59 58 pm](https://cloud.githubusercontent.com/assets/16860302/21604613/13979ca6-d1df-11e6-84e8-4f33d00d7904.png)
I have a customized table implementing with react-bootstrap-table.
When I click the row, it expands with red highlight on the row.
In the expanded row, I can edit fields and save accordingly.
I want to close the expanded row on successful save, and remove t

[2017-01-03 10:40] heikkimu opened #931 "Unique checked for data-prop keys"
I've been debugging many hours for the reasons, why the data in different columns gets messed up. The reason was that the columns had the same name.

[2017-01-03 15:46] AllenFang commented on #928
@ptitFicus, sorry for lately reply,

If I add a class or give a props for you to configure the class on the hidden row(expanding row) is helpful for you to draw your css?

I think so, but I'm not very familiar with css. But if I support the feature as mentioned above, this question(hidden) is not a real issue, right?

[2017-01-03 15:51] AllenFang commented on #901
I mean PR is welcome.

[2017-01-03 16:00] AllenFang commented on #929
we dont support the custom confirm modal, but you can use the ```options.handleConfirmDeleteRow``` to  avoid the default browser confirm, following is a simple example

[code]

Let me know if you have any questions

[2017-01-03 16:00] #929 closed

[2017-01-03 16:04] ptitFicus commented on #928
@AllenFang thank you for your reply.

I actually don't think that adding a class to the expanding row would solve my issue : it would definitely allow simpler css selector when styling an expanding row is needed, however I think the problem here is truly the `hidden` attribute : as soon as the hidden attribute is present on a html tag, I feel like it's not possible to animate this tag anymore (i.e

[2017-01-03 16:07] AllenFang commented on #928
@ptitFicus, thanks you, I'll leave this issue open until someone have the similar issues and we have the same consideration to solve this problem. I will spend some time to figure out it.

[2017-01-03 16:09] AllenFang commented on #922
check [this](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/column-filter/custom-filter.js), I'll support this feature as soon as possible.

[2017-01-03 17:17] AllenFang commented on #930
HI @ZhuQinglei, [this](https://github.com/AllenFang/react-bootstrap-table/issues/927) is a similar issue that you can check it out.

First,  I think you can not expand the row when click on row, because you dont enable ```clickToExpand``` in ```selectRow``` props.

Second, following is a example:
[code]

Third, it's important, the above example can not collapse the row on click save button, I can

[2017-01-04 02:48] ZhuQinglei commented on #930
Dear @AllenFang ,

Thank you so much for the prompt reply, it is really helpful!

Also, thank you for pointing out clickToExpand! I can expand the row without the prop but my colleague using another computer cannot expand the row on click. We couldn't figure out why and now it must be the clickToExpand in selectRow props I missed out.

However, I found that when I have "selected: this.state.select

[2017-01-04 02:52] AllenFang commented on #930
ok~, I'll check this out

Happy New Year

[2017-01-04 05:00] rdroshan24 commented on #929
@AllenFang thanks for your reply, it works for me.

[2017-01-04 10:13] ZhuQinglei commented on #930
@AllenFang I also found that after import react-bootstrap-table css(react-bootstrap-table-all.min.css), the expanded row is overflowing instead of automatically going to next line. I was using bootstrap grid system for the layout (content on left : buttons on right = 9 : 3). But seems it was override by the (react-bootstrap-table-all.min.css).

Also, the table cell is displaying with overflowing c

[2017-01-04 12:13] hctslm opened #932 "Not able to resize columns in body table using jquery-ui"
Hi Allen,

<script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">

componentDidMount(){
		$(function () {
		    $('table th').resizable({
		        handles: 'e',
		        minWidth: 18

[2017-01-04 12:34] mauretanec commented on #878
**@AllenFang**: I think **@hctslm** meant attribute on TD directly. I would also like to be able to set specific attributes to TD like `colspan `and eventually decide whether some TD should be rendered at all.

**Use case**: I have four columns in table and in some rows I need to display just a message which could be easily done when one could define `colspan `on TD and not render the rest of TDs.

[2017-01-04 13:18] AllenFang commented on #931
@heikkimu, could you please show me a minimal example? Thanks

[2017-01-04 13:33] AllenFang commented on #930
@ZhuQinglei,
About the ```selected: this.state.selected```, I think there's no any problem, make sure the ```this.state.selected``` is an array and which should contain the rowKey.

Second about css problem, It's hard to figure why, I think if a minimal and simple repo for me to reproduce this issue is better.

Anyway, I'll try to do more experiment. thanks

[2017-01-04 13:37] AllenFang commented on #932
@hctslm, I think it's hard to use jquery ui to resizing the column, anyway, there's [PR](https://github.com/AllenFang/react-bootstrap-table/pull/807) is force to solve this issue, but it still on reviewing and debugging, so be patient with it. I'll do it as soon as possible

[2017-01-04 14:02] ptitFicus commented on #928
Ok, I spent some time on this, and here is what I think.

I don't think that there is any way of animating row contraction with the current table structure. As mentioned before, this is due to the use of the `hidden` attribute, that instantly hide the table row, making it impossible to animate.

However the hidden tag is not the only issue here. Let's pretend we move down the hidden attribute on t

[2017-01-04 15:50] RacheleMoresi commented on #830
I've got a custom error panel now, and am hiding the toastr with css, but the disableToastr option would be really helpful, I think.

Thanks!

[2017-01-04 17:49] tonthon opened #934 "Strange behaviour with Pagination + sorting"
I've got a large table with 3000 entries that is displayed using pagination
When first filtering on column A, sorting is working well.
If I filter on column B and now on column A again, datas doesn't seem sorted correctly anymore.

Any idea ?

[2017-01-04 22:14] pepepaco commented on #792
I have the same issue, is there any work around available?
thanks!

[2017-01-04 23:20] flasomm opened #935 "Add custom edit button on each cell to open modal form"
Hi Allen,
Is it possible to add a custom button or link on each cell to edit cell in modal form ?
Same question for a delete link ?

Thanks

[2017-01-05 00:16] pepepaco opened #936 "custom page size dropdown style"
I'm using a custom bootstrap theme without JS and the page size dropdown doesn't look OK,
what version of bootstrap is required for it to work? or even better, how could i replace this dropdown with a simple styled select without using the bootstrap one?
im using 3.0.0-beta.6 version that doesn't depend on JS files, but something in my theme interferes with the included dropdown.
thank you !

[2017-01-05 01:30] AllenFang commented on #878
@mauretanec, is not possible in ```react-bootstrap-table```, but I think I can try to support this feature(Add custom attribute on `TD`)

[2017-01-05 01:40] AllenFang commented on #928
@ptitFicus, thanks your investigation, it's awesome.  As your mentioned, it's really hard to tune the structure by ```div``` currently.

Anyway, I thought it's better to solve this issue by pure css instead of a hacky javascript so I'll try to find some solution, but this issue will be a lower priority to process.

Thanks, let me know if you still have any question.

[2017-01-05 01:49] AllenFang commented on #934
@tonthon, could you please explain more detail?  which column is on sorting? The flow of reproducing is like following:

1. Sort column A
2. filter column A
3. filter column B
4. filter column A again with other condition???
5. the problem appear?

[2017-01-05 06:06] hctslm opened #937 "export file format as pdf"
Hi Allen,

After applying the select filter the result needs to be exported into excel as well as pdf formats, It's my requirement
So I have tried exportCSV in my bootstrap table along with the option
csvFileName='table-export', it is exporting the content in text file
csvFileName='table-export.csv', it is exporting the content into excel sheet

same way I need to export the data in pdf format, so

[2017-01-05 11:02] hctslm opened #938 "custom class to export button"
Hi Allen,

Is there any option to have my own css style or custom class for export button

Thanks in advance

[2017-01-05 13:23] sidoruk-sv opened #939 "Table Groups functionality"
Hi, can you help me to find a solution for such table with "Grouping row" (grayed on example image) with saving all others sorting/selecting functionality from this awesome component?

![Grouping table example](http://www.publicissue.gr/en/wp-content/gallery/tomos-meros-2-1/table-7a.jpg)

[2017-01-05 15:04] tonthon commented on #934
sorry I mixed words, it's all about sorting here
1- Sort column A : ok
2- Sort column B : ok
3- Sort column A again : sorting doesn't work anymore.

[2017-01-05 15:13] AllenFang commented on #830
@RacheleMoresi, did you use the cell editing? or the insert modal for a new row(```insertRow```)?

[2017-01-05 15:19] AllenFang commented on #792
remember add jquery and bootstrap.js, but if you want to get rid of them, you can try v3.0.0-beta.6. Your choice.

[2017-01-05 15:30] AllenFang commented on #936
Before ```v3.0.0```, you need the ```bootstrap.js``` absolutely, but you can get ride of it on ```v3.0.0-beta```

sorry I cant get you, which that mean?

BTW, on ```v.3.0.0```, you can custom size per page dropdown, check https://github.com/AllenFang/react-bootstrap-table/blob/v3.0.0-dev/examples/js/custom/pagination/custom-size-per-page.js

[2017-01-05 15:39] AllenFang commented on #937
it's impossible that you can get a PDF well, because csv and pdf have the different format, so is not work that you just change the file name.

BTW, I have no any plan to support the pdf format, so PR is welcome 👍

[2017-01-05 15:39] #937 closed

[2017-01-05 15:47] AllenFang commented on #938
@hctslm, sorry it's can be done in current stable version, but you can try the ```v3.0.0-beta.6```, [there](https://github.com/AllenFang/react-bootstrap-table/tree/v3.0.0-dev/examples/js/custom/csv-button)'re some example for showing how to custom the export csv button.

BTW, I think the beta version for ```v.3.0.0``` is very stable, you can try it.

[2017-01-05 15:47] #938 closed

[2017-01-05 15:53] AllenFang commented on #939
@sidoruk-sv, I think it's hard to do it currently, we only support the header group, but body not yet. BTW, I can try to support it, but it really take some time. BTW, if the sorting the one of the column, what the behavior you expect?

[2017-01-05 15:55] simonberger commented on #902
Hi Allen,

there are plenty of real world examples.
I have two which I could just solve pretty hacky with the current version:

1. On Default filter some rows by a hidden attribute (or by whatever) and create a checkbox on top that displays them. You could think of even a functionallity that automatically adds filter buttons to the table toolbar if you filter hidden columns.
2. Additional to the f

[2017-01-05 15:55] alanqthomas opened #940 "Clarity of `filterFormatted` in Documentation"
## Issue
The `filterFormatted` prop has an unclear description in the documentation. I spent hours trying to figure out why my select filter wouldn't work. It turns out I had included `filterFormatted` in the column (because of the [examples for the select filter](http://allenfang.github.io/react-bootstrap-table/example.html#column-filter)) without fully understanding what it did. Looking at the d

[2017-01-05 15:57] nitishkumar71 opened #941 "Gap between table header and body"
Hi,

I am new to React. I was trying to use react-bootstrap-table, but I am stuck with one strange behaviour.
Don't know why but There is gap between table header and Body.

Plunker Link:

https://embed.plnkr.co/ovKjkeMpUP7UhOvvxvZ9/

[2017-01-05 16:04] AllenFang commented on #941
Forgot to include the css file, https://github.com/AllenFang/react-bootstrap-table#cimport-css 👍

[2017-01-05 16:04] #941 closed

[2017-01-05 16:21] nitishkumar71 commented on #941
I have already included <link rel="stylesheet" src="https://npmcdn.com/react-bootstrap-table/dist/react-bootstrap-table-all.min.css" /> in html, is it wrong?

[2017-01-05 16:30] RacheleMoresi commented on #830
Cell editing.

[2017-01-05 16:30] pepepaco commented on #936
Thank you ill try that, regards.

[2017-01-05 16:32] AllenFang commented on #936
Let me know if you still have any question.

[2017-01-05 16:39] AllenFang commented on #941
@nitishkumar71, I'm not very suggest you to develop a react application in a online editor, bundle it as webpack. I saw your example and the css does't include success, because I inspect the table in the browser, but the styling didn't apply correctly.

[2017-01-05 16:40] AllenFang commented on #941
I found it

`<link rel="stylesheet" href="http://npmcdn.com/react-bootstrap-table/dist/react-bootstrap-table-all.min.css" />`

instead of

`<link rel="stylesheet" src="http://npmcdn.com/react-bootstrap-table/dist/react-bootstrap-table-all.min.css" />`

[2017-01-05 17:24] pepepaco commented on #936
Hello I tried to replace the dropdown but the page size is not being changed:
[code]
is this even possible to do? any help will be really appreciated. thanks!

[2017-01-05 17:54] pepepaco commented on #936
I fixed this by changing the code like this:

[code]
it is working now thanks!

[2017-01-05 17:54] #936 closed

[2017-01-05 17:57] sidoruk-sv commented on #939
I think it would be logical to sort each group separately. Maybe you can route me and I'll try to help you add this functionality to v3 or later.

[2017-01-06 03:56] nitishkumar71 commented on #941
ohh I am Sorry, I should have looked more closely earlier. Thank You for your time.

[2017-01-06 09:10] erapatil commented on #817
Hi..m new to ReactJs and was trying to run the react code from eclipse using the typescript plugin. The error i am facing is this :
    Uncaught TypeError: Cannot read property 'getHeaderColGroup' of undefined
    at t.value (BootstrapTable.js:1168)
    at t.n._adjustHeaderWidth (BootstrapTable.js:154)
    at t.value (BootstrapTable.js:1161)
    at t.n._adjustTable (BootstrapTable.js:150)
    at t

[2017-01-06 17:50] CHRISTOPHERDIEHL opened #942 "Clear Filter Button"
I know that v3.0.0 will allow you to create custom toolbars, but until v3 is out of Beta, is there any way to create a Clear Filter Button beside the Export To Csv button on the toolbar?

I'm sure there is a way using some cluster of JQuery, but I would prefer no to go that route if possible.

[2017-01-06 19:05] #942 closed

[2017-01-06 21:24] bobderrico opened #943 "Wrapping a <TableHeaderColumn> component"
I am running into an issue with wrapping <TableHeaderColumn> in another component. Here is what I am trying to do...

[code]

Essentially, I am abstracting away the `dataFormat` attribute, so that I can reuse this column later without duplicating the logic of creating my `<span className=indicator...>` element.

The usage would look like this:

[code]

However, this approach is not working. My att

[2017-01-07 05:47] AllenFang commented on #902
@simonberger, sorry I'm not very clear that what you mentioned,

yes, [there](https://github.com/AllenFang/react-bootstrap-table/tree/v3.0.0-dev/examples/js/custom/toolbar)'re some examples.

did you have a example for detail explain? I think ```handleFilterData``` is well.

[2017-01-07 05:51] robbert229 commented on #776
I also have encountered this issue.

[2017-01-07 05:56] AllenFang commented on #934
hi @tonthon, sorry for lately reply, so there's nothing about filtering?

[2017-01-07 06:12] AllenFang commented on #940
@alanqthomas, that's awesome explain for ```filterFormatted``` and I think [filter examples](http://allenfang.github.io/react-bootstrap-table/example.html#column-filter) is not very clear for I dont show you the source data which cause you cant understand what's happen in ```enumFormatter```.

Anyway,  ```filterFormatted``` can be used on filter and search, for the purpose of ```filterFormatted```

[2017-01-07 06:15] AllenFang commented on #830
ok, I'll toward https://github.com/AllenFang/react-bootstrap-table/issues/830#issuecomment-260944336 to support the validation fail without ```Toastr```, but it need some time. Thanks

[2017-01-07 06:24] AllenFang commented on #939
I'm not very sure that what's component will be change, I think it's a big change for ```react-bootstrap-table``` and there's a [PR](https://github.com/AllenFang/react-bootstrap-table/pull/721) is for that, but it's not yet ready to merge, still on WIP.

BTW, if want to on each group, it'll be more complex to implement and we need to take care more data manipulation.

[2017-01-07 06:35] AllenFang commented on #817
@erapatil, firstly you forgot to include the css, please check [README](https://github.com/AllenFang/react-bootstrap-table#cimport-css).

Second, I'm not very familiar with ts, so I think I can not help you here.

[2017-01-07 06:35] AllenFang commented on #817
BTW, because @axay have no any response, so I'll open this issue until he has response.

[2017-01-07 06:35] #817 closed

[2017-01-07 06:38] AllenFang commented on #942
I dont know why closing this issue, but you can take [this](https://github.com/AllenFang/react-bootstrap-table/blob/v3.0.0-dev/examples/js/custom/toolbar/custom-button-group.js) example.

Let me know if you still have any question.

[2017-01-07 06:50] AllenFang commented on #943
@bobderrico, I guess because in ```react-bootstrap-table```, I use ```this.props.children``` in the ```BootstrapTable``` to get all the ```TableHeaderColumn```, then get all the props on these children, so as the code you mentioned above,  ```IndicatorColumn``` is actually the child so I can only get the ```dataField```.

Anyway, did you have any concern that you need to wrap ```TableHeaderColumn`

[2017-01-07 08:25] AllenFang commented on #943
close it due to this is not a issue actually. Let me know if you have any concern or question 👍

[2017-01-07 08:25] #943 closed

[2017-01-07 08:40] #878 closed

[2017-01-07 08:40] #911 closed

[2017-01-07 08:40] #922 closed

[2017-01-07 08:45] AllenFang commented on #911
Fixed on ```v2.8.3```, check https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/cell-edit/cell-edit-classname.js#L72

[2017-01-07 08:47] AllenFang commented on #922
@elmoro666, fixed on ```v2.8.3```, check [this](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/column-filter/select-filter-with-eq-condition.js) and let me know if you still have question. Thanks

[2017-01-07 08:48] AllenFang commented on #878
@hctslm, released on ```v2.8.3``` and check [this](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/column/td-attribute-table.js#L31) example.

[2017-01-07 09:40] AllenFang commented on #930
@ZhuQinglei, you can handle the expanding row in the next version, I'll release it soon, BTW, about the view broke when you import the css of ```react-bootstrap-table``` which I can't reproduce this, following is  my screen:

<img width="842" alt="screen" src="https://cloud.githubusercontent.com/assets/5351390/21740815/3c3a0206-d500-11e6-9ee3-28502b195694.png">

the this is the content of expandin

[2017-01-07 11:05] elmoro666 commented on #922
Sweet! It works perfectly. Thanks a bunch. I personally think condition = "eq" should be the default. It makes more sense to me than "like". I'm happy anyway

[2017-01-07 11:38] AllenFang commented on #922
It's hard to do that, because I always use ```String.indexOf``` in the past version, it will be incompatible if I do it.

[2017-01-07 16:45] robbieyng commented on #497
Can anyone provide an update on a multi-select filter?

[2017-01-07 18:37] simonberger commented on #902
It works but its kinda hard to implement and much is a manual process. To go in detail:

It doesn't automatically work together with column filters.
If I am doing handleFilterData it overwrites all column filters. So I did the following:

[code]

I added some comments. I hope you understand what I did there and why. I am pretty sure it could be done in a better way here and there but I would have

[2017-01-08 00:03] rrameshkumar76 commented on #911
Thanks for this update, works great.

[2017-01-08 07:44] amshim opened #944 "Uncaught TypeError: Cannot read property 'Component' of undefined at Object.defineProperty.value"
I am getting the following typeError coming from the react-bootstrap-table.js file. I am trying to get column filtering to work (not columnFilter, but just filter).

`<TableHeaderColumn dataField="id"  filter={{ type: 'TextFilter' }} isKey hidden></TableHeaderColumn>
`

[Screenshot of error](https://i.gyazo.com/397a268cd94cda1ae7b96f3634f90187.png)

[2017-01-08 09:33] AllenFang commented on #944
@amshim, I can't reproduce this issue, could you please show me the whole example code?  Thank you

[2017-01-08 09:37] AllenFang commented on #893
Reopen it until there's a example which can reproduce.

[2017-01-08 09:37] #893 closed

[2017-01-09 01:58] ZhuQinglei commented on #930
@AllenFang Thank you so much for the work! Sorry for the late reply, I was a bit busy with other work and I am still new to github, I did not figure out how to create a repo yet.

Here is the comparison:
Before I add the css:
![screen shot 2017-01-09 at 9 34 27 am](https://cloud.githubusercontent.com/assets/16860302/21755484/910d74d4-d64f-11e6-885b-b6049f87f854.png)

After I add the css:
![screen

[2017-01-09 08:09] stephennyu opened #945 "Give Link to or anchor tag on record data"
Hi,

I tried to read the documentation and try to look into several examples on how to leverage this bootstrap table, however I am unable to find the implementation for my needs here.
Example on what I would like to achieve

[code]
I would like that I can click on invoice name and redirect to invoice detail route, and when I click on product name, it can be redirected to product detail route

How

[2017-01-09 08:29] anujemc opened #946 "How to know checkbox is checked or not for automation"
**Usecase:** In order to write automation test for a component which is based on react-bootstrap-table , we are unable to get checkbox value at any point of time , when I see in developer tool in browser it shows checkbox's attribute value as "on" and it remains "on" whether checkbox is checked or not .

when we use normal checkbox in a form it gives value as "true" in case of checked and "false"

[2017-01-09 14:24] bobderrico commented on #943
That makes more sense then. Thank you!

[2017-01-09 15:05] AllenFang commented on #497
@cyclops24, sorry for lately reply,
1.  yes, there're some [examples](https://github.com/AllenFang/react-bootstrap-table/tree/v3.0.0-dev/examples/js/custom/toolbar), let me know if you still have question about implementation

2, Certainly on February.

[2017-01-09 15:06] AllenFang commented on #497
@robbieyng, https://github.com/AllenFang/react-bootstrap-table/issues/832 have the same issue and like I said I'll do it, but there're a lots of thing need to do, so you can take a custom filter as a workaround and I will support this as soon as possible.

[2017-01-09 15:13] #830 closed

[2017-01-09 15:13] #930 closed

[2017-01-09 15:20] AllenFang commented on #930
@ZhuQinglei, I've fixed the issues that I mentioned before, you can use ```options.expanding``` to control which row you want to display as expanding, just like ```selected```, [This](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/expandRow/manage-expanding.js) is a simple example.

For your case, you just only add expanding to your state then you can collapse the row a

[2017-01-09 15:27] AllenFang commented on #830
@RacheleMoresi, fixed on ```v2.9.0```, check https://github.com/AllenFang/react-bootstrap-table/commit/7ea2d9532d7d2d2a4d6464324193000616da78c5 for example.

If you want to avoid toastr, add ```options.beforeShowError``` and return `false` always

[2017-01-10 00:45] brandontineo opened #947 "My text is too long for the cells and so it turns into "AbbreviatedText...""
How can I format the cells so they just start a new line instead of doing "..."?

[2017-01-10 01:36] #947 closed

[2017-01-10 08:34] hi-bazinga commented on #897
"Expand by column" cannot work if the table is configured with "selectRow", could you help look at this?

[2017-01-10 09:28] AllenFang commented on #897
@hi-bazinga, check https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/expandRow/expand-row-with-selection.js#L78

[2017-01-10 12:39] AllenFang commented on #945
@stephennyu, you can try to use the ```dataFormat```, there are couple [example](https://github.com/AllenFang/react-bootstrap-table/tree/master/examples/js/column-format).

Let me know if you still have question.

[2017-01-10 12:39] #945 closed

[2017-01-10 12:51] AllenFang commented on #946
jquery:
[code]
javascript:
[code]
it's very simple, for your testing, you can get the DOM and try the ```DOM.checked```

Let me know if you still have problem

[2017-01-10 12:51] #946 closed

[2017-01-10 14:02] cristina321 opened #948 "Filter DateTime"
The date search filter does not look good for the signs = y! =

The date search filter does not filter well with the "! =" and "="

[2017-01-10 14:07] cristina321 commented on #773
Hi AllenFang and a datepicker only for date and not hours?

[2017-01-10 14:08] cristina321 opened #949 "Datepicker Only for Date"
Hi AllenFang and a datepicker only for date and not hours?

[2017-01-10 18:42] mvolkmann opened #950 "header widths wrong on first render when using selectRow"
The header widths in the table are wrong when my table initial renders, only when using selectRow.
If I do something that causes the table to re-render, the widths are corrected.
See the attached before and after screenshots.
<img width="367" alt="screen shot 2017-01-10 at 12 40 28 pm" src="https://cloud.githubusercontent.com/assets/79312/21819660/3f8b77e4-d732-11e6-8b49-4623cb03e03a.png">
<img wi

[2017-01-10 20:25] chalda commented on #898
@AllenFang
@rrameshkumar76
i am facing this similar issue now. I upped my version of bootstrap-table because of the react-toastr issue (that i reported 2 months ago and still have no effin response to!!!! https://github.com/tomchentw/react-toastr/issues/85)

unfortunately I am working in a corporate environment and we already have our own private registry so I dont think i can run 2 separate regis

[2017-01-10 20:29] chalda commented on #898
@AllenFang can we make a push to the react-toastr maintainer to merge your fix? This is honestly ridiculous.

[2017-01-10 20:32] Abuitime opened #951 "ExportCSV Row & Column Width"
Hello,

Is there a way to customize or at least format the CSV document that is being downloaded? At least make the column and rows fit to the width of the text, and maybe wrap text?

-Thanks,
Alex

[2017-01-10 23:32] iruslani opened #952 "Expandable Row error 'Uncaught TypeError: _this3.props.adjustHeaderWidth is not a function'"
I'm trying the expandable row example and I'm getting this error in the console every time I click a column or row to expand.

Here is the error I'm getting:
`
Uncaught TypeError: _this3.props.adjustHeaderWidth is not a function`

Anyone else experiencing this also?

[2017-01-11 01:19] AllenFang commented on #950
@mvolkmann, in the newest version and what browser you used?  You got this issue at previous version? thanks

[2017-01-11 01:20] AllenFang commented on #948
I cant got you, I'll open this issue if you can give me more detail or examples. thank you

[2017-01-11 01:20] #948 closed

[2017-01-11 01:23] AllenFang commented on #773
@cristina321, include to the hour, minute and seconds

[2017-01-11 01:24] AllenFang commented on #949
just like this: ```2014-11-11T15:25:33``` so what's your requirement?

[2017-01-11 01:27] AllenFang commented on #898
I have no idea about how to fix the issue from ```react-toastr``` so I lock down the version of react in ```react-toastr```. Best solution is the creator of ```react-toastr``` to fix the issue, but I think he is not there....

[2017-01-11 03:28] AllenFang commented on #951
you can try the ```csvFormat```, check https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/manipulation/export-csv-table.js#L34

BTW, i think it's hard to fit the column to the width of text, but you may use ```csvFormat``` and append some empty string to make them align.

Let me know if you have any question.

[2017-01-11 03:28] #951 closed

[2017-01-11 06:48] venkat-vs-id commented on #901
Hi I have done the logic for Grand-Total. Please have a look and let me know what you think.

[2017-01-11 06:50] venkat-vs-id commented on #939
Yo u have said >>we only support the header group<<
can you please tell me or show me an example of what you mean by "header group"

[2017-01-11 08:04] song-hao opened #954 "Hide noDataText"
Hi, Allen.
I am wondering if I can hide the NoDataText area, and only show the header of the table when there is no data in the table.

![image](https://cloud.githubusercontent.com/assets/7380836/21840219/437b5b9a-d817-11e6-9624-a6a53c3f1db7.png)

[2017-01-11 10:21] AllenFang commented on #954
@song-hao, sorry, we dont support it, but I think I can add this feature in next version

[2017-01-11 11:50] AllenFang commented on #952
it's wired for this error. I will try to make some improvement but I'm not sure my patch can solve this issue. thanks

[2017-01-11 13:04] #800 closed

[2017-01-11 14:37] sidoruk-sv opened #955 "Props warning from ToolBar in v3.0.0-beta.6"
Since React modal v1.6 there are two required props `contentLabel` and `isOpen`: https://github.com/reactjs/react-modal#usage

[2017-01-11 15:03] achraf-jeday commented on #776
Same bug found in Firefox 50.1.0.

[2017-01-11 15:05] AllenFang commented on #939
hi @venkat-vs-id, check these [examples](https://github.com/AllenFang/react-bootstrap-table/tree/master/examples/js/column-header-span)

Let me know if you have any question 👍

[2017-01-11 15:07] AllenFang commented on #776
ok, I'll check this out, BTW, does you guys enable the ```pagination```?

[2017-01-11 15:08] AllenFang commented on #955
thanks for reminding, I'll fix it. 👍

[2017-01-11 15:10] achraf-jeday commented on #776
Yes I am using the pagination and it gets pushed down and overlaps the footer.

[2017-01-11 15:14] AllenFang commented on #776
@achraf-jeday, would you please help me to disable it and test again? thank 👍

[2017-01-11 15:18] achraf-jeday commented on #776
@AllenFang, disabling the pagination doesn't fix the issue because I still see some extra height added at the bottom of the table but the overlapping is gone.

[2017-01-11 15:22] AllenFang commented on #776
ok, last one request, could you give me a screenshot?  Thanks 👍

[2017-01-11 15:25] achraf-jeday commented on #776
![pagination_pushed_down](https://cloud.githubusercontent.com/assets/4772404/21854219/44170952-d81a-11e6-9e86-9cb996a3ae7d.png)

### Note

Removing the inline css rules (height: 100%) would fix the issue.

[2017-01-11 15:37] achraf-jeday commented on #776
I fixed the issue using this :

`.react-bs-table {
  height: auto !important;
}`

[2017-01-11 18:08] iruslani commented on #952
Hello Allen,

Thanks for your reply.
When do you think you will release this patch.

[2017-01-12 00:05] Abuitime opened #956 "Help save to DB"
Hello Allen,

Can you point me in the right direction or guide me through how I can take what the user edited in the cell and save and update the DB. I am wondering if there is already some functionality implemented within the API that does something similar...

Thank you,
Alex

[2017-01-12 01:03] AllenFang commented on #956
@Abuitime, firstly, ```react-bootstrap-table``` can't help  you to save the data into database, it's only a component, but we support a lots of hooks for you can take the data after or before the event trigger.

Back to your case, you can add ```afterSaveCell``` in ```cellEdit``` prop, check [this](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/cell-edit/cell-edit-hook-

[2017-01-12 01:03] #956 closed

[2017-01-12 01:36] Abuitime commented on #956
@AllenFang

Thank you, that example helped! Is there a way to grab all the data that is used in the table?

For example, I am populating the table with data...once the table is edited...grab all data from the table.

I am trying to save the data into the DB with a save button as oppose to making individual calls to the DB every time the cell is saved.

Alex

[2017-01-12 01:40] AllenFang commented on #956
[code]

[2017-01-12 12:13] hctslm opened #957 "export file save format as (.xlsx) instead of .csv"
Hi Allen,

I should save my data in excel sheet  (.xlsx). Is there any option to make this

Thanks in advance

[2017-01-12 14:55] AllenFang commented on #776
awesome, a great workaround, so there's no any gap between pagination and body?

[2017-01-12 15:02] AllenFang commented on #952
I'm not sure, due to busy on work, and this issue its rarely happen, also I can't reproduce it. anyway, I think in sunday or next monday.

[2017-01-12 15:24] #850 closed

[2017-01-12 15:33] #747 closed

[2017-01-12 15:37] AllenFang commented on #957
hi @hctslm, ```react-bootstrap-table``` is only support the csv format and I think it's also hard to transfer the table into a style sheet, I guess it need some library to handle it and it's not a critical feature for this component, so PR is welcome.

Let me know if you still have any concern or you can find a solution for it, I'll consider it

[2017-01-12 15:37] #957 closed

[2017-01-12 16:55] Twistedst opened #958 "Uncaught TypeError when doing Insert Row->Click Save. v3.0.0-beta.5"
ToolBar.js:256 Uncaught TypeError: Cannot read property 'reset' of undefined.

This happens when I use insert row and click save. The error happens, as shown above, in ToolBar.js, line 256 when reset form is called `this.refs.form.reset();`.

ToolBar.js:256 Uncaught TypeError: Cannot read property 'reset' of undefined
    at ToolBar.__handleSaveBtnClick__REACT_HOT_LOADER__ (ToolBar.js:256)
    at

[2017-01-12 20:24] Omenien commented on #1
Is UseCase-2 supported?

[2017-01-12 21:01] Rus-Cosmin opened #959 "Included css files overrides bootstrap css ?"
Hello,
I`m kinda new to react so sorry if i sound so 'noob' . I`m using some buttons from material-ui with tooltips in a row. The problem is that after i include the css for table , the tooltips from the icon buttons hide under the next row

Is there a way to solve this problem?

Thanks

[2017-01-13 02:59] gengjiawen commented on #50
And this is quite common case if you are using graphql.However, you can easily hack it even without eval, google `js flattern object` you will get the answer.

[2017-01-13 06:27] ZhuQinglei commented on #930
@AllenFang Thank you so much for the new version! Actually I can close the expansion in old version.
 with the function:
 ` const isExpandableRow = (row) => {
        return (row._id && (_.contains(this.props.selectedClubs, row._id)))
    };`

what I want is to unselect the row on the button click (remove row hight and uncheck checkbox) in addition to row expansion. I check the new version and aft

[2017-01-13 11:02] josselinh opened #960 "Example with colspan & rowspan"
Hello,

I've followed the example you provide : column-header-span-complex.js

I would like to add a width to the last TableHeaderColumn.
The result is good but I have an error :
``Uncaught TypeError: Cannot read property 'style' of undefined
    at eval (BootstrapTable.js:1222)``

Do you know why ?

Thank you

[code]

[2017-01-13 11:11] josselinh commented on #960
My "hack" is to add a hidden column :-)

[2017-01-13 12:21] hctslm commented on #723
Hi,

I too should have same feature in my application,  could you help me by sending some sample code changes for this, where I need to change to get same functionality

Thanks in advance

[2017-01-13 22:11] Abuitime commented on #956
@AllenFang

Thank you,

Is there support for seeing what column was changed when onAfterSaveCell() is called?

I think currently it gets the whole row object and cell value...

Thank you,
Alex

[2017-01-13 22:12] Abuitime commented on #956
nvm, I forgot about cellName!

[2017-01-14 16:37] Sandip-pal opened #961 "search field is not reverting back when no result found"
While i used some matching criterion in search field, I am getting desired results.
But if search criterion is not matched and no results to display, If I clear also i am not getting the old table back.
Instead I am getting an error 'BootstrapTable.js?028a:1199 -Uncaught TypeError: Cannot read property 'style' of undefined'

[2017-01-14 18:41] vpgayakwad commented on #723
Hello Allen,

You can play with position absolute and relative css to make it work. I did
it that way. If you have any code for your scenario that can help me to
give exact solution.

On 13-Jan-2017 5:51 PM, "hctslm" <notifications@github.com> wrote:

[2017-01-14 23:56] joebone commented on #497
This is probably way too late and has probably been mentioned elsewhere, but it would be good to be able to add a custom summary / footer row to the table, for showing column totals etc.

Obviously as the data in each column is of a different type, the implementation would have to be pluggable. Currently we have a very hacky solution where we modify the html of the component after it has rendered

[2017-01-15 10:59] antonvstepanov opened #962 "Custom insert button"
Hello, Allen! Thanks for the great project!
I would like to use insert button with a custom behavior, based on react-bootstrap library. Are you planning to implement custom handle for insert button in your API like it is done fore delete button (handleConfirmDeleteRow)?
Also I tried and to draw my own button in tool bar just like it was shown in you example “Custom Button Group” but I didn’t manag

[2017-01-15 12:03] AllenFang commented on #958
@Twistedst, sorry for lately reply, I found this error showing after the row added, so is it successful insert row?  Anyway, I'll fix it quickly. Thanks 👍

[2017-01-15 12:18] AllenFang commented on #1
@Omenien, sorry for lately reply, we don't integrate the fetching with backend, but we have the ```remote``` mode which enable you to control the data by yourself instead of ```react-bootstrap-table```, you can check this both [remote-store-filtering.js](https://github.com/AllenFang/react-bootstrap-table/blob/master/examples/js/remote/remote-store-filtering.js) and [remote-filtering](https://githu

[2017-01-15 12:34] AllenFang commented on #959
@Rus-Cosmin, sorry for lately reply, I'm not very familiar with material-ui so could please show me the different part for before and after adding the css of ```react-bootstrap-table```, I thought it's easy that you can check on the chrome with opening inspect.

Let me know if you still have any questions

[2017-01-15 12:53] AllenFang commented on #930
I thought this is about the state of selection, is that the problem about ```selected``` is not work for you?  if true, it was supposed to be work well from very long ago, so could you please make you that your ```selected``` is an row keys array and being updated when you click the save button, if the problem still remain, please let me know, because I've try at my local with a simple example jus

[2017-01-15 13:07] AllenFang commented on #960
@josselinh, sorry I can reproduce this issue, and where's the hidden column, is that a workaround that avoid this issue?

[2017-01-15 14:13] #952 closed

[2017-01-15 14:13] #954 closed

[2017-01-15 14:23] AllenFang commented on #952
Fixed on ```v2.9.1```, check it out 👍

[2017-01-15 14:24] AllenFang commented on #954
@song-hao, supported on ```v2.9.1```, set true to ```options.withoutNoDataText```, check https://github.com/AllenFang/react-bootstrap-table/commit/b003927f983026d1aa08fd313fdb8570d49c7419

[2017-01-15 16:58] cheapsteak opened #963 "Please give `validator` access to row data"
Validator currently only has access to cell value
It would be useful for when rows have different types of values to be able to use different validators depending on other values in the row

[code]

[code]

[2017-01-16 03:20] ZhuQinglei commented on #930
@AllenFang  You are right! It was my redux problem, because I used a non-id column as keyfield and when I update the redux state, I still use array of id for selected row. After I change the keyfield to ids and its working perfect!
Thank you so much!

[2017-01-16 05:06] pceccato opened #964 "Overriding autovalue id with the actual database id?"
My id field is actually the database key and when a cell is updated I use the id field to persist the change to the database.

However when a new row is inserted the key is automatically generated due to the autoValue property on the <TableHeaderColumn>.

Now if the user edits the newly created row, I can't update the database because the id field is not the same as the newly created record in the

[2017-01-16 05:51] pceccato commented on #964
Actually I did some experimenting and it looks like I can change the id in the afterInsertRow() handler and the changed id appears in the grid.

Feel free to close...

[2017-01-16 07:16] hctslm commented on #723
Hi

For row selection i have added a custom image, so I want to freeze the second column
for that I have added  tableHeaderClass = "genericTable" ,tableBodyClass = "genericTable"  in my bootstrap table and in my css file
.genericTable thead tr th:nth-child(2),
.genericTable tbody tr td:nth-child(2){
position: absolute;
}
The common parent for these two tables I have added position:relative in my c